<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="template/template.xhtml">
	
	
	<ui:define name="content">
		<a href="" class="side-btn" onclick="openNav()"><i class="fa fa-bars"></i></a>
		<section class="" >
			
			
			
			
			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <p:dataGrid var="c" value="#{userController.menus}" columns="1"
								layout="grid" update=":form:cname">
								<p:commandLink action="#{userController.url(c.id)}" style="font-size: 12px; font-family: Arial; ">
									<div class="panel panel-info" >
											<div class="panel-heading" style="background-color: #{homeController.bgColorString()};">
												<div class="row">
													<div class="col-md-3">
														<img src="#{applicationController.path}images/icons/#{c.id}.png" width="24" height="24" />
													</div>
													<div class="col-md-9 text-right">
														<h:outputText id="totalname" style="font-size:18px;color:white"
															value='#{homeController.getName(c.name)} ' />
															<p:tooltip for="totalname"  value="Нийт тоо" styleClass="panel panel-info" style="color:green" position="top"  trackMouse="true"/>
						
														<div></div>
													</div>
												</div>
											</div>
											<div class="panel-footer">
												<span class="pull-left"> 
													<label><small>
														<h:outputText id="names" value='#{c.name}'></h:outputText>
													</small> </label>
												</span> 
												<span class="pull-right"> 
													<small> <h:outputText id="textisActive"
																style="color:red" value='#{homeController.getActive(c.name)}' />
															<p:tooltip for="textisActive"  value="Идэвхтэй тоо" styleClass="panel panel-info" style="color:red" position="top"  trackMouse="true"/>
													</small>
												</span>
												<div class="clearfix"></div>
											</div>
										</div>
								</p:commandLink>
						</p:dataGrid>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="homemenu-bar">
						<div class="home-logo">
							<img src="resource/images/home-logo.png" />
						</div>
						<div class="home-menu">
							<ul>
								<li><a href="">Мэдээ мэдээлэл</a></li>
								<li><a href="">Сэтгэгдэл</a></li>
								<li><a href="">Хуудаснууд</a></li>
								<li><a href="resource/images/User_Manual_IPD_v1.pdf" class="color" target="_blank">Гарын авлага</a></li>
								<li><a href="" onclick="PF('logDialog').show();">Шинэчлэлт  <span class="badge badge-info" style="background-color:#f51c1c">3</span> </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="font-size: 12px;" id="push-name">
				<div class="row">
					<p:panel id="panels" styleClass="panel-style border-none no-padding">
					
						<div class="col-md-12">
						
							<div class="row">
								<div class="wrapper">
								<div class="main-content">
								<section class="home-slider">
							        <div class="tp-banner-container">
							            <div class="tp-banner">
							                <ul>
							                	
							                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="resource/images/home-slider.jpg"  data-saveperformance="off"  data-title="We are Awsome">
							                    <img src="resource/images/a3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" /> 
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="center" data-hoffset="15"
							                    data-y="center" data-voffset="-80"
							                    data-speed="1500"
							                    data-start="500"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme">We provide the best medical services</h2></div></div>
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="center" data-hoffset="15"
							                    data-y="center" data-voffset="-10"
							                    data-speed="1500"
							                    data-start="750"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme slide-bg-black slide-psm">Offering the best medical service</h2></div></div>
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="center" data-hoffset="15"
							                    data-y="center" data-voffset="65"
							                    data-speed="1500"
							                    data-start="1000"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    
							                    
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-btn"><a href="#" class="btn-theme btn-round">MAKE AN APPOINTMENT <i class="fa fa-arrow-circle-right"></i></a></div></div>
							                    
							                    
							                    </li>
							                    
							                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="resource/images/home-slider-2.jpg"  data-saveperformance="off"  data-title="With Awsome Services">
							                    <img src="resource/images/home-slider-2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" /> 
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="left" data-hoffset="-15"
							                    data-y="center" data-voffset="-80"
							                    data-speed="1500"
							                    data-start="500"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme">We provide the best medical services</h2></div></div>
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="left" data-hoffset="-15"
							                    data-y="center" data-voffset="-10"
							                    data-speed="1500"
							                    data-start="1000"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme slide-bg-black slide-psm">Offering the best medical service</h2></div></div>
							                    
							                    <div class="tp-caption lfb tp-resizeme"
							                    data-x="left" data-hoffset="-15"
							                    data-y="center" data-voffset="65"
							                    data-speed="1500"
							                    data-start="1500"
							                    data-easing="easeOutExpo"
							                    data-splitin="none"
							                    data-splitout="none"
							                    data-elementdelay="0.01"
							                    data-endelementdelay="0.3"
							                    data-endspeed="1200"
							                    data-endeasing="Power4.easeIn"
							                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-btn"><a href="#" class="btn-theme btn-round">CHECK OUR SERVICES <i class="fa fa-arrow-circle-right"></i></a></div></div>
							                    
							                    
							                    </li>
						                 
							                    
							                </ul>
							                
							            	<div class="tp-bannertimer"></div>
							            </div>
							        </div>
							    </section>
															
				
										  	<section class="blog-section io_pt eo_pb">
										<div class="container">
											<div class="row">
												<div class="col-md-12 section-title text-center">
													<h1 class="title">Мэдээ <span>Мэдээлэл</span></h1>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="blog-post">
														<div class="thumb">
															<img src="resource/images/parallax-2.jpg" alt="" />
															<div class="overlay">
																<a href="#"><i class="fa fa-link icon"></i></a>
															</div>
														</div>
														<div class="news-content">
															<h5 class="title"><a href="">Гемодиализийн эмчилгээ Төлбөргүй </a></h5>
															<div class="meta-tag">
																<a href="#"><i class="fa fa-calendar"></i> 2017-03-19</a>
																<a href="#"><i class="fa fa-eye"></i> 75</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="blog-post">
														<div class="thumb">
															<img src="resource/images/parallax-2.jpg" alt="" />
															<div class="overlay">
																<a href="#"><i class="fa fa-link icon"></i></a>
															</div>
														</div>
														<div class="news-content">
															<h5 class="title"><a href="">Гемодиализийн эмчилгээ Төлбөргүй хийгдэх гэрээнд гарын үсэг зурлаа</a></h5>
															<div class="meta-tag">
																<a href="#"><i class="fa fa-calendar"></i> 2017-03-19</a>
																<a href="#"><i class="fa fa-eye"></i> 75</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="blog-post">
														<div class="thumb">
															<img src="resource/images/parallax-2.jpg" alt="" />
															<div class="overlay">
																<a href="#"><i class="fa fa-link icon"></i></a>
															</div>
														</div>
														<div class="news-content">
															<h5 class="title"><a href="">Гемодиализийн эмчилгээ Төлбөргүй </a></h5>
															<div class="meta-tag">
																<a href="#"><i class="fa fa-calendar"></i> 2017-03-19</a>
																<a href="#"><i class="fa fa-eye"></i> 75</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
															
									
									<section class="theme-overlay overlay-white bg-img io_pt fo_pb">
											<div class="row">
												<div class="col-md-12  section-title text-center">
													<h1 class="comment-title">Сэтгэгдэл</h1>
													<div class="text-right">
														<p:commandLink id="button"
															oncomplete="PF('commentsend').show()" styleClass="btn comment-btn">
															<i class="fa fa-comments"></i>
														</p:commandLink>
													</div>
												</div>
											</div>
											
											<div class="container">
												<div class="row">
														<div class="col-md-12">
														<p:panel styleClass="no-style-panel sliderClass1">
														 <div class="testimonial-slider">
															<ui:repeat var="g" value="#{homeController.listpost}">
																<div class="item">
																	<div class="testimonial-post">
																		<div class="thumb">
																			<img src="#{g.image}" alt="" />
																		</div>
																		<h5 class="testimonial-name">#{g.employeename}</h5>
																		<h5 class="sub-title">
																			<ui:repeat var="gl" value="#{homeController.getpostViewList(g.pkId)}" varStatus="status">
									                                		<h:outputText value=" #{homeController.columnDivide(status.index)} #{gl}," escape="false" />
									                                           </ui:repeat>
									                                      
									                                      <c:if test="#{homeController.getpostViewList(g.pkId).size()>0}">
									                                       <i class="fa fa-mail-forward color-blue"></i>
									                                       </c:if>
								                                       </h5>
								                                       
																		<p>#{g.post}</p>
																		<span><i class="fa  fa-calendar color-red"></i> #{g.getCreatedDateStr()}</span>
																		<ul>
																			<li><p:commandLink id="button"
																				oncomplete="PF('editDialog').show()"
																				actionListener="#{homeController.editPost(g)}"
																				disabled="#{g.senderEmployeePkId != userController.loggedInfo.employeePkId}"
																				update=":form:editdata">
																				<i class="fa fa-edit color-green"></i>
																			</p:commandLink></li>
													<li><p:commandLink 
																				actionListener="#{homeController.deletePost(g)}"
																				oncomplete="PF('confirmDialogDelete').show()"
																				disabled="#{g.senderEmployeePkId != userController.loggedInfo.employeePkId}"
																				update=":form:panels">
																				<i class="fa fa-remove color-red"></i>
																			</p:commandLink></li>
													<li><p:commandLink  
																				disabled="#{g.senderEmployeePkId!=userController.loggedInfo.employeePkId}">
																				<i class="fa fa-reply color-blue"></i>
																			</p:commandLink></li>
																		</ul>
																	</div>
																</div>
															</ui:repeat>
															</div>
															
															</p:panel>
														
														</div>
														<script>
															//<![CDATA[
															$(document).ready(function() {
																$('.testimonial-slider').owlCarousel({
															        loop: true,
															        margin: 15,
															        dots: true,
															        nav: false,
															        navText: [
															          '<i class="fa fa-angle-left"></i>',
															          '<i class="fa fa-angle-right"></i>'
															        ],
															        smartSpeed: 500,
															        autoplay: false,
															        items: 3,
															        responsiveClass: true,
															        responsive: {
															            0: {
															                items: 1,
															                loop: true
															            },
															            480: {
															                items: 1,
															                loop: true
															            },
															            600: {
															                items: 2,
															                loop: true
															            },
															            1000: {
															                items: 2,
															                loop: true
															            },
															            1200: {
															                items: 3,
															                loop: true
															            },
															        }
															    });
															});
												
															//]]>
														</script>
													</div>
											</div>
											
									</section>
									
									
									
									</div>
								</div>
							</div>
								
						</div>
				</p:panel>
				</div>
			</div>
		</section>
		<p:dialog widgetVar="confirmDialogDelete" modal="true"
			resizable="false" width="300" styleClass="confirmDialog"
			closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-delete color-orange" /></td>
					<td class="panel-confirm-dialog-text">Устгагдлаа</td>
				</tr>
			</table>
			
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
							oncomplete="PF('confirmDialogDelete').hide();"
							style="font-size: 12px;color: white;">
							<i class="fa fa-fw fa-times" />#{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1" />
				</div>
			</div>
		</p:dialog>
		<p:dialog widgetVar="confirmDialogSave" modal="true" resizable="false"
			width="300" styleClass="confirmDialog" closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="	fa fa-check-square-o  color-green" /></td>
					<td class="panel-confirm-dialog-text">#{i18n['saveInfo']}</td>
				</tr>
			</table>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-5">
						<p:commandLink styleClass="btn greenBtn"
							oncomplete="PF('confirmDialogSave').hide();"
							update=":form:panels"
							actionListener="#{homeController.panelupdate()}"
							style="font-size: 12px;color: white;">
							<i class="fa fa-check" />#{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1" />
				</div>
			</div>
		</p:dialog>
		<p:dialog widgetVar="editDialog" modal="true" resizable="false"
			width="700" styleClass="confirmDialog" closeOnEscape="true"
			header="Засварлах">
			<p:panel id="editdata" styleClass="panel-style no-padding">
				<ui:repeat var="lp" value="#{homeController.listPostMapPkId}">
					<div class="col-xs-12" style="margin-top: 10px">
						<div class="col-md-2"></div>
						<div class="col-md-2">

							<div class="comment-user">
								<i class="fa fa-user"></i>
								<h:outputText style="font-size:12px" value="  #{lp.firstname}"></h:outputText>
							</div>
						</div>
						<div class="col-md-4">
							<i class="fa fa-calendar"></i>
							<h:outputText style="font-size:12px" value=" #{lp.createDate}"></h:outputText>
						</div>
					</div>
					<div class="col-xs-12" style="margin-top: 10px">
						<p:editor widgetVar="editorWidget" value="#{lp.post}"></p:editor>

					</div>

					<div class="col-xs-12" style="margin-top: 10px">
						<div class="row">
							<div class="col-md-1" />
							<div class="col-md-1" />
							<div class="col-md-1" />
							<div class="col-md-1" />
							<div class="col-md-1" />
							<div class="col-md-1" />
							<div class="col-md-2" />
							<div class="col-md-2">
								<p:commandLink styleClass="btn btn-primary"
									actionListener="#{homeController.update(lp)}"
									oncomplete="PF('editDialog').hide();" update=":form:panels"
									style="font-size: 12px;color: white;">
									<i class="fa fa-check" />#{ i18n['save']}</p:commandLink>
							</div>
							<div class="col-md-2">
								<p:commandLink styleClass="btn redBtn"
									oncomplete="PF('editDialog').hide();"
									style="font-size: 12px;color: white;">
									<i class="fa fa-close" />#{ i18n['cancel']}</p:commandLink>
							</div>

						</div>
					</div>
				</ui:repeat>
			</p:panel>
		</p:dialog>
		
		
		<p:dialog widgetVar="commentsend" modal="true" resizable="false"
			width="600" styleClass="confirmDialog" closeOnEscape="true">
			
			<div class="col-md-12" style="margin-top: 10px">
						<h:panelGrid id="textdata">
							<p:editor widgetVar="editorWidget" id="editor" width="650" style="border:1px solid #e4e4e4;"
								height="200" value="#{homeController.selecttext}">
							</p:editor>
						</h:panelGrid>
					</div>
					<div class="col-md-12">
						<div class="col-md-2" style="margin-top: 10px;">
							<p:selectCheckboxMenu id="listsubOrganizations" label="Кабинет" filter="true"
								filterMatchMode="startsWith" scrollHeight="800"
								value="#{homeController.selectedSubOrgaValue}">
								<p:ajax event="toggleSelect" update="display" listener="#{homeController.action()}"/>
								<p:ajax event="change" update="display" listener="#{homeController.action()}"></p:ajax>
								<f:selectItems value="#{homeController.listsubOrganizations}"
									var="subOrga" itemLabel="#{subOrga.name}"
									itemValue="#{subOrga.pkId}" />
							</p:selectCheckboxMenu>
						</div>
						<div class="col-md-2" style="margin-top: 10px; left: 15px">
							<p:selectCheckboxMenu label="Ажилтан" filter="true" scrollHeight="800"
								filterMatchMode="startsWith" id="display" 
								value="#{homeController.selectedEmployee}">
								<f:selectItems value="#{homeController.employeelist}" var="emp"
									itemLabel="#{emp.firstName}" itemValue="#{emp.pkId}"
									itemDisabled="#{emp.pkId==userController.loggedInfo.employeePkId}" />
							</p:selectCheckboxMenu>
						</div>
						<div class="col-md-1" style="margin-top: 12px; left: 80px">
							<p:commandLink styleClass="btn btn-primary  fa fa-send"
								action="#{homeController.savePost()}"
								oncomplete="PF('confirmDialogSave').show()"
								update="@(.sliderClass1)"> Илгээх
					        </p:commandLink>
						</div>
					</div>
		</p:dialog>
		<p:dialog widgetVar="logDialog" resizable="true" modal="true" 
					width="500" height="300" header="Шинэчлэлт харуулах хэсэг" >
		   <p:panel id="logPanelId">
		     <p:tabView id="logTabId">
		       <p:tab title="шинэчлэлт оруулах" rendered="#{homeController.loginUser}">
		       		<p:panel id="logSavePanelId">
		       		 <div class="row" style="padding:5px 10px 10px 10px ">
		       		    <div class="col-md-12">
		       		    	<p:inputTextarea style="width:100%" placeholder="Гарчиг бичих" value="#{homeController.selectUpgradeLog.name}"/></div>
		       		  </div>
		       		 <div class="row" style="padding:5px 10px 10px 10px ">
		       		    <div class="col-md-12"><p:inputTextarea style="width:100%" placeholder="Тайлбар бичих хэсэг"
		       		    		value="#{homeController.selectUpgradeLog.description}"/></div>
		       		  </div>
		       		<div class="row" style="padding:5px 10px 10px 10px ">
		       		    <div class="col-md-12"><p:inputText style="width:100%" placeholder="Нэмсэн  Ажилтны нэр"
		       		    value="#{homeController.selectUpgradeLog.employeeName}"/></div>
		       		  </div>
		       		 </p:panel>
		       		 <div class="row" style="padding:5px 10px 10px 10px ">
		       		    <div class="col-md-12">
							<p:commandLink styleClass="label label-primary pull-right" actionListener="#{homeController.saveUpgrade()}" value="Хадгалах"/>
						</div>
		       		  </div>
		        </p:tab>
		        
		       <p:tab title="Энэ долоо  хоног">
		        	<p:dataTable resizableColumns="true" value="#{homeController.upgradeLogs}" var="log">
				     <p:column style="width:30px;" >
				       <p:rowToggler rendered="#{log.upgradingLogs.size()>0 ? 'true':'false'}"/>
				      </p:column>
				      <p:column headerText="Огноо" rendered="#{log.upgradingLogs.size()>0 ? 'true':'false'}">#{homeController.getDateConvert(log.createdDate)}</p:column>
				      <p:rowExpansion >
				        <p:dataTable value="#{log.upgradingLogs}" var="upLog">
				          <p:column headerText="Нэр">#{upLog.name}</p:column>
				          <p:column headerText="Тайлбар">#{upLog.description}</p:column>
				          <p:column headerText="Ажилтан">#{upLog.employeeName}</p:column>
				         </p:dataTable>
				       </p:rowExpansion>
				    </p:dataTable>
		        </p:tab>
		        <p:tab title="Өмнөх шинэчлэлт">
		          
		         </p:tab>
		      </p:tabView>
		    </p:panel>
		 </p:dialog>
		<p:remoteCommand name="upgradeName" actionListener="#{homeController.upgrade()}" update="form:logPanelId"/>		
	</ui:define>
	<ui:define name="script">
		<script>
		 $(document).ready(function(){
			 upgradeName();
		 });
			function openNav() {
			    document.getElementById("mySidenav").style.width = "250px";
			    document.getElementById("push-name").style.marginLeft = "250px";
			}
			
			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			    document.getElementById("push-name").style.marginLeft= "0";
			}
	</script>
	<script>
	  function openON() {
	      document.getElementById("commentNav").style.height = "100%";
	  }
	
	  function closeCN() {
	      document.getElementById("commentNav").style.height = "0%";
	  }
	</script>
	<script>
	  function openNnav() {
	      document.getElementById("newsNav").style.height = "100%";
	  }
	
	  function closeNnav() {
	      document.getElementById("newsNav").style.height = "0%";
	  }
	</script>
	
	
	</ui:define>
</ui:composition>