@media screen {
	.am29acdmenu {
		display: block !important;
	}
	.am29acdmenu1 {
		display: none !important;
	}
	.no-print {
		display: block;
	}
	.print {
		display: none;
	}
	.printable {
		display: none;
	}
	.print-hide {
		display: block;
	}
	.printable .ui-datatable .ui-state-default, .printable .ui-datatable .ui-widget-content,
		.printable .ui-datatable tbody td {
		border: none !important;
	}
	.col-md-6 {
		
	}
	.row {
	
	}
}

@media print {
	.am29acdmenu {
		display: none !important;
	}
	.no-print {
		display: none;
	}
	.print {
		display: block;
	}
	.printable {
		display: block;
	}
	.printable .ui-datatable .ui-state-default, .printable .ui-datatable .ui-widget-content,
		.printable .ui-datatable tbody td {
		border: none;
	}
	.printable label, .printable table, .printable .ui-datatable, .printable .ui-datatable *
		{
		font-size: 13px;
	}
	.printable .ui-datatable thead {
		border-bottom: 1px solid #222;
	}
	.print-hide {
		display: none;
	}
	.colored-bg {
		background: #ffdab9 !important;
	}
	.col-md-6 {
		width:  50% !important;
		background: red !important;
	}
	.row {
	
	}
}

/* .confirmDialog .ui-dialog-titlebar,ui-widget-header,ui-helper-clearfix,ui-corner-top,ui-draggable-handle */
/* { */
/* 	background: #dd4b39; */
/* 	border-bottom: 1px solid #dedede; */
/* 	border-radius: 5px 5px 0 0; */
/* } */
.ui-dialog-titlebar, ui-widget-header, ui-helper-clearfix, ui-corner-top,
	ui-draggable-handle {
	
}

.ui-dialog, ui-widget, ui-widget-content, ui-corner-all, ui-shadow,
	ui-draggable, ui-overlay-visible {
	width: 600px;
	height: auto;
	left: 374.5px;
	top: 74.5px;
	box-shadow: none;
	border: 0;
}

.ui-dialog-content, ui-widget-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
	color: #4f4f4f;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
}

.ui-treetable, ui-widget, uk-table, uk-table-striped, treeTabe {
	background: transparent;
	color: #fff;
	box-shadow: none;
	text-shadow: none;
	border-style: none;
}

label.daa_label_xaxa {
	font-weight: 100 !important;
	font-size: 12px !important;
}

#dvLoading {
	background: #000 url(../images/36.gif) no-repeat center center;
	height: 100px;
	width: 100px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
}

.ui-dialog-content, ui-widget-content {
	margin: 10px;
}

.ui-datatable-tablewrapper {
	font-family: 'Arial', sans-serif;
	display: block;
	font-size: 1em;
	list-style: none;
	font-weight: normal;
	line-height: 20px;
	text-shadow: none;
	padding-bottom: 1px;
}

.ui-state-default thead {
	color: #fff;
	background-color: #0099ff;
}

.tableClass {
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	white-space: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.tableClass thread {
	background: #e8eaeb;
	box-shadow: none;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	white-space: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: table-header-group;
	border-collapse: collapse;
	font: inherit;
	color: #444;
}

.tableClass thread th {
	background: #dedede;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	text-align: center !important;
	padding: 8px 10px !important;
	color: #383838 !important;
	text-shadow: none !important;
	font-weight: 400 !important;
	font-size: 13px;
	white-space: normal !important;
	border: 1px solid #e0e0e0 !important;
	line-height: 20px;
}

div.myTable {
	background: transparent;
	width: 100%;
	display: block;
	overflow: auto;
}
div.myTable.scroll-none {
	width:100%;
	overflow:visible;
}
div.myTable.myscroll {
	height: 150px;
	margin-bottom: 10px;
}
div.myTable .ui-datatable-tablewrapper table {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: 1px solid #000;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	color: black;
	white-space: normal;
}

div.myTable .ui-datatable-tablewrapper table thead {
	background-color: #E8EAEB;
}

div.myTable .ui-datatable-tablewrapper table thead tr th {
	border: 1px solid #e7ecf1;
	font-weight: 100;
	text-align: center;
	padding: 5px;
	color: black;
	font-size: 11px;
	cursor: default;
	background: #fff;
}

#cash div.myTable .ui-datatable-tablewrapper table thead tr th {
	font-size: 13px;
}

div.myTable.scroll-hidden {
	overflow-y:hidden;
}
div.myTable.scroll-hidden:hover {
	overflow-y:auto;
}
div.smallTable .ui-datatable-tablewrapper table thead tr th {
	padding: 5px;
}

div.smallTableq .ui-datatable-tablewrapper table thead tr th {
	display: none;
}

div.myTable .ui-datatable-tablewrapper table thead tr th:hover {
	background-color: #C6CDD0;
}

div.myTable .ui-datatable-tablewrapper table tbody tr td {
	border: 1px solid #e7ecf1;
	font-weight: 100;
	font-size: 13px;
	margin: 0px;
	padding: 2px 0px;
	background: #fff;
	color: #666;
	border-spacing: 0;
	cursor: default;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
}

div.myTableq .ui-datatable-tablewrapper table tbody tr td {
	padding: 0px !important;
}

u, ins {
	text-decoration: underline;
	font-family: 'Arial', sans-serif !important;
}

div.myTable .ui-datatable-tablewrapper table tbody tr:hover {
	background-color: #DCDCDC;
}

div.myTable .ui-state-highlight {
	border: 1px solid #666666;
	background: #FFFFFF
		-webkit-gradient(linear, left top, left bottom, from(rgba(241, 241, 241,
		0.32)), to(rgba(109, 109, 109, 0.4)));
}

div.myTable .ui-state-highlight td {
	text-shadow: none;
	font-weight: bold !important;
}

.ui-datatable-empty-message td {
	text-align: center;
	padding: 5px 10px !important;
}

div.myTable .index {
	text-align: center;
	width: 50px;
}

div.myTable .id {
	text-align: center;
}

div.myTable .text {
	text-align: left;
	padding-left: 2px !important;
	padding-right: 2px !important;
}

div.myTable .date {
	text-align: center;
	width: 100px;
}

div.myTable .date-time {
	text-align: center;
	width: 100px;
}

div.myTable .button-icon {
	text-align: center;
	width: 40px;
}

div.myTable .button-icon .fa, .uk-icon, .glyphicon {
	font-size: 17px;
}

div.myTable .short-number {
	text-align: center;
	width: 30px;
}

div.myTable .short-text {
	text-align: center;
	width: 60px;
}

div.myTable .amount {
	text-align: right;
	padding-right: 5px !important;
}

div.myTable .ui-row-toggler {
	margin: 0 auto;
}

div.myTable .row-expansion {
	background-color: #F3F3F3;
}

div.myTable .row-expansion:hover {
	background-color: #F3F3F3 !important;
}

div.myTable .ui-datatable-footer {
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #ddd;
	border-top: none;
}

div.myTable .ui-datatable-footer a {
	background-color: #fff;
	width: 100%;
	display: block;
	font-size: 12px;
	border: 1px dashed #3498db;
	color: #3498db;
	padding: 5px;
	font-weight: 100;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

div.myTable .ui-datatable-footer a:hover {
	-moz-transform: translateY(-2px);
	-webkit-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}
div.myTable .surgeryIndex {
	text-align: center;
	width: 20px;
}
div.myTable .surgeryDate {
	width: 80px;
}
div.myTable .surgeryTime {
	width: 60px;
}
.row-expansion div.myTable {
	-webkit-box-shadow: inset 1px 1px 4px 0px #969696;
	box-shadow: inset 1px 1px 4px 0px #969696;
}

.row-expansion td:first-child {
	padding: 0px !important;
}

.row-expansion div.myTable .ui-datatable-tablewrapper table thead tr th
	{
	padding: 5px;
	background: #E8EAEB;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	font-size: 13px !important;
	background: #FFF;
	font-family: 'Arial', sans-serif !important;
}

.ui-expanded-row-content div.myTable {
	padding: 5px 5px 5px 49px;
}

.hoverInput {
	width: 100%;
	margin: 0px;
	padding: 5px;
	border: 1px solid #B4D7EC;
}

.hoverInput:hover {
	cursor: pointer;
}

.input {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: white;
	padding: 5px;
	border: 0px;
}

.text-align-right {
	text-align: right;
}

.selectioninput {
	border: 1px solid #B4D7EC;
	box-shadow: inset 1px 1px 4px #B4D7EC;
	-moz-box-shadow: inset 1px 1px 4px #B4D7EC;
	-webkit-box-shadow: inset 1px 1px 4px #B4D7EC;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #666666;
	background: #3C8DBC;
	background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	background: #3C8DBC
		-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)),
		to(rgba(0, 0, 0, 0)));
	color: WHITE;
	/* text-shadow: 1px 1px 1px #333333; */
}

ul.customerRequestList {
	list-style: none;
	width: 100%;
	min-height: 35px;
	color: white;
	display: block;
	overflow: auto;
}

ul.customerRequestList li {
	float: left;
	margin-top: 0px;
	padding: 5px 10px 5px 10px;
}

ul.customerRequestList li.activeListBtn {
	background-color: rgb(60, 141, 188);
	padding: 5px 10px 5px 10px;
}

ul.customerRequestList li.activeListBtn a {
	background-color: rgb(60, 141, 188);
	padding: 5px 10px 5px 10px;
	color: white;
}

ul.customerRequestList li a {
	color: black;
}

ul.customerRequestList li.calendarItem {
	width: 50%;
	background-color: white;
	font-size: 12px;
	text-align: left;
	font-size: 12px;
}

.calendarItem {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: black !important;
	background-color: white;
	font-size: 11px !important;
	text-align: left;
}

.calendarItem0 {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: black !important;
	background-color: #d2d6de;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemSelect {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: #3c8dbc;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemSelect0 {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: red;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemSelect1 {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: #f39c12;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemSelect2 {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: green;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemComplete {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: #00A65A;
	font-size: 11px !important;
	text-align: left;
}

.calendarItemComplete1 {
	min-height: 10px;
	display: block;
	float: left;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 5px;
	color: white !important;
	background-color: #00A65A;
	font-size: 11px !important;
	text-align: left;
	opacity: 0.5;
	cursor: default;
}

div.myTable .ui-treetable table {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: 1px solid #ddd;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	color: black;
	white-space: normal;
}

div.myTable .treetable table thead {
	background-color: #E8EAEB;
}

div.myTable .treetable table thead tr th {
	border: 1px solid #ddd;
	font-weight: 100;
	text-align: center;
	padding: 10px 10px 10px 10px;
	color: black;
	font-size: 13px;
}

div.myTable .treetable table thead tr th:hover {
	background-color: #C6CDD0;
}

div.myTable .treetable table tbody tr td {
	border: 1px solid #ddd;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: black;
	border-spacing: 0;
}

div.myTable .treetable table tbody tr:hover {
	background-color: #EFF0F0;
}

/*
asd asd as dsa
*/
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

p {
	line-height: 1.33em;
	color: #3E3E3E;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.ui-dialog-content {
	overflow: hidden !important;
}

.dialog-scroll .ui-dialog-content {
	overflow-y: auto !important;
}

.ui-widget-overlay {
	background: #000 !important;
}

.no-style-panel {
	margin: 0px !important;
	padding: 0px !important;
	border: none;
	background-color: transparent;
}

.no-style-panel>.ui-panel-content, .no-style-panel>.ui-widget-content {
	padding: 0px !important;
	margin: 0px !important;
	border: none;
	color: inherit;
	font-size: inherit
}

.no-style-panel .ui-widget:first-of-class {
	color: inherit;
	font-size: inherit
}

.table-highlighted tr:first-child {
	background-color: #A3D1E6;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	display: block;
	width: 64px;
	height: 64px;
	-moz-animation: 1s spin infinite cubic-bezier(0.255, 0.2, 0.315, 0.455);
	-webkit-animation: 1s spin infinite
		cubic-bezier(0.255, 0.2, 0.315, 0.455);
	animation: 1s spin infinite cubic-bezier(0.255, 0.2, 0.315, 0.455);
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
}

.loader span, .loader span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 64px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-moz-border-radius-topleft: 32px;
	-webkit-border-top-left-radius: 32px;
	border-top-left-radius: 32px;
	-moz-border-radius-bottomleft: 32px;
	-webkit-border-bottom-left-radius: 32px;
	border-bottom-left-radius: 32px;
}

.loader span:before {
	content: "";
	border: 9px solid #fff;
	border-right-color: transparent;
	-moz-animation: 4s mask infinite linear;
	-webkit-animation: 4s mask infinite linear;
	animation: 4s mask infinite linear;
}

.loader span:nth-child(1) {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.loader span:nth-child(2) {
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.loader span:nth-child(2):before {
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@
-moz-keyframes mask { 0% {
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

25%
{
-moz-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
50%
{
-moz-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
75%
{
-moz-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
100%
{
-moz-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
}
@
-webkit-keyframes mask { 0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

25%
{
-webkit-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
50%
{
-webkit-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
75%
{
-webkit-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
100%
{
-webkit-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
}
@
keyframes mask { 0% {
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

25%
{
-moz-transform




:


 


rotate




(180
deg


);
-ms-transform




:


 


rotate




(180
deg


);
-webkit-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
50%
{
-moz-transform




:


 


rotate




(180
deg


);
-ms-transform




:


 


rotate




(180
deg


);
-webkit-transform




:


 


rotate




(180
deg


);
transform




:


 


rotate




(180
deg


);
}
75%
{
-moz-transform




:


 


rotate




(360
deg


);
-ms-transform




:


 


rotate




(360
deg


);
-webkit-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
100%
{
-moz-transform




:


 


rotate




(360
deg


);
-ms-transform




:


 


rotate




(360
deg


);
-webkit-transform




:


 


rotate




(360
deg


);
transform




:


 


rotate




(360
deg


);
}
}
@
-moz-keyframes spin { 0% {
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-moz-transform




:


 


rotate




(359
deg


);
transform




:


 


rotate




(359
deg


);
}
}
@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform




:


 


rotate




(359
deg


);
transform




:


 


rotate




(359
deg


);
}
}
@
keyframes spin { 0% {
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-moz-transform




:


 


rotate




(359
deg


);
-ms-transform




:


 


rotate




(359
deg


);
-webkit-transform




:


 


rotate




(359
deg


);
transform




:


 


rotate




(359
deg


);
}
}
.ui-widget-overlay {
	animation: fadeIn linear 0.3s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: fadeIn linear 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: fadeIn linear 0.3s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: fadeIn linear 0.3s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: fadeIn linear 0.3s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}

@
keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity




:




0
.3




;
}
}
@
-moz-keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity




:




0
.3




;
}
}
@
-webkit-keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity




:




0
.3




;
}
}
@
-o-keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity




:




0
.3




;
}
}
@
-ms-keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity




:




0
.3




;
}
}
.ui-overlay-visible {
	animation: fadeInDown ease 0.3s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards; /*when the spec is finished*/
	-webkit-animation: fadeInDown ease 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: fadeInDown ease 0.3s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-moz-animation-fill-mode: forwards; /*FF 5+*/
	-o-animation: fadeInDown ease 0.3s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-o-animation-fill-mode: forwards; /*Not implemented yet*/
	-ms-animation: fadeInDown ease 0.3s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	-ms-animation-fill-mode: forwards; /*IE 10+*/
}

@
keyframes fadeInDown { 0% {
	opacity: 0;
	transform: translate(0px, -25px);
}

100%
{
opacity




:




1;
transform




:


  


translate




(0
px
,
0
px




)
;
}
}
@
-moz-keyframes fadeInDown { 0% {
	opacity: 0;
	-moz-transform: translate(0px, -25px);
}

100%
{
opacity




:




1;
-moz-transform




:


  


translate




(0
px
,
0
px




)
;
}
}
@
-webkit-keyframes fadeInDown { 0% {
	opacity: 0;
	-webkit-transform: translate(0px, -25px);
}

100%
{
opacity




:




1;
-webkit-transform




:


  


translate




(0
px
,
0
px




)
;
}
}
@
-o-keyframes fadeInDown { 0% {
	opacity: 0;
	-o-transform: translate(0px, -25px);
}

100%
{
opacity




:




1;
-o-transform




:


  


translate




(0
px
,
0
px




)
;
}
}
@
-ms-keyframes fadeInDown { 0% {
	opacity: 0;
	-ms-transform: translate(0px, -25px);
}

100%
{
opacity




:




1;
-ms-transform




:


  


translate




(0
px
,
0
px




)
;
}
}
.error {
	color: #EA8B8B !important;
	font-weight: 100;
	font-size: 12px;
}

input.error {
	color: black !important;
	font-weight: bold;
}

label {
	font-size: 10px !important;
}

select {
	font-size: 10px !important;
}

.clendar {
	background-color: white !important;
}

.borderlessPanel {
	border: none !important;
	padding: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.borderlessPanel1 {
	border: none !important;
	padding: 0px !important;
	
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 5px !important;
}

.minimal {
	backround-color: #ffffff !important;
}

.ui-radiobutton {
	margin: 0px 10px 0px 10px;
}

p, td, tr, label, input, h1, h2, h3, span, a {
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.ui-widget {
	font-family: 'Arial', sans-serif;
}

.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
}

.row.flex-container {
	margin-bottom: 3px;
}

.flex-center-self {
	align-self: center;
	margin: 0px !important;
}

.flex-center-self label {
	margin-bottom: 0px;
}

.date-control {
	width: 80px;
}
.date-control-time {
	width: 60px;
}
.date-control input {
	width: 80px;
	text-align: center;
}

.number-control {
	text-align: right;
}

.text-control {
	padding: 12px 6px 12px 0px;
}

.label-asterisk:after {
	content: "  *";
	color: red;
	font-size: 12px;
	/*     position:absolute; */
	/*     top: 0px; */
	/*     right: -3px; */
}

.profile-image-container {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.profile-image-container img {
	align-self: center;
}

.profile-image-bar {
	position: absolute;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	left: 0;
	bottom: -1px;
	height: 15px;
	width: 100%;
	padding: 0px 5px;
	line-height: 10px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.profile-image-bar a, .profile-image-bar input {
	align-self: center;
	font-size: 10px;
	color: #fff;
}

.profile-image-bar:hover {
	height: 30px;
	background: rgba(0, 0, 0, 0.7);
}

.profile-image-bar:hover a {
	font-size: 10px;
}

.profile-image-bar:hover a:last-child {
	font-size: 15px;
}

@
-webkit-keyframes zoomIn {from { opacity:0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
}

50%
{
opacity




:


 


1;
}
}
@
keyframes zoomIn {from { opacity:0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
}

50%
{
opacity




:


 


1;
}
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.color-green {
	color: #27AE60 !important;
}

.color-red {
	color: #d14233 !important;
}

.color-blue {
	color: #00adef !important;
}

.color-purple {
	color: #9b50ba !important;
}

.color-black {
	color: #2C3E50 !important;
}

.color-yellow {
	color: #f1c40f !important;
}

.color-orange {
	color: #f39c12 !important;
}

.color-grey {
	color: #95a5a6 !important;
}

.panel-confirm-dialog {
	width: 100%;
	margin-bottom: 20px;
}

.panel-confirm-dialog-icon {
	width: 40px;
	font-size: 25px;
	padding: 5px;
}

.panel-confirm-dialog-text {
	font-size: 15px;
}

.text-align-left {
	text-align: left !important;
}

.text-align-right {
	text-align: right !important;
}

.text-align-center {
	text-align: center !important;
}

.remove-margin {
	margin: 0px !important;
}

#form:list_content {
	padding: 0px;
	margin: 0px;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.margin-vertical {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-horizontal {
	margin-left: 10px;
	margin-right: 10px;
}

.table-checkbox tr {
	padding: 5px 0px;
}

.table-checkbox .ui-chkbox {
	margin: 5px;
}

.card-contianer {
	width: 100%;
	border: 1px solid #22A3E0;
	background-color: #fff;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.card-picture {
	width: 100px;
	margin: 10px;
}

.card-info-container {
	width: calc(100% - 125px);
	margin-top: 15px;
}

.card-info-row {
	margin-bottom: 10px;
	position: relative;
}
.card-info-row.marginbot-3 {
	margin-bottom: 3px !important;
}
.card-info-label {
	margin-left: 15px;
	width: calc(100% - 40px);
	font-size: 13px !important;
	border-left: 2px solid #44A8E2;
	font-weight: normal;
	padding-left: 5px;
	font-family: 'Arial', sans-serif;
	color: #333;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.card-info-value {
	text-align: center;
	width: 30px;
	margin-left: -15px;
	margin-right: 10px;
	font-size: 15px !important;
	position: absolute;
	overflow: hidden;
	font-family: 'Arial', sans-serif;
	color: #44A8E2;
	z-index: 1;
}

.card-info-value:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #44A8E2;
	overflow: hidden;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: 0.5s, opacity 0.5s, background-color 0.5s;
	transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
	z-index: -1;
}

.card-info-payment {
	cursor: default;
}

.card-info-row:hover .card-info-label {
	padding-left: 10px;
	border-left-color: #E24444;
}

.card-info-row:hover .card-info-value {
	color: #fff;
}

.card-info-row:hover .card-info-value:before {
	opacity: 1;
	background-color: #44A8E2;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.customerRequestList li:hover {
	background-color: rgb(60, 141, 188);
	padding: 5px 10px 5px 10px;
}

.customerRequestList li:hover a {
	color: #fff;
}

.lava {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 30px;
	border: 1px solid #00A1FF;
	background: #fff;
	opacity: 0;
}

.month-item {
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.month-item a {
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.month-item:hover a {
	color: #00A1FF;
	
}

.activeBtn {
	background-color: #0093d7;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.activeBtn a {
	color: #fff;
}

.activeBtn:hover {
	background-color: #fff;
	border-color: #00A1FF;
}

.activeBtn:hover a {
	color: #3c8dbc;
}
.activeBtn1{
	border:1px solid #00A1FF;
	background-color: #C5CAE9;
	-moz-border-radius: 35px;
	border-radius: 35px;
}
.activeBtn1 a {
	color: #fff;
}

.activeBtn1:hover {
	background-color: #C5CAE9;
	border-color: #B0BEC5;
}

.activeBtn1:hover a {
	color: #3c8dbc;
}


.month-item-position {
	position: relative;
	margin-left: -15px;
	padding: 0px;
}

.line-container .month-item-position:nth-child(even) .month-item {
	margin-top: 0px;
	border: 1px solid #3c8dbc;
}

.line-container .month-item-position:nth-child(even) .month-item:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 1px;
	height: 10px;
	background: #3c8dbc;
}

.line-container .month-item-position:nth-child(even) .month-item:before
	{
	content: '';
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	width: calc(100% - 13px);
	height: 1px;
	background: #3c8dbc;
}

.month-item-position:nth-child(odd) {
	margin-top: 50px;
}

.line-container .month-item-position:nth-child(odd) .month-item {
	border: 1px solid #3c8dbc;
}

.line-container .month-item-position:nth-child(odd) .month-item:after {
	content: '';
	position: absolute;
	top: -12px;
	left: 50%;
	width: 1px;
	height: 12px;
	background: #3c8dbc;
}

.line-container .month-item-position:nth-child(odd) .month-item:before {
	content: '';
	position: absolute;
	top: -12px;
	left: 50%;
	width: calc(100% - 13px);
	height: 1px;
	background: #3c8dbc;
}

.line-container .month-item-position:last-child .month-item:before {
	content: none;
}

.login-box-style {
	background: rgba(255, 255, 255, 0.81);
	/* 	-webkit-box-shadow: inset 0 0 2px 2px #C7C7C7; */
	/*     box-shadow: inset 0 0 10px 1px #A0A0A0; */
}

.login-page {
	background: url('../images/login-background.jpg') no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* 	background: #7abcff; Old browsers */
	/* 	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); FF3.6-15 */
	/* 	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); Chrome10-25,Safari5.1-6 */
	/* 	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); IE6-9 */
}

.input-icon:focus ~.form-control-feedback {
	color: #3c8dbc;
}

.ui-icon-bullet {
	background-position: -81px -146px;
}

.panel-style.ui-panel {
	padding: 0px;
	border-radius: 0px;
	border: 0px;
	background-color: #fff;
	border: solid 1px #e0e0e0;
}
.panel-style.ui-panel.border-none {
	border: none;
}
.panel-style.ui-panel .ui-panel-titlebar {
	border-radius: 0px;
	padding: 4px 10px 3px 5px;
	border: none;
	border-bottom: solid 1px #e0e0e0;
	background: #fff;
}
.panel-style-2.ui-panel .ui-panel-titlebar {
	border-radius: 0px;
	padding: 4px 10px 3px 5px;
	border: none;
	border:2px solid #33afde;
	color:#fff;
	background: #4CAF50;
}
.panel-style-3.ui-panel .ui-panel-titlebar {
	border-radius: 0px;
	padding: 10px;
	border: none;
	color:#111 !important;
	border-bottom: 1px solid #eee;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
	font-weight: 600 !important;
	background: #fff;
}
.panel-style-3.ui-panel .ui-panel-titlebar span {
	color:#292b2c !important;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600 !important;
}
.panel-style-3.ui-panel {
	border:1px solid #e4e4e4;
	-webkit-box-shadow: 0px 0px 8px 5px rgba(237,237,237,0.59);
	-moz-box-shadow: 0px 0px 8px 5px rgba(237,237,237,0.59);
	box-shadow: 0px 0px 8px 5px rgba(237,237,237,0.59);
}
.panel-style.ui-panel .ui-panel-title {
	text-shadow: none;
	color: #3498db;
}

.panel-style.ui-panel .ui-panel-titlebar-icon, .panel-style.ui-panel .ui-panel-titlebar-icon:hover,
	.panel-style.ui-panel .ui-panel-titlebar-icon:focus {
	margin-top: 0px;
	border-radius: 0px;
	border-color: #fff;
}

.info-text {
	border: 0px;
}

.form-table {
	font-size: 11px !important;
}

.form-table tr {
	border-width: 0px;
}

.form-table td {
	border-width: 0px;
}

.form-table.bordered {
	
}

.form-table.bordered tr {
	border-width: 1px;
}

.form-table.bordered td {
	border-width: 1px;
}

.form-table-label {
	font-weight: 600;
	word-break: break-word;
}

.after-before-table:before {
	display: table;
	content: " ";
}

.tree-header {
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 2px;
	color: #6D6D6D;
}

.no-padding .ui-panel-content {
	padding: 0px;
}
.bx-padding .ui-panel-content {
	padding: 5px;
}
.color-hint {
	color: #585858;
	font-size: 13px;
}

.ui-widget-content {
	color: #666f77;
	border:none;
	border-top:none;
	padding:0;
}

.tabpanel-no-padding .ui-tabs-panel {
	padding: 0px;
	border-width: 1px;
}

.ui-tree {
	width: auto;
}

.ui-tree .ui-treenode-label {
	/* 	font-size: 12px; */
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	margin: 0px;
}
/* New Design */
.hidden-topbar #layout-topbar-cover {
	top: -52px;
}

.hidden-topbar #layout-menu-cover {
	top: -0px;
}

.hidden-topbar .wrapper-content {
	
}

#layout-topbar-cover {
	background-color: #59B3D5;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 11rem;
	position: fixed;
	top: 0px;
	z-index: 999;
	height: 52px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#layout-topbar {
	width: 100%;
	height: auto;
	display: table;
	box-sizing: border-box;
}

#topbar-menu {
	float: right;
	margin: 0px;
	padding: 0px;
}

#topbar-menu>li {
	display: inline-block;
	float: left;
}

#topbar-menu>li a {
	padding: 12px;
	float: left;
	display: inline-block;
	cursor: pointer;
	font-size: 1.6rem;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.company-name {
	padding: 1.5rem;
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.6rem;
	display: inline-block;
	float-left;
}

#topbar-menu>li a i {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.7);
	vertical-align: middle;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#logo {
	padding: 1.5rem 0.5rem 1.5rem 0px;
	display: inline-block;
	float: left;
}

#topbar-menu>li a .tb-menu-text {
	margin-right: 5px;
}

#topbar-menu>li a:hover, #topbar-menu>li a:active, #topbar-menu>li a.active
	{
	background-color: rgba(255, 255, 255, 0.1);
}

#layout-menu-cover {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 998;
	display: table;
	table-layout: fixed;
	border-bottom: solid 1px #dfe1e4;
	background-color: #4CAF50;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#layout-menu {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Arial', sans-serif;
	display: table-row;
}

#layout-menu>li:first-child {
	border-left: solid 1px rgba(255, 255, 255, 0.1);
}

#layout-menu>li {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	border-right: solid 1px rgba(255, 255, 255, 0.15);
	display: table-cell;
	vertical-align: middle;
}

#layout-menu>li>a {
	text-align: center;
}

#layout-menu>li>a {
	display: block;
	font-size: 1.4rem;
	padding: 2px;
	font-family: 'Arial', sans-serif;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	text-decoration: none;
}

#layout-menu>li>a i {
	display: block;
	margin: 0px;
}

#layout-menu>li>a i {
	margin-right: 5px;
	font-size: 1.5rem;
}

.menulink:hover .menu-label {
	display: block !important;
}

#layout-menu>li>a .menu-label {
	display: none;
	position: absolute;
	background-color: #4CAF50;
	top: calc(100% + 10px);
	left: 0;
	padding: 4px;
	border-radius: 4px;
	font-family: 'Arial', sans-serif;
	color: #fff;
}

.wrapper-content {
	padding-top: 15px;
	padding-bottom: 15px;
}
.wrapperr {
	min-height: 100%;
	position: relative;
	overflow: hidden !important;
}

.main-footer {
	margin-left: 0px !important;
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
}

#layout-menu>li>a:hover, #layout-menu>li>a:active, #layout-menu>li>a.active-menu
	{
	background-color: rgba(0, 0, 0, 0.2);
}

body {
	margin: 0px;
	background-repeat: repeat;
	background-position: center;
	background-color: #fff;
	background-attachment: fixed;
	height: 100%;
}

form {
	height: 100%;
}

html {
	height: 100% !important;
}
/* font */

/* Controls*/

/* inputText */
.ui-fluid .ui-inputfield {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
	font-weight: normal;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-inputfield {
	margin: 0;
	outline: medium none;
}

.ui-inputfield {
	color: #778D9B !important;
	/*     font-size: 11px !important; */
	font-size: 13px !important;
	border: solid 1px #e4e4e4;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #fff;
	border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus {
	border: solid 1px #33AFDE !important;
	color: #33AFDE !important;
	background-color: #F9FBFC !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .50;
	filter: Alpha(Opacity = 50);
	background-image: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-state-disabled {
	cursor: default !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

label {
	/* 	font-size: 11px !important; */
	font-size: 13px !important;
	color: #777;
	font-weight: normal !important;
}

.ui-outputlabel, table tbody tr td {
	color: #777;
}

/* selcetOneMenu */
.ui-selectonemenu-trigger .ui-icon-triangle-1-s,
	.ui-selectcheckboxmenu-trigger .ui-icon-triangle-1-s {
	background-image: url('svg/downarrow.svg') !important;
	margin-top: 4px !important;
	background-size: 100%;
	background-position: center;
}

.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
	{
	padding: 1px 5px !important;
	font-size: 16px;
	color: #ffffff !important;
	text-shadow: none;
	z-index: 100;
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
	margin: -1px -1px -1px 0px !important;
	background-color: #4CAF50 !important;
	width: 27px;
	height: calc(100% + 2px);
}

.ui-selectonemenu {
	display: inline-block;
	position: relative;
	width: auto;
	zoom: 1;
	cursor: pointer;
	padding-right: 2em;
}

.ui-selectonemenu, .ui-selectcheckboxmenu {
	font-size: 16px !important;
	padding: 0px 15px 0px 0px !important;
	border: solid 1px #e4e4e4 !important;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	color: #778D9B;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.ui-state-hover {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-state-focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-selectonemenu-panel {
	background-color: #fff;
	overflow: hidden;
	border-top: solid 2px #33AFDE;
	border-bottom: solid 2px #33AFDE;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	border: 0 none;
}

.ui-selectonemenu-panel .ui-selectonemenu-list, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-list
	{
	padding: 0px !important;
	background-color: #F1F4F7;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item,
	.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
	border-bottom: solid 1px #E5EAF0 !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	font-size: 13px;
	-moz-border-radius: 0px !important;
	margin: 0px !important;
	color: #9EADB5;
	padding: 6px !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	background: #E1E1E1;
	font-weight: normal;
	color: #313131;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial', sans-serif;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: none;
	background: #E1E1E1;
	color: #313131;
	text-shadow: none;
}

.ui-widget-content .ui-selectonemenu-trigger {
	padding: 1px 5px !important;
	font-size: 16px;
	color: #ffffff !important;
	text-shadow: none;
	z-index: 100;
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
	margin: -1px -1px -1px 0px !important;
	background-color: #4CAF50 !important;
	top: -1px;
	right: -1px;
	height: calc(100% + 3px);
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
	padding: 5px 26px 5px 5px !important;
	background-color: #EDF3F6;
	border-radius: 2px;
	font-size: 13px;
	color: #778D9B;
}

/* checkBox */
.ui-chkbox .ui-chkbox-box {
	background: none;
	box-shadow: none;
	color: #A9A9A9;
	border: solid 1px #C6D6DF;
	cursor: pointer;
	width: 16px !important;
	height: 16px !important;
	overflow: hidden;
}

.ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-active {
	border-color: #2B91B8;
}

.ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-active {
	border-color: #2B91B8;
}

.ui-chkbox-box .ui-icon-blank {
	background-image: none !important;
	background-size: 100%;
	background-position: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.ui-chkbox-box .ui-icon-check {
	border-radius: 0px;
	background-image: url('svg/check.svg') !important;
	background-size: 100%;
	background-position: center;
	background-color: #33AFDE;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 14px;
	height: 14px;
}

.ui-state-focus {
	border: dashed 1px #127DBA !important;
}
/* commandLink */
.btn {
	display: inline-block;
	position: relative;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	background-color: #4CAF50;
	color: #fff !important;
	/*     font-size: 11px !important; */
	font-size: 12px !important;
	/*     padding: 6px 15px 6px 15px !important; */
	padding: 3px 5px 3px 5px !important;
	border: solid 2px transparent;
	border-radius: 2px !important;
	font-family: 'Arial', sans-serif;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.comment-btn {
	padding: 8px !important;
}
.btn:hover, .btn:focus, .btn:active {
	background-color: #0093d7;
	color: #fff !important;
}
.btn.active {
	background: #d9534f;
}
.redBtn {
	background-color: #D0525D;
}

.blueBtn {
	background-color: #007bb6;
}

.redBtn:hover, .redBtn:focus, .redBtn:active {
	background-color: #C3303D !important;
}

.ui-widget-content .ui-state-default {
	border: solid 1px #C6D6DF;
	background-color: #EDF3F6;
	font-size: 13px;
	color: #778D9B;
	text-shadow: none;
	box-shadow: none;
}
.ui-widget-content .ui-state-default.col-widthFamily {
	width: 100%;
}
.ui-widget-content .ui-state-default.col-widthGender {
	width: 30px;
}
.ui-widget-content .ui-state-default.col-widthCale {
	width: 50px;
}
.table-title-border .ui-widget-content .ui-state-default {
	border: solid 1px #C6D6DF;
	background-color: #EDF3F6;
	font-size: 11px;
	color: black;
	text-shadow: none;
	box-shadow: none;
}
/* calendar */
.ui-shadow, #ui-datepicker-div {
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3) !important;
}

.ui-datepicker {
	border: solid 1px #C6D6DF;
	padding: 2px !important;
	background-color: #FBFCFD !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.ui-datepicker-header {
	font-size: 11px;
	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	background: #D0525D !important;
}

.ui-datepicker-header .ui-datepicker-prev {
	left: 3px !important;
	top: 3px !important;
	cursor: pointer;
	background-color: #BA434E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.ui-datepicker-header .ui-datepicker-prev .ui-icon {
	background-image: url("svg/left-arrow.svg");
	background-position: center !important;
	background-size: 100% !important;
	top: 50%;
	left: 48%;
}

.ui-datepicker-header .ui-datepicker-next .ui-icon {
	background-image: url("svg/right-arrow.svg");
	background-position: center !important;
	background-size: 100% !important;
	top: 50%;
	left: 51%;
}

.ui-datepicker-header .ui-datepicker-next {
	right: 3px !important;
	top: 3px !important;
	cursor: pointer;
	background-color: #BA434E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.ui-widget-header {
	color: #ffffff !important;
	font-weight: bold;
	text-shadow: none;
}

.ui-datepicker-calendar {
	border-spacing: 2px;
	margin: 2px 0px 0px 0px !important;
	border-collapse: inherit !important;
}

.ui-datepicker-calendar thead tr .ui-datepicker-week-end {
	background: #DAE4E8;
}

.ui-datepicker-calendar thead tr th {
	background: #EDF3F6;
	color: #778D9B;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: default;
	padding: 10px 0px;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .50;
	filter: Alpha(Opacity = 50);
	background-image: none;
}

.ui-datepicker-calendar tbody tr td {
	border: solid 1px #DAE5EC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: default;
	padding: 5px 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-datepicker-calendar tbody tr td {
	border: solid 1px #DAE5EC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: default;
	padding: 5px 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-datepicker-calendar tbody tr td a {
	color: #778D9B !important;
	background-color: transparent !important;
	font-weight: normal !important;
}

.ui-datepicker-calendar tbody tr td:hover {
	background-color: #33AFDE;
	border: solid 1px #33AFDE;
}

.ui-datepicker-calendar tbody tr .ui-datepicker-current-day a {
	color: #F6FAFC !important;
}

.ui-datepicker-calendar tbody tr .ui-datepicker-current-day {
	background-color: #33AFDE;
	border: solid 1px #33AFDE;
}

.ui-datepicker-calendar tbody tr td:hover a {
	color: #F6FAFC !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-datepicker-title select {
	background: #D0525D;
	border: none;
	padding: 2px;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
}
/* fieldset */
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	padding: 0.2em 1em;
}

.ui-fieldset {
	border: solid 1px #C6D6DF;
	background: #FBFCFD !important;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.ui-fieldset-toggleable .ui-fieldset-legend {
	padding: 0.5em 1em 0.5em 0.5em;
	cursor: pointer;
}

.ui-fieldset-legend {
	color: #F1F6F9 !important;
	font-size: 15px !important;
	font-weight: normal !important;
	line-height: 15px !important;
	background: #4CAF50 !important;
	border-radius: 3px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none !important;
	box-shadow: none;
	width: auto;
}

@media ( min-width : 768px) {
	.sidebar-mini.sidebar-collapse .main-footer {
		margin-left: 0px !important;
	}
}
/* selectCheckBoxMenu */
.ui-selectcheckboxmenu-panel {
	background-color: #FBFCFD;
	overflow: hidden;
	border-top: solid 2px #33AFDE;
	border-bottom: solid 2px #33AFDE;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
	border-radius: 3px;
}

.ui-selectcheckboxmenu-panel .ui-widget-header {
	background: none;
	border: none;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container {
	width: 80%;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-inputfield
	{
	width: 75%;
	padding-left: 30px !important;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon
	{
	position: absolute;
	right: 5px;
	top: 0px;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-icon-search
	{
	width: 25px;
	height: 25px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("svg/search-icon.svg");
	left: 0px;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	margin-top: 5px !important;
}
/* tabView */
.ui-tabs-left {
	border: solid 1px #C6D6DF;
	background-color: #FBFCFD;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0px !important;
}

.ui-tabs-left .ui-tabs-nav {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: #778D9B;
}

.ui-tabs-left .ui-tabs-nav li {
	border: solid 1px transparent !important;
	background: none;
	top: 1px !important;
	font-size: 13px;
	margin-right: -1px !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected, .ui-tabs-left .ui-tabs-nav li.ui-tabs-active,
	.ui-tabs-left .ui-tabs-nav li.ui-state-hover {
	background-color: #FBFCFD !important;
	border: solid 1px #FBFCFD !important;
	border-radius: 2px;
}

.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-left .ui-tabs-nav li.ui-tabs-active a,
	.ui-tabs-left .ui-tabs-nav li.ui-state-hover a {
	color: #33AFDE !important;
}

.ui-tabs-left .ui-tabs-nav li a {
	color: #FBFCFD !important;
	width: auto !important;
	font-size: 11px;
	text-shadow: none;
}

.ui-tabs-top {
	border: solid 1px #C6D6DF;
	background-color: #FBFCFD;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0px !important;
}

.ui-tabs-top .ui-tabs-nav {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background: #4CAF50;
}
.ui-tabs-top .ui-tabs-nav li {
	border: solid 1px transparent !important;
	top: 1px !important;
	font-size: 13px;
	margin: 0 .2em -1px 0 !important;
	background: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-tabs-top .ui-tabs-nav li a {
	color: #FBFCFD !important;
	/*     font-size: 11px; */
	font-size: 13px;
	text-shadow: none;
	padding: 4px 4px;
}

.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active,
	.ui-tabs-top .ui-tabs-nav li.ui-state-hover {
	background-color: #FBFCFD !important;
	border: solid 1px #FBFCFD !important;
	border-radius: 2px;
}

.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active a,
	.ui-tabs-top .ui-tabs-nav li.ui-state-hover a {
	color: #33AFDE !important;
}

.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active,
	.ui-tabs-top .ui-tabs-nav li.ui-state-hover {
	background-color: #FBFCFD !important;
	border: solid 1px #FBFCFD !important;
	border-radius: 2px;
}

.ui-tabs-left>.ui-tabs-panels {
	height: 100% !important;
	float: right !important;
	overflow-y: scroll;
}

.ui-tabs-left>.ui-tabs-nav {
	float: left !important;
	height: 100% !important;
}
/* radioButton*/
.ui-fluid .ui-radiobutton {
	margin: 0px 8px 0px 0px !important;
}

.ui-radiobutton .ui-radiobutton-box {
	width: 13px;
	height: 13px;
	background: none;
	box-shadow: none;
	color: #a9a9a9;
	border: solid 2px #546e7a;
	position: relative;
	box-sizing: content-box;
}

.ui-radiobutton .ui-radiobutton-icon {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-size: 100%;
	background-position: center;
	margin: 0px !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-image: none !important;
	width: 24px;
	height: 24px;
	position: absolute;
	opacity: 0;
	margin: -4px !important;
}

.ui-radiobutton .ui-state-hover, .ui-radiobutton .ui-state-active {
	border: solid 2px #33AFDE;
}

.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet
	{
	background-image: none !important;
	background-size: 100%;
	background-position: center;
	margin: 0px;
	background-color: #4CAF50;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 11px;
	height: 11px;
	position: absolute;
	opacity: 1;
	margin: 1px !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/* dialog */
.ui-overlaypanel {
	border: none;
}

.ui-overlaypanel * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.ui-dialog * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.dialog-pro-pic {
	margin: 0 auto;
	display: block;
	border: 2px solid #33AFDE;
	box-sizing: content-box;
}

.ui-dialog {
	background-color: #FBFCFD;
	color: #778D9B;
	border-radius: 3px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 5px 15px !important;
	border-bottom: solid 1px #E8EDF2 !important;
	background-color: #F3F5F7;
	color: #778D9B;
	font-size: 16px;
}

.ui-dialog .ui-dialog-title {
	padding: 0px;
	color: #4CAF50;
	font-family:'Arial' , sans-serif;
	font-weight:bold;
	font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-closethick
	{
	background-image: url("svg/delete-gray.svg");
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: 100%;
}
/* accordioanPanel */
.ui-accordion {
	border: solid 1px #C6D6DF !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #FBFCFD;
	padding: 2px 2px 1px 2px !important;
	width: auto !important;
}

.ui-accordion .ui-state-hover a, .ui-accordion .ui-state-active a {
	color: #97DCF7;
	text-shadow: none;
	padding: 0px;
	font-weight: normal;
}

.ui-accordion-header {
	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	background-color: #33AFDE !important;
	/*     padding: 7px 5px 5px 30px !important; */
	padding: 3px 5px 3px 30px !important;
	margin-bottom: 1px !important;
}

.ui-accordion .ui-accordion-header a {
	padding: 0px;
	text-shadow: none;
	/* 	font-size: 11px !important; */
	font-size: 13px !important;
	color: #F1F6F9;
	font-weight: normal;
}

.ui-state-hover {
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-active
	{
	background-color: #289DCA !important;
}

.ui-chkbox .ui-chkbox-label {
	margin: 0px 0px 0px 4px !important;
	color: #666f77;
	font-size: 13px;
	display: inline;
}

.ui-widget {
	font-size: 13px;
}
.ui-widthCal .ui-widget {
	width: 80px;
}
.cal-ui .ui-inputfield{
	width:80px;
	margin-top: 5px;
	margin-bottom:5px;
}
.ui-helper-reset {
	/*     font-size: 11px; */
	font-size: 13px;
}

.form-title {
	border-bottom: 1px solid #AAAAAA;
	font-size: 12px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-weight: bold;
}

.ui-datatable .ui-paginator-top {
	border: none;
	background-color: #F6FAFC;
}

.ui-datatable .ui-paginator-bottom {
	border: none;
	background-color: #F6FAFC;
}

.ui-datatable tbody td {
	border: solid 1px #C6D6DF;
}

.input-remove-link {
	position: absolute;
	left: 60px;
	top: 6px;
}

.no-padding .ui-overlaypanel-content {
	padding: 0px !important;
}

.language-change-button {
	font-size: 15px !important;
	font-weight: normal !important;
	border: 0px !important;
}

.language-change-button:hover {
	background-color: rgb(211, 227, 235);
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: 1;
	background-color: #f6f6f6;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled.col-widthCalendar {
	width: 120px;
}
.ui-timepicker-table td a {
	border: solid 1px #DAE5EC !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px 2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: auto;
	text-align: right;
	color: #778D9B !important;
	background-color: transparent !important;
	font-weight: normal !important;
}

.ui-timepicker-table td {
	width: auto;
}

.ui-timepicker-hour-cell {
	width: 23px !important;
	height: 32px;
}

.ui-timepicker-minute-cell {
	width: 23px !important;
	height: 32px;
}

.ui-timepicker-hour-cell:hover a {
	color: #F6FAFC !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #33AFDE !important;
	border: solid 1px #33AFDE !important;
}

.ui-timepicker-minute-cell:hover a {
	color: #F6FAFC !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #33AFDE !important;
	border: solid 1px #33AFDE !important;
}

.ui-timepicker-title {
	font-size: 11px;
	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border: none !important;
	background: #D0525D !important;
	color: #ffffff !important;
	font-weight: bold;
}

.ui-timepicker-minutes {
	vertical-align: top;
}

.pe-timepicker-button {
	height: 51% !important;
}

.div {
	width: 50px;
	height: 20px;
	background-color: #0099ff;
	box-sizing: border-box;
	position: relative;
	float: left;
}
.div.width-30 {
	width:40px !important;
}
.div:before {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 20px solid #0099ff;
	border-left: 7px solid transparent;
	position: absolute;
	top: -0px;
	left: -7px;
}

.div:after {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 2px solid #0099ff;
	border-left: 50px solid #0099ff;
	position: absolute;
	bottom: -5px;
	left: 0px;
	display: none;
}

.div:hover:after {
	display: block;
}

.div2 {
	width: 50px;
	height: 20px;
	background-color: #aaa;
	box-sizing: border-box;
	position: relative;
	float: left;
}
.div2.width-30 {
	width:40px !important;
}
.div3 {
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	width: 50px;
	height: 20px;
	background-color: #0099ff;
	box-sizing: border-box;
	position: relative;
	float: left;
	text-align: center;
}
.div3.width-30 {
	width:40px !important;
}
.div4 {
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	width: 50px;
	height: 20px;
	background-color: #aaa;
	box-sizing: border-box;
	position: relative;
	float: left;
	text-align: center;
}
.div4.width-30 {
	width:40px !important;
}
.div4:before {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 20px solid #aaa;
	border-left: 7px solid transparent;
	position: absolute;
	top: -0px;
	left: -7px;
}

.div4:after {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 2px solid #aaa;
	border-left: 50px solid #aaa;
	position: absolute;
	bottom: -5px;
	left: 0px;
	display: none;
}

.div2:after {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 2px solid #aaa;
	border-left: 50px solid #aaa;
	position: absolute;
	bottom: -5px;
	left: 0px;
	display: none;
}

.div2:hover:after {
	display: block;
}

.div, .div2 {
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

#save-gridster {
	font-family: 'Arial', sans-serif;
	padding: 2px;
	color: #fff;
	position: absolute;
	z-index: 21;
	right: 0px;
	bottom: 0px;
	font-size: 10px;
	color: #fff;
	background-color: #3498db;
	border-radius: 50%;
	cursor: pointer;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 15px;
}

.dcalendar {
	width: 100%;
}

.dcalendar input {
	width: 100%;
}

.order-panel {
	position: fixed;
	width: 400px;
}

.ui-tabs .ui-tabs-panel {
	padding: 5px 0px 0px 0px;
}

.ui-widget-header {
	
}

.sunadag-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.sunadag-panel {
	height: 27px;
	border: 1px solid rgb(224, 224, 224);
	margin: 2px 2px;
	border-radius: 2px;
	overflow: hidden;
}

.sunadag-title {
	width: 100%;
	height: 27px;
	line-height: 27px;
	padding-left: 5px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
}

.sunadag-title:hover {
	color: #3498db !important;
}

.sunadag-content {
	width: 100%;
	height: 200px;
	background-color: #fff;
	padding: 5px;
	overflow-y: auto;
}

.sungah {
	left: 0px;
	top: -2px;
	width: calc(100% - 4px);
	height: 100%;
	position: absolute;
	height: 230px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	z-index: 1;
}

.ui-datatable-scrollable-body {
	margin-top: -1px;
}

.ui-datatable thead th {
	padding: 2px;
}

.ui-panelgrid td {
	padding: 0px 2px;
}

.subMenu, .subMenu ul li a, .subMenu, .subMenu ul li ul {
	color: white !IMPORTANT;
	background: none;
	background-color: #4CAF50;
	border: none;
	padding: 0;
	margin: 0;
}

.subMenu li {
	background: #33afde !important;
	color: black;
}

.subMenu li a.ui-state-hover, .subMenu li a.ui-state-hover * {
	background: #109ed4 !important;
	color: white;
}

.subMenu li ul[role=menu] {
	padding: 0 !Important;
	background: #33afde !important
}

.subMenu li ul[role=menu] li:first-child {
	display: none !important;
}

.diagnose-overlay {
	position: fixed;
	border: 1px solid #d6d6d6;
	background-color: #fff;
	z-index: 1000;
}

.display-table {
	display: table;
}

.diagnose-overlay-row {
	display: table-row;
	width: 400px;
}

.diagnose-overlay-row:hover {
	background-color: #ccc;
}

.display-table-cell {
	display: table-cell;
	border-bottom: 1px solid #e4e4e4;
	padding: 2px;
}

.zoom {
	cursor: pointer;
}

.modal-image {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
}

.absolute-center {
    height: 100% !important;
    position: absolute;  
    top: 0;  
    left: 0;
    right:0;
    bottom:0;  
    margin: auto !important;
	z-index: 1001;
}

.modal-image-close {
	position: absolute;
	right: 15px;
	font-size: 26px;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.modal-image-close: {
	color: rgba(255, 255, 255, 0.8);
}

.listTable .ui-autocomplete-input {
	width: 100%;
}

.myTable .ui-autocomplete-input {
	width: 100%;
}

.ui-autocomplete-input {
	width: 100px;
}

.display-table {
	display: table;
}

.display-table-row {
	display: table-row;
}

.display-table-cell {
	display: table-cell;
}

.link {
	font-size: 12px;
	font-family: Times New Roman;
	text-align: left;
	color: black;
	text-decoration: none !important;
}

@media screen {
	.link {
		font-size: 12px;
		font-family: Times New Roman;
		text-align: left;
		color: #33afde !important;
		text-decoration: none;
	}
}

.ui-accordion .ui-accordion-content {
	padding: 3px 5px;
}

#cash label {
	color: black;
}

#cash table tr th {
	color: black;
	font-weight: bold;
}

.non-selectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

.skin-model polygon:hover {
	cursor: pointer;
	fill: rgba(0, 0, 255, 0.3) !important;
}

.zoomContainer {
	z-index: 9999;
}

.zoomWindow {
	z-index: 9999;
}

.no-color-accordion h3 {
	background-color: rgb(255, 255, 255) !important;
}

.no-color-accordion .ui-state-hover {
	background-color: rgb(255, 255, 255) !important;
}
.no-color-accordion .ui-state-active{
	background-color: rgb(255, 255, 255) !important;
}

.no-color-accordion a {
	padding: 0px;
	text-shadow: none;
	/* 	font-size: 11px !important; */
	font-size: 13px !important;
	color: #4f4f4f !important;
	font-weight: normal;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#eventInfo{
	width: 300px;
	height:300px;
	background-color: black;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.margtop5 {
	margin-top: 5px !important;
}
.paddtop5 {
	padding-top: 5px !important;
}
.margbot10 {
	margin-bottom: 10px !important;
}
.paddtop10 {
	padding-top: 10px !important;
}
.margtop5 {
	margin-top: 5px !important;
}
.margtop10 {
	margin-top: 10px !important;
}
.margleft {
	margin-left: 10px;
}
.margbot {
	margin-bottom: 10px;
}
.margleft5 {
	padding-left: 5px !important;
}
.calendar-size input {
	width: 100% !important;
}
.box-border {
	border: 1px solid #000;
}
.top-box {
	padding:5px 10px 10px 10px;
	border:1px solid #e4e4e4;
	display: inline-block;
	margin-bottom:10px;
}
.top-box-2 {
	display: inline-block;
	margin-bottom:10px;
	padding-top:5px;
	border-left:none; 
}
.table-box {
	margin-top: 10px;
}
.table-box.margright10 {
	margin-right: 10px;
}
.table-box.margleft10 {
	margin-left: 10px;
}
.box-title {
	font-size: 14px !important;
}
.side-box {
	margin:10px;
	padding: 10px;
	background: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eef5f9;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 25px;
}
.sidenav:hover {
	overflow:auto; 
}
.sidenav a {
    padding:0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    z-index:199;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav::-webkit-scrollbar {
    width: 7px;
}
.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
.sidenav::-webkit-scrollbar-thumb {
  background-color: #33afde;
  outline: 1px solid slategrey;
}
.open-button {
	font-size:14px;
	cursor:pointer;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	color: #0088cc;
}
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 24px;
    margin-left: 50px;
    color: #ff0000;
}
.sidenav .closebtn:hover {
	color: #000;
}
.box-header-title h3 {
	background: #fff;
	margin:0;
	padding:0;
	font-size:14px;
	text-align:center;
	color:#516073;
	border: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 8px;
}
#sidebar-main {
    transition: margin-left .5s;
    padding: 0px;
}
.checkbox-padd .ui-selectmanycheckbox label {
	padding:0 10px !important;
}
.middle-box {
	width:100%;
	border: 1px solid #e4e4e4; 
	display: inline-block;
	padding: 10px;
}
.left-box {
	width:95%;
	border: 1px solid #e4e4e4; 
	padding: 10px;
}
.left-box ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.left-box li {
	color:#778D9B;
}
.left-box label {
	width: 170px;
}
.content-info {
	font-size: 12px !important;
	padding-bottom: 1px;
}
.content-info label {
	font-size: 12px !important;
}
#chart5 {
	width: 100%;
	height: 400px;
	margin: 0 auto;
}
.inpt-width {
	width: 100px;
}

#slider {
	width: 100%;
}
.controls li {
	top: 50%;
	margin-top: -30px;
}

.controls li:nth-child(1) {
	left: 0;
}

.controls li:nth-child(2) {
	right: 0;
}
.controls li i {
	width: 20px;
	height: 20px;
	text-align:center;
	color:#fff;
	line-height:18px;
	background: rgba(51,175,222,0.8);
	border-radius:4px;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.enr-list {
	margin: 0;
	padding: 0;
	border: 1px solid #e4e4e4;
}
.enr-list .list-title h2 {
	padding: 5px 10px;
	margin: 0;
	color: #33afde;
	font-weight:bold;
	font-size: 12px;
	border-bottom: 1px solid #e4e4e4;
}
.enr-list .list-body {
	padding: 10px;
	color:#111;
}
.side-button-space {
	margin-left: -12px;
	left: 0;
	position: absolute;
}

/* boxes */

.boxes {
	margin:0 5px;
	border:1px solid #e7ecf1;
}

.topBox {
	overflow:hidden;
	height: 200px;
	border:1px solid #000;
}
.topBox:hover {
	overflow-y: scroll;
}
.dr-box {
	width:100%;
	max-height: 510px; 
	overflow: hidden;
}
.dr-box:hover {
	overflow-x:hidden;
	overflow-y: auto;
}
#boxHidden {
	-webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    padding: 4px 10px;
    overflow: hidden;
    white-space: nowrap;
    border:1px solid #e4e4e4;
}
.btn-padding10 {
	margin-left: 10px !important;
	margin-top: 5px !important;
}
.home-links {
	height: 650px; 
	overflow-x: scroll;
}
.home-links::-webkit-scrollbar {
    width: 5px;
}
.home-links::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.home-links::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}




.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    background: none;
    border: 1px solid #e4e4e4;
}

.carousel h2 {
	font-size: 20px;
	font-weight: bold;
	color: #4CAF50;
	padding: 0;
	margin: 0;
}
.roll {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    left: 0px;
}
.com-slides {
    width: 350px;
    height: 180px;
    background-color: #FFF;
    text-align: center;
    margin: 0 10px 15px 0;
    display: inline-block;
    font-size: 18px;
    border: 1px solid #e4e4e4;
    padding: 40px 10px;
    border-radius: 5px;
}
.com-slides .testimonials-img {
    width: 30%;
    float: left;
    padding-right: 5px;
}
.com-slides .testimonials-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.com-slides .testimonials-info {
    float: left;
    width: 68%;
    margin: 0;
    padding: 0;
}
.com-slides .testimonials-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.com-slides .testimonials-info li {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.com-slides .testimonials-info li i {
	color: #4CAF50;
}
.com-slides .testimonials-info p {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    text-align: left;
    white-space: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}
.com-slides .testimonials-info span {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    text-align: left;
    white-space: normal;
    display: block;
    margin: 0;
    padding: 0;
    color: #4CAF50;
}
.com-slides .testimonials-info h5 {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    white-space: normal;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}
.com-slides .testimonials-info h5 i {
	color: #ff0000;
	padding-right: 5px;
}
.owl-sections {
    text-align: center;
    color: #ff0000;
    font-size: 14px;
}
.owl-sections i {
    margin: 0 2px;
    cursor: pointer;
}
.edit-info {
    float: right;
}
@media screen and (max-width: 950px) {
    .carousel {
        position: relative;
        overflow: hidden;
        width: 620px;
    }
}
@media screen and (max-width: 655px) {
    .carousel {
        position: relative;
        overflow: hidden;
        width: 310px;
    }
}

.blog-post {
    margin-bottom: 30px;
}
.clear {
    clear: both;
}
.blog-post .blog-post-authore {
    color: #c9c9c9;
    display: inline-block;
    font-size: 14px;
}

.blog-post .meta-tag {
    display: inline-block;
    width: 100%;
}

.blog-post .meta-tag a {
    color: #777;
    font-size: 14px;
    margin-right: 8px;
}

.blog-post .meta-tag .icon {
    font-size: 18px;
    margin-right: 10px;
}

.blog-post .thumb {
    position: relative;
}

.blog-post .thumb img {
    width: 100%;
}

.blog-post .thumb .overlay {
    text-align: center;
}

.blog-post .thumb .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.blog-post:hover .thumb .overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.blog-post .thumb .overlay .icon {
    color: #fff;
    font-size: 32px;
    left: 0;
    position: absolute;
    right: 0;
    top: 42%;
}

.blog-post .thumb .blog-post-date {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    left: 5px;
    letter-spacing: 2px;
    outline: 1px dashed #e0e0e0;
    outline-offset: -5px;
    padding: 12px 18px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 5px;
    width: 78px;
}

.blog-post .thumb .blog-post-date span {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.blog-post .news-content {
    padding: 10px 25px;
    border: 1px solid #e4e4e4;
    border-top: none;
}

.blog-post .news-content .title {
    color: #515151;
    font-size: 18px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    margin-top: 0;
}
.blog-post .news-content .title a {
    color: #515151;
}
.blog-post .news-content .title a:hover {
    color: #0088cc;
}
.blog-post .news-content p {
    color: #777;
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: 10px;
}

.blog-post .news-content .btn-link {
    float: left;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}
.blog-post .thumb .overlay {
    background-color: rgba(81, 184, 241, 0.7);
}
.io_pt {
	padding-top: 90px!important;
}
.eo_pb {
	padding-bottom: 50px!important;
}
.blog-section {
	background-color: #fff;
}
.section-title .title {
    font-size: 30px;
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    color: #222;
    letter-spacing: 0.8px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: none;
    position: relative;
}
.section-title .title:before {
    content: '';
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background: #00adef;
    display: block;
    margin-bottom: -40px;
    bottom: 0;
}
.section-title span {
    font-size: 30px;
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    color: #00adef;
    letter-spacing: 0.8px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: none;
    position: relative;
}
a.side-btn {
	padding: 6px 12px;
	background: #4CAF50;
	color: #fff;
	top:100px !important;
	position: fixed;
	font-size: 20px;
	z-index: 199;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}
a.side-btn-2 {
	padding: 6px 12px;
	background: #00adef;
	font-size: 14px !important;
	text-decoration: none !important;
	color: #fff;
	right: 20px;
	bottom:0;
	position: fixed;
	font-size: 20px;
	z-index: 199;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}

a.side-btn-3 {
	padding: 6px 12px;
	background: #00adef;
	font-size: 14px !important;
	text-decoration: none !important;
	color: #fff;
	left: 20px;
	bottom:0;
	position: fixed;
	font-size: 20px;
	z-index: 199;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}

/*  --------------------------------
	SideBar Start 
---------------------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
	padding: 0;
	margin: 0;
}
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 36px;
    color: #111;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.sidenav .closebtn:hover {
	color: #ff0000;
}
#push-name {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*  --------------------------------
	End: SideBar 
---------------------------------*/


/*  --------------------------------
	Start: Home Slider 
---------------------------------*/


.home-slider {
    position:relative;
    background:none;
    color:#1c1c1c;
}

.home-slider h1 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height:1.8em;
    font-size:52px;
}

.home-slider h2 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height:1.4em;
    font-size:48px;
}

.home-slider h3 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height:2em;
    font-size:32px;
}

.home-slider .slide-text {
    font-size:20px;
    font-style:italic;
    font-family:'Gorgia','Times New Roman';
}

.home-slider .slide-text p {
    color: #1c1c1c;
    font-size:24px;
    font-weight: 600;
}

.home-slider .slide-bg-theme {
    border-radius: 35px;
    color: #fff;
    font-size: 32px;
    padding: 6px 25px;
    text-transform: uppercase;
}

.home-slider .slide-bg-theme.slide-bg-black {
    background-color: #1c1c1c;
}

.home-slider .slide-psm {
    font-size: 28px;
    padding: 6px 22px;
}

.home-slider .btn-theme,
.home-slider .btn-theme.btn-black:hover {
    border: 1px solid ;
    color: #fff;
    font-size: 14px;
}

.home-slider .btn-theme:hover,
.home-slider .btn-theme.btn-black {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
}

.home-slider .tp-bullets.preview4 .bullet {
  background: rgba(255, 255, 255, 1) !important;
  border: 5px solid !important;
  box-shadow: none;
  height: 6px !important;
  width: 6px !important;
}

.home-slider .tp-bullets.preview4 .bullet:hover,
.home-slider .tp-bullets.preview4 .bullet.selected {
  background: rgba(255, 255, 255, 1) !important;
  border: 5px solid rgba(0, 0, 0, 1) !important;
}
.btn-theme {
    border: 1px solid;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 65px;
    padding: 15px 42px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-round {
    border-radius: 25px;
}

/*  --------------------------------
	End: Home Slider 
---------------------------------*/


/*  --------------------------------
	Start: Comments
---------------------------------*/

.overlay-comments {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 199;
      bottom: 0;
      left: 0;
      background-color: rgba(255,255,255, 1);
      overflow-y: hidden;
      transition: 0.5s;
      padding: 0;
      margin: 0;
  }

  .overlay-content-comment {
      position: relative;
      top: 8%;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      overflow-x: hidden; 
  }
  .overlay-comments a:hover, .overlay-comments a:focus {
      color: #f1f1f1;
  }

  .overlay-comments .closebtn {
      position: absolute;
      top: 10px;
      right: 0;
      color: #ff0000;
      font-size: 40px;
      margin: 0;
      padding: 0;
  }
  
  
  /*  --------------------------------
	Start: News
---------------------------------*/

.overlay-news {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 199;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255, 1);
      overflow-y: hidden;
      transition: 0.5s;
      padding: 0;
      margin: 0;
  }

  .overlay-content-news {
      position: relative;
      top: 8%;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      overflow-x: hidden; 
  }
  .overlay-news a:hover, .overlay-news a:focus {
      color: #f1f1f1;
  }

  .overlay-news .closebtn {
      position: absolute;
      top: 10px;
      right: 0;
      color: #ff0000;
      font-size: 40px;
      margin: 0;
      padding: 0;
  }
  
#left-content,
#right-content {
    min-height: 500px;
}
#left-content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#content .btn-group {
    margin-bottom: 10px;
}
#right-content {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}
.collapsed {
    display: none;
}
@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -25%;
    }
}

.calendar-width input {
	width: 120px;
}

.calendar-width-110 input {
	width: 90px;
}

.comments-list {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #e4e4e4;
}
.comments-list .comment-image {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 25%;
}
.comments-list .comment-image img {
	width: 60px;
	height: 60px;
}
.comments-list .comment-info {
	width: 75%;
	float: right;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}
.comments-list .comment-info h2 {
	margin: 0;
	font-size: 14px;
	color: #3498db;
	font-weight: bold;
	padding: 0;
}
.comments-list .comment-info p {
	margin: 0;
	padding: 0;
}
.comments-list .comment-info span {
	margin: 0;
	font-size: 12px;
	padding: 0;
}
.inp-box {
	float:left;
	width: 100%;
	margin: 0;
	padding: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background: #fff;
    margin-bottom: 20px;
}
.inp-box .widget-left-icon {
	float:left;
	width:35%;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	border-right: 1px solid #e4e4e4;
}
.inp-box .widget-left-icon i {
	font-size: 50px;
	color: #4CAF50;
}
.inp-box .inpBox-content {
	float:left;
	width:65%;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}
.inp-box .inpBox-content .num-count {
	font-size: 28px;
	color: #1b1e24;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
.inp-box .inpBox-content .inpBox-title-1 {
    font-size: 14px;
    color: #1b1e24;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.inp-box .inpBox-content .room-number {
	top: 5px;
	margin:0;
	padding:0;
	padding: 0 5px;
	font-weight: bold;
    right: 20px;
    border: 1px solid #ff0000;
    color: #ff0000;
    position: absolute;
}
.inp-box .inpBox-content .notes {
	margin: 0;
	padding: 0;
}
.inp-box .inpBox-content .notes p {
	background: #4CAF50;
	width:60%;
	text-align: center;
	color: #fff;
}
.inp-box .inpBox-content .notes-2 p {
	background: #d9534f;
	width:60%;
	text-align: center;
	color: #fff;
}
.inp-box .inpBox-content .inpBox-title-2 {
    margin: 0;
    padding: 0;
}
.tableTd td {
	padding-left: 5px; 
}
.top-background {
	background: #f1f1f1;
}
.table-scroll {
	height: 150px;
}
.homemenu-bar {
	width:100%;
	margin: 0;
	padding: 0;
	background: #fff;
	margin-top: 30px;
	margin-bottom: -15px;
	border-bottom: 1px solid #ededed;
	
}
.homemenu-bar .home-logo {
	width:30%;
	display:inline-block;
	margin: 0;
	padding: 0;
}
.homemenu-bar .home-menu {
	width:65%;
	display:inline-block;
	margin: 0;
	padding: 0;
}
.homemenu-bar .home-menu ul {
	list-style-type: none;
}
.homemenu-bar .home-menu li {
	display: inline-block;
	padding-right: 25px;
}

.homemenu-bar .home-menu li a {
	font-size: 14px;
	color: #7f7f7f;
	text-transform: uppercase;
	text-align: right;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.homemenu-bar .home-menu li a.color {
	color: #4CAF50;
}
/*  --------------------------------
	Start: Image modal
---------------------------------*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.modelwidth {
	float:left;
	width:100%;
	border:1px solid #fff;
}
.column {
  float:left;
  width: 300px;
  margin:0;
  padding:0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.closeModal {
  color: #fff !important;
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlidesXray
.mySlidesTseej
.mySlidesNose
.mySlidesThroat
.mySlidesEar {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  padding: 0;
  color: white;
}

img.demoXray
img.demoTseej
img.demoNose
img.demoThroat
img.demoEar {
  opacity: 0.6;
}

.active,
.demoXray:hover
.demoTseej:hover
.demoNose:hover
.demoThroat:hover
.demoEar:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.div-click {
	padding:0;
}
.div-click ul {
	list-style-type: none;
}
.div-click li {
	display: inline-block;
}
.monitor {
	width : 13px;
	height : 10px;
	background-color: #fff;
	animation-name : headNurse;
	animation-duration : 1s;
	display: block;
}
.monitor i {
	margin-top:-4px;
}
@keyframes headNurse {
	0%   {background-color: red;}
    10%  {background-color: #fff;}
    20%  {background-color: red;}
    30%  {background-color: #fff;}
    40%  {background-color: red;}
    50%  {background-color: #fff;}
    60%  {background-color: red;}
    70%  {background-color: #fff;}
    80%  {background-color: red;}
    90%  {background-color: #fff;}
    100% {background-color: red;}
}
.calendar-width .ui-widget-content .ui-state-default {
	width:50px;
}
.tableUl li {
	display: inline-block;
	padding: 0;
	margin:0;
}
.tableUl li label {
	width:15px;
	height:15px;
	border:1px solid;
	padding: 0;
}
.model-height {
	width:100%;
	height:430px;
	overflow-y:scroll;
	margin:0;
	padding:0;
}
.model-height img {
	margin:0 auto;
	padding:0;
	display:block;
}
.img-corasle {
	width:100%;
	border-top:1px solid #bdbdbd;
	overflow-x:scroll;
	float:left;
	margin:0;
	padding:0;
}
.img-corasle::-webkit-scrollbar {
    width: 5px;
}
 
.img-corasle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
 
.img-corasle::-webkit-scrollbar-thumb {
  background-color: #D62929;
  outline: 1px solid #222;
}
.slide-overflow {
	float:left;
	width:3000px;
	background:#fff;
	margin:0;
	padding:0;
}