@import url(../bootstrap/css/bootstrap.min.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.wrapper {
    overflow-x: hidden;
}

.bg-img {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.theme-overlay {
    background-image: url(../images/parallax-2.jpg);
    position: relative;
}
h1.comment-title {
	color: #222 !important;
}
h1.comment-title:before {
	content: '';
	width: 40px;
	height: 2px;
	margin : 0 auto;
	background: #00adef;
	text-align: center;
	display: block;
	bottom: 0;
	margin-bottom: -45px;
}
.theme-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.theme-overlay.overlay-black:before {
    background-color: rgba(0, 0, 0, 0.85);
}

.theme-overlay.overlay-white:before {
    background-color: rgba(255, 255, 255, 0.75);
}

.io_pt {
    padding-top: 60px!important;
}
.fo_pb {
    padding-bottom: 60px!important;
}

.btn-theme,
.btn-theme.btn-black:hover,
.home-slider .slide-bg-theme,
.home-slider .btn-theme,
.home-slider .btn-theme.btn-black:hover {
    background-color: #00adef;
}

.testimonial-post ul li .icon {
    color: #00adef;
}

.testimonial-post:hover,
.testimonial-post:hover .thumb img,
.welcome-content .welcome-box {
    border-color: #00adef;
}


/*
-----------------------------------------------------------------------
    Testimonials Styles
-----------------------------------------------------------------------
*/

.testimonial-post {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 0 25px 25px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.testimonial-post .thumb {
    margin-bottom: 20px;
    margin-top: -50px;
}

.testimonial-post .thumb img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.testimonial-post p {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.testimonial-post .testimonial-name {
    font-size: 16px;
    color: #00adef;
    font-weight: 600;
    letter-spacing: 1px;
}

.testimonial-post .sub-title {
    color: #989898 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 0;
}

.testimonial-post ul li {
    display: inline-block;
}

.testimonial-post ul li .icon {
    font-size: 13px;
}



.pagination-style > .active > a,
.pagination-style > .active > a:focus,
.pagination-style > .active > a:hover,
.pagination-style > .active > span,
.pagination-style > .active > span:focus,
.pagination-style > .active > span:hover,
.btn-theme,
.btn-theme.btn-black:hover,
.owl-carousel .owl-controls .owl-dots .owl-dot span,
.home-slider .btn-theme,
.home-slider .btn-theme.btn-black:hover,
.social-icons li a:hover,
.social-icons.icons-theme li a,
.service-post .icon-box,
.feature-box .icon-box,
.team-post .thumb .overlay a:hover,
.footer-widget .social-icons li a,
.testimonial-post:hover,
.testimonial-post:hover .thumb img,
.welcome-content .welcome-box {
    border-color: #00adef !important;
}


/*--- Owl Carousel Styles ---*/

.owl-theme .owl-controls {
    margin-top: 15px;
    position: static;
}

.owl-carousel .owl-item img {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.owl-carousel .owl-controls .owl-prev,
.owl-carousel .owl-controls .owl-next {
    background: rgba(240, 240, 240, 0.85);
    border-radius: 0px;
    display: inline-block;
    margin: 0;
    padding: 4px 14px;
    text-align: center;
}

.owl-carousel .owl-controls .owl-prev {
    margin-right: 2px;
}

.owl-carousel .owl-controls .owl-next {
    margin-left: 2px;
}


/*--- Owl Dots Style ---*/

.owl-carousel .owl-controls .owl-dots {
  text-align: center;
  display: inline-block;
}

.owl-carousel .owl-controls .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 5px;
}

.owl-carousel .owl-controls .owl-dots .owl-dot:last-child {
    margin-right: 0;
}

.owl-carousel .owl-controls .owl-dots .owl-dot span {
    background-color: #fff;
    border: 5px solid;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    width: 16px;
}

.owl-carousel .owl-controls .owl-dots .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dots .owl-dot.active span {
    background-color: #fff;
    border-color: #1c1c1c !important;
}