<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1></h1>
		</section>
		<section class="content">
			<div class="col-md-12" style="margin-top:10px;">
				<div class="row">
					<div class="col-md-1">
						<p:outputLabel value="Гарчиг : " />
					</div>
					<div class="col-md-4">
						<p:inputText value="#{crmController.titleSearch}" />
					</div>
					<div class="col-md-1">
						<p:outputLabel value="Агуулга : " />
					</div>
					<div class="col-md-4">
						<p:inputText value="#{crmController.valueSearch}" />
					</div>
					<div class="col-md-1">
						<p:commandLink styleClass="btn" action="#{crmController.getSmsInfoList()}" update=":form:smsInfo" ><i class="fa fa-search"></i> Хайх</p:commandLink>
					</div>
					<div class="col-md-1">
						<p:commandLink styleClass="btn" action="#{crmController.setNewSms()}" update=":form:smsInfo" ><i class="fa fa-plus"></i> Нэмэх</p:commandLink>
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<p:dataTable id="smsInfo" styleClass="myTable smsInfo" value="#{crmController.listSmsInfo}" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" >
							<p:column styleClass="text" headerText="№">
								#{index + 1}
							</p:column>
							<p:column styleClass="text" headerText="Төрөл">
								#{info.groupTypeStr}
							</p:column>
							<p:column styleClass="text" headerText="Код">
								#{info.id}
							</p:column>
							<p:column styleClass="text" headerText="Гарчиг">
								#{info.title}
							</p:column>
							<p:column styleClass="text" headerText="Мессежний утга">
								#{info.note}
							</p:column>
							<p:column styleClass="text" headerText="Идэвхитэй эсэх">
								#{info.activeStr}
							</p:column>
							<p:column>
								<p:commandLink process="@this" styleClass="fa fa-fw fa-edit color-green" action="#{crmController.updateCurrentSms(info)}"></p:commandLink>
							</p:column>
							<p:column>
								<p:commandLink process="@this" update="@(.smsInfo)" styleClass="fa fa-times color-red" action="#{crmController.deleteSms(info)}"></p:commandLink>
							</p:column>
					</p:dataTable>
				</div>
			</div>
			<p:dialog id="addSms" widgetVar="addSms" closeOnEscape="true" header="SMS info" height="200" width="600" >
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p:outputLabel value="Код : " />
						</div>
						<div class="col-md-4">
							<p:inputText value="#{crmController.currentSms.id}"  />
						</div>
						<div class="col-md-4">
							<p:outputLabel value="Идэвхитэй эсэх : " />
						</div>
						<div class="col-md-2">
							<p:selectBooleanCheckbox value="#{crmController.currentSms.activeBoolean}" />
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p:outputLabel value="Төрөл : " />
						</div>
						<div class="col-md-8">
							<p:selectOneMenu id="groupType" value="#{crmController.currentSms.groupType}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="Эмчилгээний үйлчлүүлэгч" itemValue="Treatment"></f:selectItem>
								<f:selectItem itemLabel="Шинжилгээний үйлчлүүлэгч" itemValue="Examination"></f:selectItem>
							</p:selectOneMenu>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p:outputLabel value="Гарчиг : " />
						</div>
						<div class="col-md-8">
							<p:inputText value="#{crmController.currentSms.title}" style="width : 100%;" />
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p:outputLabel value="Агуулга : " />
						</div>
						<div class="col-md-8">
							<p:inputTextarea value="#{crmController.currentSms.note}" style="width : 100%;" />
						</div>
					</div><div class="row">
						<div class="col-md-10">
						</div>
						<div class="col-md-2">
							<p:commandLink styleClass="btn" action="#{crmController.saveSms()}" update=":form:smsInfo" ><i class="fa fa-check" /> Хадгалах</p:commandLink>
						</div>
					</div>
				</div>
			</p:dialog>
		</section>
		<p:remoteCommand name="getSmsList" action="#{crmController.getSmsInfoList()}" update=":form:smsInfo" />
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(
					function() {
						getSmsList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>