<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="register-new.xhtml">
	<ui:define name="module">
		<div class="row">
			<div class="col-md-6">
				<p:panel id="inspection-dtl-panel" styleClass="panel-style"
					header="#{i18n['examination_report']}">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-12">
									<p:selectCheckboxMenu
										value="#{inspectionController.selectedOcsSubOrgaPkId}"
										label="Кабинет" style="width: 100%;" filter="true"
										filterMatchMode="contains" panelStyle="width:250px">
										<f:selectItems
											value="#{inspectionController.subOrganizations}" var="item"
											itemLabel="#{item.name} (#{item.employeeCount})"
											itemValue="#{item.pkId}" />
										<p:ajax process="@all" event="change"
											listener="#{inspectionController.getInspectionList()}"
											update="form:inspection-dtl-panel" />
									</p:selectCheckboxMenu>
								</div>
								<div class="col-md-12">
									<p:selectCheckboxMenu
										value="#{inspectionController.selectedOcsEmployee}"
										label="Эмч" style="width: 100%;" filter="true"
										filterMatchMode="contains" panelStyle="width:250px">
										<f:selectItems value="#{inspectionController.employees}"
											var="item" itemLabel="#{item.lastName} (#{item.firstName})"
											itemValue="#{item.pkId}" />
										<p:ajax process="@all" event="change"
											listener="#{inspectionController.getInspectionList()}"
											update="form:inspection-dtl-panel" />
									</p:selectCheckboxMenu>
								</div>
								<div class="col-md-12">
									<p:selectBooleanCheckbox itemLabel="Зөвхөн өөрийн үзлэг"
										value="#{inspectionController.myInpsection}">
										<p:ajax process="@all"
											listener="#{inspectionController.getInspectionList()}"
											update="form:inspection-dtl-panel" />
									</p:selectBooleanCheckbox>
								</div>
								<div class="col-md-12">
									<h6 class="tree-header">Үзлэгүүд</h6>
								</div>
								<div class="col-md-12">
									<p:tree value="#{inspectionController.nodeInspection}"
										var="nodeItem" id="filter-inspection-date"
										selection="#{inspectionController.selectedNode}"
										selectionMode="checkbox"
										style="max-height: 150px;overflow-y: auto;">
										<p:treeNode>
											<h:outputText value="#{nodeItem}" />
										</p:treeNode>
										<p:treeNode type="all">
											<h:outputText value="#{nodeItem}" />
										</p:treeNode>
										<p:treeNode type="subOrga">
											<h:outputText value="#{nodeItem.name}" />
										</p:treeNode>
										<p:treeNode type="inspection">
											<h:outputText value="#{nodeItem.getInspectionDate()}" />
										</p:treeNode>
									</p:tree>
								</div>
								<div class="col-md-12 margin-top">
									<p:commandLink id="search-inspection" ajax="true"
										styleClass="pull-right btn"
										action="#{inspectionController.getInspectionData()}"
										update="form:inspection-dtl-panel">
										<i class="fa fa-search" /> Шүүх
					    					</p:commandLink>
								</div>
							</div>
						</div>
						<!--         					</div> -->
						<!--         					<div style="width:70%;display:inline-block"> -->
						<div class="col-md-8" style="max-height: 400px; overflow-y: auto;">
							<div class="row">
								<div class="col-md-12">
									<p:commandLink styleClass="pull-right btn"
										onclick="PF('diagnose-dtl-dialog').show()"
										actionListener="#{inspectionController.fillXrayRequest()}">
									    		Дүрс <br /> оношилгоо
									    	</p:commandLink>
									<p:commandLink styleClass="pull-right btn"
										oncomplete="PF('examination-dtl-dialog').show()"
										actionListener="#{inspectionController.getOcsData()}"
										update="form:doom" process="@this">
									    		Шинжилгээний <br /> хариу
									    	</p:commandLink>
									<p:commandLink styleClass="pull-right btn"
										onclick="PF('surgery-dtl-dialog').show()"
										actionListener="#{inspectionController.getCustomerSurgery()}"
										update="form:customerSurgeryTable">
									    		Хагалгаа <br /> жагсаалт
									    	</p:commandLink>
									<!-- 									    	<p:commandLink styleClass="pull-right btn" onclick="PF('medicine-dtl-dialog').show()" value="Эм"/> -->
									<p:commandLink styleClass="pull-right btn"
										onclick="PF('treatment-dtl-dialog').show()"
										actionListener="#{inspectionController.getCustomerTreatment()}"
										update="form:customerTreatmentTable">
									    		Эмчилгээний <br /> явц
									    	</p:commandLink>
								</div>
							</div>
							<ui:repeat var="detail"
								value="#{inspectionController.inspectionDetails}" id="dtls"
								varStatus="detailsVar">
								<div class="row">
									<div class="col-md-12" data-toggle="collapse"
										data-target="#form\\:dtls\\:#{detailsVar.index}\\:collapseExample"
										aria-expanded="true" aria-controls="collapseExample">
										<label class="col-md-4">#{detail.inspection.inspectionDate}</label>
										<label class="col-md-4">#{detail.inspection.subOrgaName}</label>
										<label class="col-md-4">#{detail.inspection.employeeName}</label>
									</div>
									<div class="col-md-12">
										<p:panel styleClass="no-style-panel" id="collapseExample">
											<div class="well">
												<table>
													<tr>
														<td style="vertical-align: top;">Зовиур:</td>
														<td style="padding-bottom: 5px;">
														<ui:repeat
																var="pain" value="#{detail.pain}">
												    		  #{i18n[pain.get('t')]}<br />
																<ui:repeat var="value" value="#{pain.get('v')}">
																	<label onclick="copyText(this)"
																		style="padding: 2px; background: #778D9B; border-radius: 2px; color: #fff; margin-bottom: 2px;">
																		<h:outputText
																			rendered="#{!value.get('l').equals('skinRateText') and !value.get('l').equals('advice') 
																						and !value.get('l').equals('earScheduleText') and !value.get('l').equals('throatScheduleText') }"
																			value="#{i18n[value.get('l')]}" /> <h:outputText
																			rendered="#{value.get('t').equals('select')
																				and !value.get('a').get(value.get('v')).equals('yes')}"
																			value=" - #{i18n[value.get('a').get(value.get('v'))]}" />
																		<h:outputText
																			rendered="#{!value.get('t').equals('select') and !value.get('l').equals('skinRateText') and !value.get('l').equals('advice')
																						and !value.get('l').equals('earScheduleText') and !value.get('l').equals('throatScheduleText')}"
																			value=" - #{value.get('v')}" />
																	</label>
																</ui:repeat>
																<br />
															</ui:repeat></td>
													</tr>
													<tr>
														<td style="vertical-align: top;">Асуумж:</td>
														<td style="padding-bottom: 5px;"><ui:repeat
																var="question" value="#{detail.q}">
												    		#{i18n[q.get('t')]}
																<ui:repeat var="value" value="#{question.get('v')}">
																	<label onclick="copyText(this)"
																		style="padding: 2px; background: #778D9B; border-radius: 2px; color: #fff; margin-bottom: 2px;">
																		#{i18n[value.get('l')]} <h:outputText
																			rendered="#{value.get('t').equals('select')}" /> <h:outputText
																			rendered="#{!value.get('t').equals('select')}"
																			value=" - #{value.get('v')}" />
																	</label>
																</ui:repeat>
																<br />
															</ui:repeat></td>
													</tr>
													<tr>
														<td style="vertical-align: top;">Бодит үзлэг:</td>
														<td style="padding-bottom: 5px;"><ui:repeat
																var="checkup" value="#{detail.checkup}">
												    		#{i18n[checkup.get('t')]}<br />
																<ui:repeat var="value" value="#{checkup.get('v')}">
																	<label onclick="copyText(this)"
																		style="padding: 2px; background: #778D9B; border-radius: 2px; color: #fff; margin-bottom: 2px;">
																		<h:outputText rendered="#{!value.get('l').equals('outbreak') and !value.get('l').equals('eruption')}" 
																						value="#{i18n[value.get('l')]}" />
																		
																		<h:outputText
																			rendered="#{value.get('t').equals('select')}"
																			value="#{i18n[value.get('a').get(value.get('v')) ]}" escape="false"/>
																		<h:outputText
																			rendered="#{!value.get('t').equals('select') and !value.get('t').equals('boolean')}"
																			value="#{value.get('v')}"  escape="false"/>
																	</label>
																</ui:repeat>
																<br />
															</ui:repeat> <ui:repeat var="inspection"
																value="#{detail.customerInspection}">
											    			#{inspection.inspection},
											    		</ui:repeat> <br /> <!-- 											    		<p:lightBox> --> 
											    			<ui:repeat
																var="attachment" value="#{detail.customerAttachment}">
																<p:graphicImage id="img"
																	value="#{inspectionController.getDetailDynamicImage(inspectionController.inspectionDetails.indexOf(detail), detail.customerAttachment.indexOf(attachment))}"
																	onclick="showModalImage(this);"
																	style="margin-right: 5px;" cache="false" height="50"
																	styleClass="zoom">
																	<f:param name="image_id"
																		value="#{detail.customerAttachment.indexOf(attachment)}" />
																	<f:param name="detail_id"
																		value="#{inspectionController.inspectionDetails.indexOf(detail)}" />
																</p:graphicImage>
																<p:tooltip for="img" value="#{attachment.description}" trackMouse="true" />
															</ui:repeat> <!-- 											    		</p:lightBox> --></td>
													</tr>
													<tr>
														<td style="vertical-align: top;">Онош:</td>
														<td style="padding-bottom: 5px;"><ui:repeat
																var="diagnose" value="#{detail.customerDiagnoses}">
										    				#{diagnose.getTypeString()}:#{diagnose.id}-#{diagnose.nameMn}
										    				<br />
															</ui:repeat></td>
													</tr>
													<tr>
														<td style="vertical-align: top; padding-right: 5px;">
															Төлөвлөгөө:</td>
														<td style="padding-bottom: 5px;"><ui:repeat
																var="plan" value="#{detail.customerPlan}">
											    			#{plan.plan},
											    		</ui:repeat>
											          <ui:repeat
																var="pain" value="#{detail.pain}">
												    		  #{i18n[pain.get('t')]}
																<ui:repeat var="value" value="#{pain.get('v')}">
																	<label onclick="copyText(this)"
																		style="padding: 2px; background: #778D9B; border-radius: 2px; color: #fff; margin-bottom: 2px;">
																	
																		<h:outputText
																			rendered="#{!value.get('t').equals('select') and  !value.get('l').equals('otherPain')
																						 and !value.get('l').equals('skinStressPainText')}"
																			value="#{value.get('v')}" />
																	</label>
																</ui:repeat>
																<br />
															</ui:repeat>		
											    		</td>
													</tr>
													<tr>
														<td style="vertical-align: top;">Захиалга:</td>
														<td style="padding-bottom: 5px;"><ui:repeat
																var="order" value="#{detail.inspectionDtl}">
																<label onclick="copyText(this)"
																	style="padding: 2px; background: #778D9B; border-radius: 2px; color: #fff; margin-bottom: 2px;">
																	#{order.name} </label>
															</ui:repeat></td>
													</tr>
												</table>
											</div>
										</p:panel>
									</div>
								</div>
							</ui:repeat>
						</div>
					</div>
					<!-- 							</div> -->
				</p:panel>
			</div>
			<div class="col-md-6">
				<p:panel toggleable="true" header="#{i18n['inspection']}"
					styleClass="panel-style no-padding" id="inspection-panel">
					<div class="row">
						<div class="col-md-12 margin-vertical">
							<p:selectOneRadio
								value="#{inspectionController.currentEmployeeRequest.reInspection}"
								id="inspSelect" onchange="showHideInspection()"
								styleClass="pull-left" style="margin-right: 15px;">
								<f:selectItem itemLabel="Анхан үзлэг" itemValue="0" />
								<f:selectItem itemLabel="Давтан үзлэг" itemValue="1" />
							</p:selectOneRadio>
							<p:selectOneMenu
								value="#{inspectionController.currentInspection.inspectionType}"
								styleClass="pull-left">
								<f:selectItem itemLabel="Өвчний учир анхан" itemValue="0" />
								<f:selectItem itemLabel="Өвчний учир давтан" itemValue="1" />
								<f:selectItem itemLabel="Урьдчилан сэргийлэх" itemValue="2" />
								<f:selectItem itemLabel="Гэрийн хяналт" itemValue="3" />
								<f:selectItem itemLabel="Диспенсерийн хяналт" itemValue="4" />
							</p:selectOneMenu>
						</div>
					</div>
					<p:accordionPanel id="reinspection" multiple="true">
						<p:tab title="Гол зовиур">
							<div class="row">
								<div class="col-md-12">
									<p:inputTextarea style="width: 100%;" rows="4"
										autoResize="false"
										value="#{inspectionController.customerReInspection.pain}" placeholder="Зовиур" />
								</div>
							</div>
						</p:tab>
						<p:tab title="Асуумж">
							<div class="row">
								<div class="col-md-12">
									<p:inputTextarea style="width: 100%;" rows="4"
										autoResize="false"
										value="#{inspectionController.customerReInspection.inspection}" placeholder="Асуумж"/>
								</div>
							</div>
						</p:tab>
						<p:tab title="Бодит үзлэг">
							<div class="row">
								<div class="col-md-12">
									<p:inputTextarea style="width: 100%;" rows="4"
										autoResize="false"
										value="#{inspectionController.customerReInspection.checkUp}" placeholder="Бодит үзлэг" />
								</div>
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-12 margin-top">
											<p:panelGrid columns="2" styleClass="form-table">
												<p:outputLabel value="Зураг:" style="width: 60px;" />
												<p:commandLink styleClass="btn" onclick="uploadImage();"
													actionListener="#{inspectionController.setImageType('reinsp')}">
													<i class="fa fa-fw fa-upload" /> Зураг сонгох
														</p:commandLink>
											</p:panelGrid>
										</div>
										<div class="col-md-12 margin-top">
											<p:panel styleClass="no-style-panel no-padding" id="galleria">
												<p:galleria var="attachment"
													value="#{inspectionController.listReAttachment}"
													effect="slide" autoPlay="false" panelWidth="500"
													panelHeight="313">
													<p:graphicImage
														value="#{inspectionController.getDynamicImage(inspectionController.getListReAttachment().indexOf(attachment))}"
														cache="false" height="313" width="500" styleClass="zoom">
														<f:param name="image_id"
															value="#{inspectionController.getListReAttachment().indexOf(attachment)}" />
													</p:graphicImage>
												</p:galleria>
											</p:panel>
										</div>
										<p:fileUpload id="fileUpload"
											fileUploadListener="#{inspectionController.upload}"
											style="display:none;" onstart="showLoader()"
											oncomplete="hideLoader();" onerror="hideLoader();"
											sizeLimit="100000000" auto="true"
											description="#{i18n['choose_image']}" />
									</div>
								</div>
							</div>
						</p:tab>
						<p:tab title="Онош">
							<p:panel styleClass="no-style-panel" id="riDiagnoseSection">
								<div class="row margin-bottom">
									<div class="col-md-3">Үндсэн онош:</div>
									<div class="col-md-9">
										<div class="display-table" style="width: 100%;">
											<div class="display-table-row">
												<p:inputText style="width: 70px;"
													value="#{inspectionController.reInspAppDiagnose.id}"
													onfocus="showDiagnosePick(this,'reinsp',1,'false');"
													onkeyup="callRefreshList(this,'reinsp',1,'false')" />
												<p:inputText
													value="#{inspectionController.reInspAppDiagnose.nameMn}"
													style="width: calc(100% - 72px);"
													onfocus="showDiagnosePick(this,'reinsp',1,'true')"
													onkeyup="callRefreshList(this,'reinsp',1,'true')" />
												<p:commandLink styleClass="btn display-table-cell"
													onclick="callRefreshList(this,'reinsp',1,'true');PF('all-diagnose-dialog').show()"
													value="Онош">
												</p:commandLink>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-bottom">
									<div class="col-md-3">Урьдчилсан онош:</div>
									<div class="col-md-9">
										<div class="display-table" style="width: 100%;">
											<div class="display-table-row">
												<p:inputText style="width: 70px;"
													value="#{inspectionController.preDiagnose.id}"
													onfocus="showDiagnosePick(this,'reinsp',0,'false');"
													onkeyup="callRefreshList(this,'reinsp',0,'false');" />
												<p:inputText
													value="#{inspectionController.preDiagnose.nameMn}"
													style="width: calc(100% - 72px);"
													onfocus="showDiagnosePick(this,'reinsp',0,'true')"
													onkeyup="callRefreshList(this,'reinsp',0,'true');" />
												<p:commandLink styleClass="btn display-table-cell"
													onclick="callRefreshList(this,'reinsp',0,'true');PF('all-diagnose-dialog').show()"
													value="Онош">
												</p:commandLink>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-bottom">
									<div class="col-md-12">
										<div class="col-md-12 margin-top">
											<p:dataTable
												value="#{inspectionController.reInspPreDiagnose}"
												var="diagnose" style="width: 100%;" styleClass="myTable"
												emptyMessage="#{i18n['empty']}" id="reinspectionDiagnose">
												<p:column headerText="№" styleClass="id" width="50">
										#{diagnose.id}
									</p:column>
												<p:column headerText="Онош" styleClass="text">
										#{diagnose.nameEn}
									</p:column>
												<p:column headerText="Төрөл" styleClass="short-text">
													<h:outputText rendered="#{diagnose.type eq 1}" value="PRI"></h:outputText>
													<h:outputText rendered="#{diagnose.type eq 0}" value="IMP"></h:outputText>
												</p:column>
												<p:column styleClass="button-icon">
													<p:commandLink
														actionListener="#{inspectionController.reInspPreDiagnose.remove(diagnose)}"
														oncomplete="updateReInspection();">
														<p:confirm header="Баталгаажуулах"
															message="Та устгахдаа итгэлтэй байна уу ?"
															icon="ui-icon-alert" />
														<i class="fa fa-remove" />
													</p:commandLink>
												</p:column>
											</p:dataTable>

										</div>
									</div>
								</div>
							</p:panel>
							<p:remoteCommand name="updateReInspection"
								update="riDiagnoseSection"></p:remoteCommand>
							<div class="row margin-bottom">
								<div class="col-md-12">
									<p:inputTextarea rows="3" autoResize="false"
										style="width: 100%;"
										value="#{inspectionController.customerReInspection.rateText}" placeholder="Хүндрэл">
									</p:inputTextarea>
								</div>
							</div>
						</p:tab>

						<p:tab title="Төлөвлөгөө">
							<div class="row margin-bottom">
								<div class="col-md-12">
									<p:inputTextarea rows="3" autoResize="false"
										style="width: 100%;"
										value="#{inspectionController.customerReInspection.advice}" placeholder="Зөвлөгөө">
									</p:inputTextarea>
								</div>
							</div>
						</p:tab>
					</p:accordionPanel>
					<p:tabView id="inspection" styleClass="borderlessPanel">
						<p:tab title="#{i18n['past_medical_history']}">
							<p:accordionPanel id="pastHistory">
								<p:tab title="Төрөлт, өсөлт бойжилт ">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Төрөлт</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Хэдэн онд:</div>
										<div class="col-md-3">
											<p:calendar pattern="yyyy-MM-dd" navigator="true"
												styleClass="date-control"
												value="#{inspectionController.selectedCustomer.bDate}" />
										</div>
										<div class="col-md-3">Хаана:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.birthPlace}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Яаж төрсөн:</div>
										<div class="col-md-9">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.birthWay}">
												<f:selectItem itemLabel="Төрөх замаар" itemValue="0" />
												<f:selectItem itemLabel="Кесар хагалгаагаар" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Хугацаандаа:</div>
										<div class="col-md-3">
											<p:selectOneMenu style="width: 100%;"
												value="#{inspectionController.currentPastHistory.birthInTime}">
												<f:selectItem itemLabel="Хугацаандаа" itemValue="0" />
												<f:selectItem itemLabel="Дутуу" itemValue="1" />
												<f:selectItem itemLabel="Илүү" itemValue="2" />
											</p:selectOneMenu>
										</div>
										<div class="col-md-3">Хэдэн долоо хоног:</div>
										<div class="col-md-3">
											<p:inputText type="number" style="width: 100%;"
												value="#{inspectionController.currentPastHistory.birthDifferenceWeek}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Бага насны өсөлт</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Бага насны өсөлт, бойжилт:</div>
										<div class="col-md-3">
											<p:selectOneRadio layout="grid" columns="1"
												value="#{inspectionController.currentPastHistory.childGrowth}">
												<f:selectItem itemLabel="Хэвийн" itemValue="0" />
												<f:selectItem itemLabel="Хэвийн бус" itemValue="1" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Цэцэрлэгт явсан эсэх:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.kindergarten}">
												<f:selectItem itemLabel="Тийм" itemValue="0" />
												<f:selectItem itemLabel="Үгүй" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Сургуульд сурсан эсэх:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.school}">
												<f:selectItem itemLabel="Тийм" itemValue="0" />
												<f:selectItem itemLabel="Үгүй" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Дархлаажуулалт</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">Товлолын дагуу вакцинууддаа
											хамрагдсан эсэх:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.vaccine}">
												<f:selectItem itemLabel="Тийм" itemValue="0" />
												<f:selectItem itemLabel="Үгүй" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Багадаа өвдсөн өвчин:</div>
										</div>
									</div>
									<div class="row">

										<div class="col-md-12">
											<p:inputTextarea
												value="#{inspectionController.currentPastHistory.childHoodDisease}"
												style="min-width : 100%" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Биеийн хэмжигдэхүүн:</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Биеийн өндөр(см):</div>
										<div class="col-md-3">
											<p:inputText id="height" value="#{inspectionController.currentPastHistory.height}" type="number" onkeyup="calcWeightIndex()"/>
										</div>
										<div class="col-md-3">Биеийн жин(кг):</div>
										<div class="col-md-3">
											<p:inputText id="weight" value="#{inspectionController.currentPastHistory.bodyWeight}" type="number" onkeyup="calcWeightIndex()"/>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">БЖИ:</div>
										<div class="col-md-3" id="weightIndex">
											#{inspectionController.currentPastHistory.weightIndex}
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Систол даралт:</div>
										<div class="col-md-3">
											<p:inputText value="#{inspectionController.currentPastHistory.pressureHigh}" type="number"/>
										</div>
										<div class="col-md-3">Диастол даралт:</div>
										<div class="col-md-3">
											<p:inputText value="#{inspectionController.currentPastHistory.pressureLow}" type="number"/>
										</div>
									</div>
								</p:tab>
								<p:tab title="Өвчний түүх">
									<div class="row margin-bottom">
										<div class="col-md-3">Халдварт өвчин:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;" id="infectiousDisease"
												value="#{inspectionController.currentPastHistory.infectiousDisease}" />
											<p:watermark for="" value="Халдварт өвчинтэй бол тэмдэглэнэ үү"></p:watermark>
										</div>
										<div class="col-md-3">Ужиг өвчин:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.chronicIllness}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Осол гэмтэл:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.injury}" />
										</div>
										<div class="col-md-3">Хэдэн онд:</div>
										<div class="col-md-3">
											<p:calendar pattern="yyyy-MM-dd" navigator="true"
												styleClass="date-control"
												value="#{inspectionController.currentPastHistory.injuryDate}" />
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">Хийлгэсэн хагалгаа:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.surgery}" />
										</div>
										<div class="col-md-3">Хэдэн онд:</div>
										<div class="col-md-3">
											<p:calendar pattern="yyyy-MM-dd" navigator="true"
												styleClass="date-control"
												value="#{inspectionController.currentPastHistory.surgeryDate}" />
										</div>
									</div>
								</p:tab>
								<p:tab title="Амьдралын хэв маяг">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Архи</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Архи хэрэглэдэг эсэх:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.alcohol}">
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
												<f:selectItem itemLabel="Тийм" itemValue="1" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Хэр удаан:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.alcoholUsed}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Ямар архи:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.alcoholType}" />
										</div>
										<div class="col-md-3">Нэг удаа хэрэглэх хэмжээ:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.alcoholDose}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Тамхи</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Тамхи татдаг эсэх:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.tobacco}">
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
												<f:selectItem itemLabel="Тийм" itemValue="1" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Хэзээнээс:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.tobaccoUsed}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Ямар тамхи:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.tobaccoType}" />
										</div>
										<div class="col-md-3">Өдөрт татдаг хэмжээ:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.tobaccoDose}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Донтолт</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-9">ямар нэг мансууруулах бодис, эм,
											химийн бодис хэрэглэдэг үү / донтдог уу:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.drug}">
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
												<f:selectItem itemLabel="Тийм" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-9">хэрэглэхгүй удвал түүнийгээ
											үгүйлдэг үү/ нэхдэг үү:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.drugAddict}">
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
												<f:selectItem itemLabel="Тийм" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Хоол</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Ямар хоолтон:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.food}">
												<f:selectItem itemLabel="Махан" itemValue="0" />
												<f:selectItem itemLabel="Цагаан" itemValue="1" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Өдөрт хэд хооллодог:</div>
										<div class="col-md-3">
											<p:inputText style="width:100%;"
												value="#{inspectionController.currentPastHistory.foodTimes}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Ямар төрлийн хоол голдуу
											хэрэглэдэг:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.foodType}">
												<f:selectItem itemLabel="Хуурсан" itemValue="0" />
												<f:selectItem itemLabel="Шөлтэй" itemValue="1" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Ихэвчлэн хаана хооллодог:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.foodPlace}">
												<f:selectItem itemLabel="Гэртээ" itemValue="0" />
												<f:selectItem itemLabel="Гадуур" itemValue="1" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Дасгал хөдөлгөөн</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Дасгал хөдөлгөөн тогтмол хийдэг
											үү:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.excercise}">
												<f:selectItem itemLabel="Тийм" itemValue="1" />
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Долоо хоногт хэдэн удаа:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.excerciseWeek}" />
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">Нэг удаад ямар хугацаанд</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.excerciseTime}" />
										</div>
									</div>
								</p:tab>
								<p:tab title="Амьдралын нөхцөл">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Ахуйн нөхцөл</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Хаана амьдардаг вэ:</div>
										<div class="col-md-6">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.home}">
												<f:selectItem itemLabel="Орон сууц" itemValue="0" />
												<f:selectItem itemLabel="Гэр хороолол" itemValue="1" />
												<f:selectItem itemLabel="Хувийн орон сууц" itemValue="2" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Ажлын нөхцөл</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Хаана ямар ажил эрхэлдэг:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.job}" />
										</div>
										<div class="col-md-3">Ажлын нөхцөл:</div>
										<div class="col-md-3">
											<p:selectOneRadio layout="grid" columns="1"
												value="#{inspectionController.currentPastHistory.jobCondition}">
												<f:selectItem itemLabel="Энгийн" itemValue="0" />
												<f:selectItem itemLabel="Хортой" itemValue="1" />
												<f:selectItem itemLabel="Хүнд" itemValue="2" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">Ажлын цаг:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.jobTime}" />
										</div>
									</div>
								</p:tab>
								<p:tab title="Харшил">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Харшил</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-6">Ямар нэг зүйлд харшилдаг уу:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.allergy}">
												<f:selectItem itemLabel="Тийм" itemValue="1" />
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
											</p:selectOneRadio>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 margin-bottom">
											Хүнс:
											<p:inputTextarea style="width: 100%;" autoResize="false"
												rows="2"
												value="#{inspectionController.currentPastHistory.allergyFood}" />
										</div>
										<div class="col-md-12 margin-bottom">
											Эм:
											<p:inputTextarea style="width: 100%;" autoResize="false"
												rows="2"
												value="#{inspectionController.currentPastHistory.allergyMedicine}" />
										</div>
										<div class="col-md-12">
											Бусад бодис:
											<p:inputTextarea style="width: 100%;" autoResize="false"
												rows="2"
												value="#{inspectionController.currentPastHistory.allergyOther}" />
										</div>
									</div>
								</p:tab>
								<p:tab title="Эмийн хэрэглээ">
									<div class="col-md-12">
										<p:inputTextarea style="width: 100%;" rows="4"
											autoResize="false"
											value="#{inspectionController.currentPastHistory.medicineUsage}" />
									</div>
								</p:tab>
								<p:tab title="Тархвар зүйн асуумж">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Аялал</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Сүүлийн 3-6 сарын дотор гадны
											улсад зорчсон уу:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.travel}">
												<f:selectItem itemLabel="Тийм" itemValue="1" />
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
											</p:selectOneRadio>
										</div>
										<div class="col-md-3">Ямар зорилгоор:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.travelPurpose}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Цус цусан бүтээгдэхүүн ба
												эрхтэн шилжүүлэг</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-3">Сүүлийн 3-6 сарын дотор цус цусан
											бүтээгдэхүүн сэлбүүлсэн үү:</div>
										<div class="col-md-3">
											<p:selectOneRadio
												value="#{inspectionController.currentPastHistory.bloodRefresh}">
												<f:selectItem itemLabel="Тийм" itemValue="1" />
												<f:selectItem itemLabel="Үгүй" itemValue="0" />
											</p:selectOneRadio>
										</div>
									</div>
								</p:tab>
								<p:tab title="Удамшлын асуумж">
									<div class="row margin-bottom">
										<div class="col-md-12">
											<div class="form-title">Удамшлын асуумж</div>
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-9">Удамд ижил өвчтэй хүн байсан уу :</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.sameDisease}" />
										</div>
									</div>
									<div class="row margin-bottom">
										<div class="col-md-9">Гэр бүл, хамаатан саданд удамшлын
											өвчтэй хүн байгаа эсэх:</div>
										<div class="col-md-3">
											<p:inputText style="width: 100%;"
												value="#{inspectionController.currentPastHistory.familyDisease}" />
										</div>
									</div>
								</p:tab>
							</p:accordionPanel>
							<div class="row margin-top">
								<div class="col-md-12 text-right">
									<p:commandLink styleClass="btn btn-green"
										onstart="showLoader();" onsuccess="hideLoader();"
										onerror="hideLoader();"
										actionListener="#{inspectionController.savePastHistory}">
										<i class="fa fa-fw fa-check" /> Өвчтөний түүх мэдээлэл хадгалах
				    						</p:commandLink>
								</div>
							</div>
						</p:tab>
						<ui:insert name="inspection" />
					</p:tabView>
					<div class="row margin-top">
						<div class="col-md-12 text-right">
							<p:commandLink styleClass="btn" onstart="showLoader();"
								onsuccess="hideLoader();" onerror="hideLoader();"
								rendered="#{inspectionController.currentEmployeeRequest.mood != 2}"
								action="#{inspectionController.saveInspection}"
								oncomplete="PF('ocsRedirect').show(); ">
								<i class="fa fa-fw fa-check" /> EMR Хадгалах
				    				</p:commandLink>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
		<p:dialog id="ERMprintDialogs1" widgetVar="ERMprintDialog1"
			width="800px" height="500" styleClass="dialog-scroll">
			<p:panel id="ERMprint_panel1" styleClass="no-style-panel">
				<ui:include src="#{inspectionController.inpectionTypeString}"></ui:include>
			</p:panel>
			<a class="btn btn-app" href="javascript:void(0)"
				onclick="print1('EmrTablePrint');"> <i
				class="fa fa-print color-blue"></i> Хэвлэх
			</a>
			<a class="btn btn-app"
				onclick="tableToExcel('EmrTablePrint','Хэвлэх');"
				href="javascript:void(0)"> <i
				class="fa fa-file-excel-o color-green"></i> XLS
			</a>
		</p:dialog>
		<p:dialog styleClass="confirmDialog" id="ocs-redirect"
			widgetVar="ocsRedirect" modal="true" resizable="false">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-warning color-orange" /></td>
					<td class="panel-confirm-dialog-text">EMR Амжилттай
						хадгалагдлаа.<br /> OCS-рүү шилжих үү ?
					</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-md-1" />
				<div class="col-md-5">
					<p:commandLink styleClass="btn " action="ocs"
						oncomplete="PF('ocsRedirect').hide();">
						<i class="fa fa-fw fa-check" />Тийм</p:commandLink>
				</div>
				<div class="col-md-5">
					<p:commandLink styleClass="btn redBtn"
						oncomplete="PF('ocsRedirect').hide();">
						<i class="fa fa-fw fa-times" />Үгүй</p:commandLink>
				</div>
				<div class="col-md-1" />
			</div>
		</p:dialog>
		<p:dialog styleClass="confirmDialog" id="confirmDialogDiagnose"
			widgetVar="confirmDialogDeleteDiagnose" modal="true"
			resizable="false" width="300">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-warning color-orange" /></td>
					<td class="panel-confirm-dialog-text">Та оношийг устгахдаа
						итгэлтэй байна уу?</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-md-1" />
				<div class="col-md-5">
					<p:commandLink styleClass="btn "
						actionListener="#{inspectionController.removeDiagnose}"
						process="@this" update="form:inspection"
						oncomplete="PF('confirmDialogDeleteDiagnose').hide();">
						<i class="fa fa-fw fa-check" /> Устгах</p:commandLink>
				</div>
				<div class="col-md-5">
					<p:commandLink styleClass="btn redBtn"
						oncomplete="PF('confirmDialogDeleteDiagnose').hide();"
						update="form:inspection">
						<i class="fa fa-fw fa-times" />Болих </p:commandLink>
				</div>
				<div class="col-md-1" />
			</div>
		</p:dialog>

		<p:dialog widgetVar="examination-dtl-dialog"
			styleClass="dialog-scroll" header="Шинжилгээ" minimizable="true"
			closeOnEscape="yes" width="750" height="500">
			<div class="row">
				<div class="col-md-12 margin-bottom">
					<p:panel id="doom" styleClass="no-style-panel">
						<p:commandLink styleClass="btn"
							onclick="$(PF('allExaTable').jqId).show();$(PF('exaTable').jqId).hide()" >
		    				Бүгд
		    			</p:commandLink>
						<ui:repeat var="exam"
							value="#{inspectionController.customerExaminations}">
							<p:commandLink styleClass="btn"
								action="#{inspectionController.getExaminationResults(exam)}"
								oncomplete="$(PF('allExaTable').jqId).hide();$(PF('exaTable').jqId).show()">
			    				#{exam.examinationName} (#{exam.count})
			    			</p:commandLink>
						</ui:repeat>
					</p:panel>
				</div>
			</div>
			<p:dataTable styleClass="myTable" id="examination-info"
				widgetVar="allExaTable" style="display:none;"
				value="#{inspectionController.listExaminationRequestCompleted}"
				var="dtl" rowIndexVar="rowIndex" emptyMessage="Хоосон байна">
				<p:column headerText="№" styleClass="id">
						#{rowIndex + 1}						
					</p:column>
				<p:column headerText="Огноо" styleClass="date-time">
						#{dtl.getDateString(dtl.getRequestDate())}						
					</p:column>
				<p:column headerText="Шинжилгээний нэр" styleClass="text">
						#{dtl.examinationName}						
					</p:column>
				<p:column headerText="Лаборант" styleClass="text">
						#{dtl.employeeName}
					</p:column>
				<p:column headerText="Илгээсэн эмч" styleClass="text">
						#{dtl.employeeName}
					</p:column>
			</p:dataTable>
			<p:panel styleClass="no-style-panel" widgetVar="exaTable" id="qop">
				<div class="ui-datatable ui-widget myTable">
					<div class="ui-datatable-tablewrapper">
						<table>
							<thead id="form:examination-info_head">
								<tr>
									<th class="ui-state-default id"><span>Элемент</span></th>
									<th class="ui-state-default id"><span>Лавлах хэмжээ</span></th>
									<th class="ui-state-default id"><span>Нэгж</span></th>
									<ui:repeat var="req"
										value="#{inspectionController.currentCustomerExaminations}">
										<th class="ui-state-default date-time"><span>#{req.getDateString(req.requestDate)}</span>
										</th>
									</ui:repeat>
								</tr>
							</thead>
							<tbody id="form:examination-info_data"
								class="ui-datatable-data ui-widget-content">
									
								<ui:repeat var="result"
									value="#{inspectionController.examinationResults}">
									
									<tr class="ui-widget-content ui-datatable-even">
										<td class="text">#{result.evqName}</td>
										<td class="text">#{result.range}</td>
										<td class="text">#{result.measurement}</td>
										<ui:repeat var="value" value="#{result.values}">
											<td class="short-number">#{value}</td>
										</ui:repeat>
									</tr>
									
								</ui:repeat>
							</tbody>
						</table>
					</div>
				</div>
			</p:panel>
		</p:dialog>
		<p:dialog widgetVar="examinationEquals" header="Дэлгэрэнгүй"
			width="800" height="500">
		</p:dialog>
		<p:dialog widgetVar="exaResultPrint" id="exaResultPrint" height="500"
			width="800" closeOnEscape="true" resizable="false"
			styleClass="dialog-scroll" header="Шинжилгээний үзүүлэлтүүд">
			<p:panel styleClass="no-style-panel" id="dubuQo">
				<ui:repeat var="e" value="#{customerController.filteredErc}"
					varStatus="status">
					<table id="tablePrintFromcl" style="width: 100%;">
						<tr>
							<td colspan="4"
								style="font-size: 13px; font-family: Times New Roman; font-weight: 700; text-align: center; vertical-align: middle; padding: 12px 0px;">
								АШУҮИС-ийн "ИХ СУРГУУЛИЙН НЭГДСЭН ЭМНЭЛЭГ"</td>
						</tr>
						<tr>
							<td colspan="2"
								style="font-size: 13px; font-family: Times New Roman; text-align: left; vertical-align: middle; padding: 12px 0px;">
								Овог, Нэр : #{e.customer.lastName} , #{e.customer.firstName}</td>
							<td colspan="2"
								style="font-size: 13px; font-family: Times New Roman; text-align: right; vertical-align: middle; padding: 12px 0px;">
								Нас, Хүйс : #{e.customer.age} , #{e.customer.genderString}</td>
						</tr>
						<tr>
							<td colspan="4"
								style="font-size: 13px; font-family: Times New Roman; font-weight: 700; text-align: center; vertical-align: middle; padding: 12px 0px;">
								#{e.examinationName}</td>
						</tr>
						<tr>
							<td colspan="4"
								style="font-size: 12px; font-family: Times New Roman; vertical-align: middle; padding-top: 12px;">
								<table style="border: 0.1px solid black; width: 100%"
									cellpadding="0" cellspacing="0">
									<tr>
										<td
											style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
											№</td>
										<td
											style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">Асуумж</td>
										<td
											style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">Лавламж</td>
										<td
											style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
											Нэгж</td>
										<td
											style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
											Хариу</td>
									</tr>
									<ui:repeat value="#{e.exaResults}" var="r" varStatus="index">
										<tr>
											<td
												style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
												#{index.index+1}</td>
											<td
												style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
												#{r.evqName}</td>
											<td
												style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
												#{r.range}</td>
											<td
												style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
												#{r.measurement}</td>
											<td
												style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">
												#{r.value}</td>
										</tr>
									</ui:repeat>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2"
								style="font-size: 12px; font-family: Times New Roman; padding: 12px 0px; text-align: left;">Эмч:
							</td>
							<td colspan="2"
								style="font-size: 12px; font-family: Times New Roman; padding: 12px 60px 0px 0px; text-align: right;">Лаборант:
							</td>
						</tr>

					</table>
					<!-- <p:panel styleClass = "no-style-panel" rendered="#{!status.last}" > 
					<div  style = "page-break-before: always;" />
				</p:panel> -->
				</ui:repeat>
				<p
					style="font-size: 12px; font-family: Times New Roman; vertical-align: middle; text-align: center;">Хэвлэсэн
					огноо:
					#{customerController.getDateString(customerController.currentDate)}</p>
			</p:panel>
			<a class="btn btn-app" href="javascript:void(0)"
				onclick="print1('form:dubuQo');"> <i
				class="fa fa-print color-blue"></i> Хэвлэх
			</a>
			<a class="btn btn-app" onclick="printPdf();"
				href="javascript:void(0)"> <i class="fa fa-file-pdf-o color-red"></i>
				PDF <p:remoteCommand process="@this" name="printToPDF" />
			</a>
			<a class="btn btn-app"
				onclick="tableToExcel('tablePrint','Шинжилгээний хариу');"
				href="javascript:void(0)"> <i
				class="fa fa-file-excel-o color-green"></i> XLS
			</a>
		</p:dialog>
		
		<p:dialog widgetVar="showImage" modal="false"
			header="#{i18n['xray_image']}" resizable="true" styleClass="dialog-scroll"
			width="800" height="550" id="showImage" closeOnEscape="true">
			<div class = "row">
			<p:graphicImage id="pppp" style="max-width:100%; max-height:100v; position:absolute;"
				value="#{xrayController.imageRentgen}" cache="false" />
			</div>
		</p:dialog>

		<p:dialog widgetVar="diagnose-dtl-dialog" styleClass="dialog-scroll"
			header="Оношилгоо" height="400" width="800" minimizable="true">
			<p:panel styleClass="no-style-panel" id="xrayInfoUpdate">
				<div class="content">
					<div class="row" style="margin-top: 10px; margin-botton: 10px;">
						<div class="col-md-4">
							<p style="font-weight: 900; float: left;">Овог, Нэр :</p>
							<p>#{inspectionController.selectedCustomer.lastName} ,
								#{inspectionController.selectedCustomer.firstName}</p>
						</div>
						<div class="col-md-4">
							<p style="font-weight: 900; float: left;">Нас, Хүйс :</p>
							<p>#{inspectionController.selectedCustomer.age} ,
								#{inspectionController.selectedCustomer.genderString}</p>
						</div>
						<div class="col-md-4">
							<p style="font-weight: 900; float: left;">РД :</p>
							<p>#{inspectionController.selectedCustomer.regNumber}</p>
						</div>
					</div>
					<div class="col-md-12">
						<p:dataTable id="tableXrayInfo" styleClass="myTable"
							value="#{inspectionController.xrayRequests}" var="info"
							rowIndexVar="index" emptyMessage="#{i18n['empty']}"
							paginator="true" paginatorPosition="bottom">
							<p:column styleClass="index" headerText="№"> #{index + 1}</p:column>
							<p:column styleClass="date"
								headerText="#{i18n['sent_by_doctor']} / #{i18n['date']}">#{info.dateString} <br /> #{info.employeeName}  </p:column>
							<p:column styleClass="text" headerText="#{i18n['xray_name']}">#{info.xrayName} </p:column>
							<p:column styleClass="text" headerText="#{i18n['description']}"> #{info.description} </p:column>
							<p:column styleClass="text" headerText="#{i18n['image']}">
								<ui:repeat value="#{info.imgList}" var="il" varStatus="index">
									<h:commandLink value="#{il}" rendered="#{info.image != null and !il.endsWith('jpg')}"
										actionListener="#{xrayController.showSelectedImage(info, il)}">
										<p:fileDownload value="#{xrayController.imageRentgen}" />
									</h:commandLink>
									
									<p:commandLink value="#{il}" rendered="#{info.image != null and il.endsWith('jpg')}"
										actionListener="#{xrayController.showSelectedImage(info, il)}" oncomplete="PF('showImage').show();"
										>
									</p:commandLink>
									
									<br />
								</ui:repeat>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</p:panel>
		</p:dialog>
		<p:dialog widgetVar="surgery-dtl-dialog" styleClass="dialog-scroll"
			header="Хагалгаа" minimizable="true">
			<p:selectOneMenu filter="true"
				value="#{inspectionController.selectedSurgeryTypePkId}"
				styleClass="pull-left">
				<f:selectItem itemLabel="Бүгд" itemValue="0" />
				<f:selectItems value="#{applicationController.surgeryType}"
					var="type" itemLabel="#{type.name}" itemValue="#{type.pkId}" />
			</p:selectOneMenu>
			<p:calendar navigator="true" pattern="yyyy-MM-dd"
				value="#{inspectionController.beginDate}"
				styleClass="date-control pull-left" />
			<span class="pull-left">-</span>
			<p:calendar navigator="true" pattern="yyyy-MM-dd"
				value="#{inspectionController.endDate}"
				styleClass="date-control pull-left" />
			<p:inputText id="filterSurgeryName" styleClass="pull-left"
				value="#{inspectionController.filterSurgeryName}" />
			<p:watermark for="filterSurgeryName" value="Хагалгааны нэр"></p:watermark>

			<p:commandButton icon="ui-icon-search" value="Шүүх"
				actionListener="#{inspectionController.getCustomerSurgery}"
				ajax="true" update="form:customerSurgeryTable"></p:commandButton>
			<p:dataTable id="customerSurgeryTable" styleClass="myTable"
				emptyMessage="Хоосон байна." style="width: 100%;"
				value="#{inspectionController.listSurgeryInfo}" var="item"
				rowIndexVar="index" paginator="true" paginatorPosition="bottom"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5">
				<p:column headerText="Төрөл" styleClass="text">
						#{item.typeName}
					</p:column>
				<p:column headerText="Нэр" styleClass="text">
						#{item.name}
					</p:column>
				<p:column headerText="Үргэлжлэх хугацаа" styleClass="number">
						#{item.dayLength}
					</p:column>
				<p:column headerText="Илгээсэн эмч" styleClass="text">
						#{item.doctorName}
					</p:column>
				<p:column headerText="Огноо" styleClass="date">
						#{item.getDateString(item.inspectionDate)}
					</p:column>
			</p:dataTable>
		</p:dialog>
		<p:dialog widgetVar="medicine-dtl-dialog" styleClass="dialog-scroll"
			header="Эм" minimizable="true">
			<p:dataTable styleClass="myTable" emptyMessage="Хоосон байна"
				var="inspectionInfo" style="width: 100%;"
				value="#{inspectionController.listMedicineInfo}">
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="Нэр" />
						<p:column headerText="Хэмжих нэгж" />
						<p:column headerText="Үргэлжлэх хугацаа" />
						<p:column headerText="1 удаа хэрэглэх хэмжээ" />
						<p:column headerText="Өдөрт уух тоо" />
						<p:column headerText="Цагийн интервал" />
					</p:row>
				</p:columnGroup>
				<p:subTable value="#{inspectionInfo.inspectionDtl}" var="dtl">
					<f:facet name="header">
			            	Огноо: #{inspectionInfo.getDateString()}
			                #{inspectionInfo.subOrgaName} - #{inspectionInfo.employeeName}
			            </f:facet>
					<p:column styleClass="text">
						<h:outputText value="#{dtl.name}" />
					</p:column>
					<p:column styleClass="short-text">
						<h:outputText value="#{dtl.measurement}" />
					</p:column>
					<p:column styleClass="number">
						<h:outputText value="#{dtl.expireDay}" />
					</p:column>
					<p:column styleClass="number">
						<h:outputText value="#{dtl.dose}" />
					</p:column>
					<p:column styleClass="number">
						<h:outputText value="#{dtl.repeatCount}" />
					</p:column>
					<p:column styleClass="number">
						<h:outputText value="#{dtl.repeatTime}" />
					</p:column>
				</p:subTable>
			</p:dataTable>
		</p:dialog>
		<p:dialog header="Эмчилгээ" widgetVar="treatment-dtl-dialog"
			styleClass="dialog-scroll" minimizable="true">
			<p:selectOneMenu filter="true"
				value="#{inspectionController.selectedTreatmentTypePkId}"
				styleClass="pull-left">
				<f:selectItem itemLabel="Бүгд" itemValue="0" />
				<f:selectItems value="#{applicationController.treatmentType}"
					var="type" itemLabel="#{type.name}" itemValue="#{type.pkId}" />
			</p:selectOneMenu>
			<p:calendar navigator="true" pattern="yyyy-MM-dd"
				value="#{inspectionController.beginDate}"
				styleClass="date-control pull-left" />
			<span class="pull-left">-</span>
			<p:calendar navigator="true" pattern="yyyy-MM-dd"
				value="#{inspectionController.endDate}"
				styleClass="date-control pull-left" />
			<p:inputText id="filterTreatmentName" styleClass="pull-left"
				value="#{inspectionController.filterTreatmentName}" />
			<p:watermark for="filterTreatmentName" value="Эмчилгээний нэр"></p:watermark>

			<p:commandButton icon="ui-icon-search" value="Шүүх"
				actionListener="#{inspectionController.getCustomerTreatment}"
				ajax="true" update="form:customerTreatmentTable"></p:commandButton>
			<p:dataTable id="customerTreatmentTable" styleClass="myTable"
				emptyMessage="Хоосон байна" var="treatment" style="width: 100%;"
				value="#{inspectionController.listTreatmentInfo}" paginator="true"
				paginatorPosition="bottom"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5">
				<p:column headerText="Төрөл" styleClass="text">
						#{treatment.typeName}
					</p:column>
				<p:column headerText="Нэр" styleClass="text">
						#{treatment.name}
					</p:column>
				<p:column headerText="Үргэлжлэх хугацаа" styleClass="number">
						#{treatment.dayLength}
					</p:column>
				<p:column headerText="Эмчилгээ хийх тоо" styleClass="number">
						#{treatment.times}
					</p:column>
				<p:column headerText="Хийлгэсэн тоо" styleClass="number">
						#{treatment.doneCount}
					</p:column>
				<p:column headerText="Илгээсэн эмч" styleClass="text">
						#{treatment.doctorName}
					</p:column>
				<p:column headerText="Огноо" styleClass="date">
						#{treatment.getDateString(treatment.inspectionDate)}
					</p:column>
			</p:dataTable>
		</p:dialog>
		
		<p:dialog header="Зурганы нэр" widgetVar="attachment-name" modal="true" resizable="false">
			<p:remoteCommand  name="updateAttachmentName" update="form:attachmentNamePanel"/>
			<p:panel styleClass="no-style-panel" id="attachmentNamePanel">
				<p:inputText id="attachmentName" style="width: 200px;" value="#{inspectionController.attachmentName}"/>
				<p:watermark value="Зурагны нэр оруулна уу" for="attachmentName"></p:watermark>
				#{inspectionController.attachment.description}
				<p:commandLink styleClass="btn" style="margin-left: 10px;" actionListener="#{inspectionController.setFileName}" oncomplete="PF('attachment-name').hide()">
					<i class="fa fa-check"/>
				</p:commandLink>
			</p:panel>
		</p:dialog>
		<p:dialog header="Онош" widgetVar="all-diagnose-dialog" modal="true"
			width="700" resizable="false" minimizable="true">
			<p:dataTable styleClass="myTable" emptyMessage="Хоосон байна"
				var="diagnose" style="width: 100%;"
				value="#{applicationController.lazyDiagnoseList}" paginator="true"
				lazy="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" rows="5">
				<p:column headerText="ID" styleClass="text"
					filterBy="#{diagnose.id}">
					<p:commandLink
						actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}"
						oncomplete="PF('all-diagnose-dialog').hide()">
							#{diagnose.id}
						</p:commandLink>
				</p:column>
				<p:column headerText="Монгол нэр" styleClass="text"
					filterBy="#{diagnose.nameMn}">
					<p:commandLink
						actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}"
						oncomplete="PF('all-diagnose-dialog').hide()">
							#{diagnose.nameMn}
						</p:commandLink>
				</p:column>
				<p:column headerText="Англи нэр" styleClass="number"
					filterBy="#{diagnose.nameEn}">
					<p:commandLink
						actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}"
						oncomplete="PF('all-diagnose-dialog').hide()">
							#{diagnose.nameEn}
						</p:commandLink>
				</p:column>
				<p:column headerText="Орос нэр" styleClass="number"
					filterBy="#{diagnose.nameRu}">
					<p:commandLink
						actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}"
						oncomplete="PF('all-diagnose-dialog').hide()">
							#{diagnose.nameRu}
						</p:commandLink>
				</p:column>
			</p:dataTable>
		</p:dialog>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Тийм" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Үгүй" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
		<div id="id-diagnose-overlay" class="diagnose-overlay"
			style="display: none;">
			<p:panel id="diagnose-list" styleClass="no-style-panel">
				<div class="display-table">
					<ui:repeat var="diagnose"
						value="#{inspectionController.approvedFilteredDiagnose}">
						<div class="diagnose-overlay-row">
							<div class="display-table-cell">
								<p:commandLink
									actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}">
												#{diagnose.id}
								</p:commandLink>
							</div>
							<div class="display-table-cell">
								<p:commandLink
									actionListener="#{inspectionController.onDiagnoseSelect(diagnose)}">
												#{diagnose.nameMn}
								</p:commandLink>
							</div>
						</div>
					</ui:repeat>
					<div class="col-md-12 text-center" style="">Таны хайсан онош
						байхгүй байна</div>
				</div>
			</p:panel>
		</div>
		<div id="modal-image" class="modal-image" style="display: none;">
			<div class="modal-image-close" onclick="$('#modal-image').hide()">
				<i class="fa fa-remove" />
			</div>
		</div>
		<p:remoteCommand name="refreshDiagnoseList"
			actionListener="#{inspectionController.getFilteredDiagnoses}"
			process="@form" update="form:diagnose-list" />
	</ui:define>
	<ui:define name="additional-script-2">
		<script
			src="#{applicationController.path}js/jquery.elevateZoom-3.0.8.min.js"
			type="text/javascript"></script>
		<script>
			//<![CDATA[
			var isReinspection = false;
			var diagnoseInputId = "";
			$(document)
					.ready(
							function() {
								if ($("#form\\:inspSelect\\:0").attr("checked")) {
									isReinspection = false;
									$("#form\\:reinspection").hide();
									$("#form\\:inspection").show();
								} else {
									isReinspection = true;
									$("#form\\:reinspection").show();
									$("#form\\:inspection").hide();
								}
								$(document)
										.click(
												function(elem) {
													if ($(elem.target).attr(
															"id") != diagnoseInputId) {
														$(
																"#id-diagnose-overlay")
																.hide();
													}
												})
								$(window)
										.scroll(
												function() {
													if ($(
															"#id-diagnose-overlay")
															.css('display') != 'none') {
														var elem = document.activeElement;
														$(
																"#id-diagnose-overlay")
																.offset(
																		{
																			top : parseFloat($(
																					elem)
																					.offset().top)
																					+ parseFloat($(
																							elem)
																							.outerHeight()),
																			left : $(
																					elem)
																					.offset().left
																		})
													}
												});
								// 				$(PrimeFaces.escapeClientId('form:search-inspection')).click();

								// 				$('#form').areYouSure();
							});
			function callRefreshList(elem, diagnose, type, byName) {
				if ($(elem).val().length > 2 || $(elem).val().length == 0) {
					delay(function() {
						refreshDiagnoseList([ {
							name : 'val',
							value : $(elem).val()
						}, {
							name : 'diag',
							value : diagnose
						}, {
							name : 'typ',
							value : type
						}, {
							name : 'byName',
							value : byName
						} ])
					}, 300);
				}
			}
			function showDiagnosePick(elem, diagnose, type, byName) {
				if ($(elem).val().length == 0) {
					delay(function() {
						refreshDiagnoseList([ {
							name : 'val',
							value : $(elem).val()
						}, {
							name : 'diag',
							value : diagnose
						}, {
							name : 'typ',
							value : type
						}, {
							name : 'byName',
							value : byName
						} ])
					}, 300);
				}
				var topPos = parseFloat($(elem).offset().top)
						+ parseFloat($(elem).outerHeight());
				var leftPos = $(elem).offset().left;
				diagnoseInputId = $(elem).attr("id");
				console.log(topPos + ' ' + leftPos);
				$("#id-diagnose-overlay").show();
				$("#id-diagnose-overlay").offset({
					top : topPos,
					left : leftPos
				});
			}
			function showHideInspection() {
				if (isReinspection) {
					isReinspection = false;
					$("#form\\:reinspection").hide();
					$("#form\\:inspection").show();
				} else {
					isReinspection = true;
					$("#form\\:reinspection").show();
					$("#form\\:inspection").hide();
				}
			}
			function uploadImage(id) {
				$(
						PrimeFaces
								.escapeClientId('form:reinspection:fileUpload_input'))
						.click();
			}
			function makeZoomable() {
				// 				$(".zoom").each(function(e){
				// 					$($(".zoom")[e]).attr("data-zoom-image", $($(".zoom")[e]).attr('src'))
				// 					$($(".zoom")[e]).elevateZoom({scrollZoom : true,zoomWindowPosition: 10,easing : true});
				// 				})
			}
			function showModalImage(elem) {
				$("#modal-image img").remove();
				$("#modal-image").show();
				var clone = $(elem).clone();
				$(clone).removeAttr("height");
				console.log($(clone).height());
				$(clone).load(function() {
					if ($(this).height() > 400) {
						$(this).height(400);
					}
				});
				$(clone).addClass("absolute-center");
				$(clone).attr("id", "");
				$("#modal-image").append(clone);
			}
			
			var calcWeightIndex = function(){
				debugger;
				var height = $("#form\\:inspection\\:pastHistory\\:height").val(),
				weight = $("#form\\:inspection\\:pastHistory\\:weight").val();
				if(parseFloat(height) != 0 && parseFloat(weight) != 0 ) {
					$("#weightIndex").html((weight/ Math.pow(height/100, 2)).toFixed(2));
				}
			}
			function copyText(inp){
				debugger;
				if (inp) {
				  // select text
				  if (document.selection) {
			            var range = document.body.createTextRange();
			            range.moveToElementText(inp);
			            range.select();
			        } else if (window.getSelection) {
			            var range = document.createRange();
			            range.selectNode(inp);
			            window.getSelection().addRange(range);
			        }
				  
				  
				  try {
				    // copy text
				    document.execCommand('copy');
				    inp.blur();
				    // copied animation
				  }
				  catch (err) {
				    alert('please press Ctrl/Cmd+C to copy');
				  }
				}
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>