<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="emr.xhtml">
	<ui:define name="inspection">
		<p:tab title="Уушги">
			<p:accordionPanel id="ww">
				<p:tab title="Зовиур">
					<div class="row">
						<!-- value="#{inspectionController.customerLung.cough}" -->
						<div class="col-md-6">
							<p:selectBooleanCheckbox
								value="#{inspectionController.customerLung.doCough}"
								id="doCough" onchange="showHidePhlegm();">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label style="margin-bottom: 5px;"
								for="form:inspection:ww:doCough_input"> Ханиалга </label>
						</div>
						<div class="col-md-6" id="phlegmSection">
							<p:selectBooleanCheckbox id="phlegm"
								value="#{inspectionController.customerLung.doPhlegm}"
								onchange="showHidePhlegmDetail();">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label style="margin-bottom: 5px;"
								for="form:inspection:ww:phlegm_input">Цэртэй эсэх </label>
						</div>

						<div class="col-md-6" style="height: 40px !important"
							id="phlegmColorSection">
							<label for="form:inspecition:ww:phlegmColor"> Цэрний
								өнгө: </label>
							<p:inputText id="phlegmColor"
								value="#{inspectionController.customerLung.phlegmColor}"
								style="width: 100%;" />
						</div>
						<div class="col-md-6" style="height: 45px !important"
							id="phlegmSizeSection">
							Хэмжээ:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.phlegmSize}"
								style="width:100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0"></f:selectItem>
								<f:selectItem itemLabel="Их" itemValue="3"></f:selectItem>
								<f:selectItem itemLabel="Дунд" itemValue="2"></f:selectItem>
								<f:selectItem itemLabel="Бага" itemValue="1"></f:selectItem>

							</p:selectOneMenu>
						</div>

						<div class="col-md-6" style="height: 45px !important"
							id="phlegmWhenSection">
							Цэр хэдийд гардаг:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.phlegmWhen}"
								style="width: 100%;">
								<f:selectItem itemLabel="Хэдийд ч хамаагүй" itemValue="4"></f:selectItem>
								<f:selectItem itemLabel="Өглөө" itemValue="3"></f:selectItem>
								<f:selectItem itemLabel="Өдөр" itemValue="2"></f:selectItem>
								<f:selectItem itemLabel="Орой" itemValue="1"></f:selectItem>
							</p:selectOneMenu>
						</div>
						<div class="col-md-6" style="height: 45px !important"
							id="phlegmPositionSection">
							Цэр байрлалтай холбоотой:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.phlegmPosition}"
								style="width: 100%;">
								<f:selectItem itemLabel="Үгүй" itemValue="1"></f:selectItem>
								<f:selectItem itemLabel="Тийм" itemValue="2"></f:selectItem>
								<f:selectItem itemLabel="Баруун талаар хэвтэх үед" itemValue="3"></f:selectItem>
								<f:selectItem itemLabel="Зүүн талаар хэвтэх үед" itemValue="4"></f:selectItem>
							</p:selectOneMenu>
						</div>

						<div class="col-md-6" style="height: 45px !important"
							id="phlegmGetOffSection">
							Цэр ховхрохдоо:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.phlegmGetOff}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0"></f:selectItem>
								<f:selectItem itemLabel="Муу" itemValue="1"></f:selectItem>
								<f:selectItem itemLabel="Дунд" itemValue="2"></f:selectItem>
								<f:selectItem itemLabel="Сайн" itemValue="3"></f:selectItem>
							</p:selectOneMenu>
						</div>
						<div class="col-md-6" style="height: 60px !important"
							id="phlegmDescriptionSection">
							Нэмэлт тайлбар:
							<p:inputTextarea
								value="#{inspectionController.customerLung.phlegmDescription}"
								rows="2" style="width:100%;" autoResize="false">
							</p:inputTextarea>
						</div>
						<div class="col-md-12" id="chestHurtSection">
							<p:selectBooleanCheckbox
								value="#{inspectionController.customerLung.doChestHurt}"
								id="chestHurt">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label for="form:inspection:ww:chestHurt_input">Цээжээр
								өвддөг:</label>
						</div>
						<div class="col-md-12" id="ffever" style="height: 40px !important">
							<p:selectBooleanCheckbox
								value="#{inspectionController.customerLung.doFever}"
								id="doFever" onchange="showHideFeverDetail();">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label for="form:inspection:ww:doFever_input">Халуурах:</label>
						</div>
						<div class="col-md-6" style="height: 40px !important"
							id="feverSection">
							<p:inputTextarea
								value="#{inspectionController.customerLung.feverDescription}"
								rows="2" autoResize="false" style="width:100%;">
							</p:inputTextarea>
						</div>

						<div class="col-md-6" id="dyspneaSection">
							<p:selectBooleanCheckbox id="doDyspnea"
								value="#{inspectionController.customerLung.doDyspnea}"
								onchange="showHideDyspneaDetail();">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label for="form:inspection:ww:doDyspnea_input">
								Амьсгаадалт: </label>
						</div>
						<div class="col-md-6" style="height: 45px !important"
							id="phaseLossSection">
							Амьсгалын аль фаз нь алдагдалтай:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.phaseLoss}"
								style="width: 100%;">
								<f:selectItem itemLabel="Авалт" itemValue="0" />
								<f:selectItem itemLabel="Гаралт" itemValue="1" />
								<f:selectItem itemLabel="Хоёр фаз" itemValue="2" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-12" style="height: 45px !important"
							id="dyspneaLevelByMmrsSection">
							Амьсгаадалтын ачаалал даах чадварыг MMRC үнэлгээний зэргээр
							сонгох:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.dyspneaLevelByMMRC}"
								style="width: 100%;">

								<f:selectItem
									itemLabel="0 зэрэг Биеийн хүчний ачаалалд амьсгаадна"
									itemValue="1" />
								<f:selectItem
									itemLabel="1 зэрэг Өгсүүр газарт явах болон ижил насны хүнтэй явахад амьсгаадна"
									itemValue="2" />
								<f:selectItem
									itemLabel="2 зэрэг Тэгш газарт 15 минут яваад амьсгаадна "
									itemValue="3" />
								<f:selectItem
									itemLabel="3 зэрэг Ойр зуурт 100 метр газар ойрхон дэлгүүр явах үед амьсгаадна"
									itemValue="4" />
								<f:selectItem
									itemLabel="4 зэрэг Тайван суух болон хувцасаа өмсөх үед амьсгаадна"
									itemValue="5" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-12" style="height: 45px !important"
							id="feelUneasySection">
							<p:selectBooleanCheckbox id="feelUneasy"
								value="#{inspectionController.customerLung.doFeelUneasy}"
								onchange="showHideFeelUneasyDetail();">
								<p:ajax event="change" />
							</p:selectBooleanCheckbox>
							<label for="form:inspection:ww:feelUneasy_input"> Амьсгал
								бачуурдаг: </label>
						</div>

						<div class="col-md-6" style="height: 45px !important"
							id="uneasyOccurationSection">
							Өдрийн бачуурал, бачуурлын үргэлжлэх хугацаа:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.uneasyOccuration}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0" />
								<f:selectItem
									itemLabel="Сэдрэлийн үед долоо хоногт 2 ба түүнээс цөөн, богино хугацаанд үргэлжилдэг"
									itemValue="1" />
								<f:selectItem
									itemLabel="Долоо хоногт 2 удаа, сэдрэл идэвхитэй хөдөлгөөнд саад болж болно."
									itemValue="2" />
								<f:selectItem
									itemLabel="Сэдрэл долоо хоногт 2 ба түүнээс олон удаа, хэд хоногоор үргэлжилж болно."
									itemValue="3" />
								<f:selectItem itemLabel="Шинж тэмдэг байнга илэрнэ."
									itemValue="4" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-6" style="height: 45px !important"
							id="nightUneasySection">
							Шөнийн бачуурал:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.nightUneasy}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0" />
								<f:selectItem itemLabel="Сард 2 ба түүнээс цөөн" itemValue="1" />
								<f:selectItem itemLabel="Сард 2 удаа" itemValue="2" />
								<f:selectItem itemLabel="Долоо хоногт 1 удаа" itemValue="3" />
								<f:selectItem itemLabel="Байнга" itemValue="4" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-6" style="height: 45px !important"
							id="dayVarianceSection">
							Хоногийн хэлбэлзэл:
							<p:selectOneMenu
								value="#{inspectionController.customerLung.dayVariance}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0" />
								<f:selectItem itemLabel=" &lt; 20%" itemValue="1" />
								<f:selectItem itemLabel="20-30" itemValue="2" />
								<f:selectItem itemLabel=" &gt; 30" itemValue="3" />
							</p:selectOneMenu>
						</div>

						<div class="col-md-3">Зовиур</div>
						<div class="col-md-9">
							<p:inputTextarea style="width:100%;" rows="2"
								value="#{inspectionController.customerLung.otherPain}">
							</p:inputTextarea>
						</div>
					</div>
				</p:tab>
				<p:tab title="Өвчний түүх">
					<div class="row margin-bottom">
						<div class="col-md-3">Огноо:</div>
						<div class="col-md-3">
							<p:calendar
								value="#{inspectionController.customerLung.symptomDate}"
								pattern="yyyy-MM-dd" styleClass="date-control" />
						</div>
						<div class="col-md-3">Үргэлжилсэн хугацаа:</div>
						<div class="col-md-3">
							<p:inputText style="width: 100%;"
								value="#{inspectionController.customerLung.symptomDuration}"
								type="number" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Эм хэрэглэсэн эсэх:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.usedMedicine}">
								<f:selectItem itemLabel="Тийм" itemValue="1" />
								<f:selectItem itemLabel="Үгүй" itemValue="0" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Хэрэглэсэн эм:</div>
						<div class="col-md-3">
							<p:inputText
								value="#{inspectionController.customerLung.usedMedicineName}"></p:inputText>
						</div>
					</div>

				</p:tab>
				<p:tab title="Бодит үзлэг">
					<div class="row margin-bottom">
						<div class="col-md-3">Биеийн ерөнхий байдал:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.patientStatus}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Дунд" />
								<f:selectItem itemValue="2" itemLabel="Хүндэвтэр" />
								<f:selectItem itemValue="3" itemLabel="Хүнд" />
								<f:selectItem itemValue="4" itemLabel="Маш хүнд" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Ухаан санаа:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.mentality}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0" />
								<f:selectItem itemLabel="Саруул" itemValue="1" />
								<f:selectItem itemLabel="Бүдгэрсэн" itemValue="2" />
								<f:selectItem itemLabel="Ухаангүй" itemValue="3" />
								<f:selectItem itemLabel="Дэмийрсэн" itemValue="4" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Биеийн байрлал:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.bodyStance}"
								style="width: 100%;">
								<f:selectItem itemLabel="Сонгох" itemValue="0" />
								<f:selectItem itemValue="1" itemLabel="Идэвхитэй" />
								<f:selectItem itemValue="2" itemLabel="Идэвхигүй" />
								<f:selectItem itemValue="3" itemLabel="Албадмал" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Биеийн байрлал /тайлбар/:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.bodyStanceDescription}"
								rows="2" style="width:100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Биеийн галбир:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.constitution}"
								style="width: 100%;">
								<f:selectItem itemValue="1" itemLabel="Зөв" />
								<f:selectItem itemValue="2" itemLabel="Зөв биш" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Биеийн галбир /тайлбар/:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.consitutionDescription}"
								rows="2" style="width:100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Мах мариа:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.weightStatus}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Хэвийн" />
								<f:selectItem itemValue="2" itemLabel="Жингийн илүүдэл" />
								<f:selectItem itemValue="3" itemLabel="Тарган" />
								<f:selectItem itemValue="4" itemLabel="Туранхай" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Арьс салстын өнгө:</div>
						<div class="col-md-3">
							<p:inputText
								value="#{inspectionController.customerLung.skinColor}"
								type="number" style="width:100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Хөхрөлттэй эсэх:</div>
						<div class="col-md-3">
							<p:selectOneRadio layout="grid" columns="1"
								value="#{inspectionController.customerLung.cyanosis}">
								<f:selectItem itemValue="0" itemLabel="Хөхрөлтгүй" />
								<f:selectItem itemValue="1" itemLabel="Хөхрөлттэй" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Арьс салстны хэм:</div>
						<div class="col-md-3">
							<p:selectOneRadio layout="grid" columns="1"
								value="#{inspectionController.customerLung.skinTemperature}">
								<f:selectItem itemValue="1" itemLabel="Бүлээн" />
								<f:selectItem itemValue="2" itemLabel="Хүйтэн" />
							</p:selectOneRadio>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Хамар, амны хөндийн үзлэг:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.mouthCaveInspection}"
								rows="2" style="width:100%;">
							</p:inputTextarea>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">Хамрын дайвар хөндий:</div>
							</div>
							<div class="row">
								<div class="col-md-6">Тэмтрэхэд:</div>
								<div class="col-md-6">
									<p:selectOneRadio layout="grid" columns="1"
										value="#{inspectionController.customerLung.noseTouch}">
										<f:selectItem itemValue="1" itemLabel="Эмзэглэлтэй" />
										<f:selectItem itemValue="0" itemLabel="Эмзэглэлгүй" />
									</p:selectOneRadio>
								</div>
								<div class="col-md-6">Тогшиход:</div>
								<div class="col-md-6">
									<p:selectOneRadio layout="grid" columns="1"
										value="#{inspectionController.customerLung.noseKnock}">
										<f:selectItem itemValue="1" itemLabel="Эмзэглэлтэй" />
										<f:selectItem itemValue="0" itemLabel="Эмзэглэлгүй" />
									</p:selectOneRadio>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Хамрын амьсгал чөлөөтэй эсэх:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.noseBreath}">
								<f:selectItem itemValue="1" itemLabel="Тийм" />
								<f:selectItem itemValue="0" itemLabel="Үгүй" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Гүрээийн вен:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.jugularVein}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонголт" />
								<f:selectItem itemValue="1" itemLabel="Өргөсөлт" />
								<f:selectItem itemValue="2" itemLabel="Чинэрэлт" />
								<f:selectItem itemValue="3" itemLabel="Лугшилт" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Төвөнх, цагаан мөгөөрсөн хоолойн
							байрлал харж ажиглах, тэмтрэхэд:</div>
						<div class="col-md-3">
							<p:selectOneRadio layout="grid" columns="1"
								value="#{inspectionController.customerLung.throatInspection}">
								<f:selectItem itemValue="1" itemLabel="Өөрчлөлттэй" />
								<f:selectItem itemValue="0" itemLabel="Эрүүл" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Өөрчлөлт:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.throatChange}"
								rows="2" style="width: 100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Толгой, хүзүүний орчмын тунгалгийн
							булчирхай харж ажиглах тэмтрэхэд:</div>
						<div class="col-md-3">
							<p:selectOneRadio layout="grid" columns="1"
								value="#{inspectionController.customerLung.headInspection}">
								<f:selectItem itemValue="1" itemLabel="Өөрчлөлттэй" />
								<f:selectItem itemValue="0" itemLabel="Эрүүл" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Өөчрлөлт:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.headChange}" rows="2"
								style="width: 100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Захын хаван:</div>
						<div class="col-md-3">
							<p:selectOneRadio layout="grid" columns="1"
								value="#{inspectionController.customerLung.sideEdema}">
								<f:selectItem itemValue="1" itemLabel="Хавантай" />
								<f:selectItem itemValue="0" itemLabel="Хавангүй" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Цээжний хэлбэр:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.chestShape}" rows="2"
								style="width: 100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Амьсгалд цээжний 2 тал жигд оролцож
							байгаа эсэх:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.chestSidesBreath}"
								layout="grid" columns="2">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Тийм" />
								<f:selectItem itemValue="4" itemLabel="Үгүй" />
								<f:selectItem itemValue="2" itemLabel="Баруун" />
								<f:selectItem itemValue="3" itemLabel="Зүүн" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Амьсгалын тоо/1 минутанд/:</div>
						<div class="col-md-3">
							<p:inputText style="width: 100%;"
								value="#{inspectionController.customerLung.respiratoryRate}"
								type="number" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Цээж тэмтрэхэд:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.chestTouch}"
								layout="grid" columns="2">
								<f:selectItem itemValue="1" itemLabel="Эрүүл" />
								<f:selectItem itemValue="2" itemLabel="Эмгэг" />
							</p:selectOneRadio>
						</div>
						<div class="col-md-3">Тайлбар:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.chestTouchDesc}"
								rows="2" style="width: 100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Цээжний уян чанар шалгахад:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.chestElasticity}"
								style="width:100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Насандаа тохирсон уян" />
								<f:selectItem itemValue="2" itemLabel="Хөшүүн" />
								<f:selectItem itemValue="3" itemLabel="Алдагдсан" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Уушги харьцуулж тогшиход:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.lungKnock}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Уушгины тод чимээ" />
								<f:selectItem itemValue="2" itemLabel="Хэнгэргэн чимээ" />
								<f:selectItem itemValue="3" itemLabel="Хайрцган чимээ" />
								<f:selectItem itemValue="4" itemLabel="Дүлийвтэр" />
								<f:selectItem itemValue="5" itemLabel="Дүлий чимээ" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Уушги чагнахад:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.lungListen}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1"
									itemLabel="Цулцангийн амьсгал хэвийн" />
								<f:selectItem itemValue="2"
									itemLabel="Цулцангийн амьсгал тодорсон" />
								<f:selectItem itemValue="3"
									itemLabel="Цулцангийн амьсгал суларсан" />
								<f:selectItem itemValue="4" itemLabel="Ширүүн" />
								<f:selectItem itemValue="5" itemLabel="Холимог амьсгал" />
								<f:selectItem itemValue="6"
									itemLabel="Эмгэг гуурсан хоолойн амьсгал" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Нэмэлт шуугиан:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.additionalNoise}"
								style="width:100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Хуурай хэржигнүүр" />
								<f:selectItem itemValue="2" itemLabel="Нойтон хэржигнүүр" />
								<f:selectItem itemValue="3" itemLabel="Шажигнуур" />
								<f:selectItem itemValue="4"
									itemLabel="Гялтангийн шүргэлцэх чимээ" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Захын цусан дах хүчилтөрөгчийн хангамж
							SaPO2:</div>
						<div class="col-md-3">
							<p:inputText style="width: 100%;"
								value="#{inspectionController.customerLung.edgeBloodOxygen}" />
						</div>
						<div class="col-md-3">Зүрхний хил баруун тийш томорсон эсэх:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.heartBorderIncrease}">
								<f:selectItem itemValue="1" itemLabel="Тийм" />
								<f:selectItem itemValue="0" itemLabel="Үгүй" />
							</p:selectOneRadio>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Зүрх чагнахад: зүрхний авиа:</div>
						<div class="col-md-3">
							<p:selectOneMenu
								value="#{inspectionController.customerLung.heartTone}"
								style="width: 100%;">
								<f:selectItem itemValue="0" itemLabel="Сонгох" />
								<f:selectItem itemValue="1" itemLabel="Тод" />
								<f:selectItem itemValue="2" itemLabel="Бүдэг" />
								<f:selectItem itemValue="3"
									itemLabel="УА дээр II авианы өргөлт байгаа эсэх" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3">Элэгний томрол Плешийн шинж:</div>
						<div class="col-md-3">
							<p:selectOneRadio
								value="#{inspectionController.customerLung.liverEnlarge}">
								<f:selectItem itemValue="1" itemLabel="Эерэг" />
								<f:selectItem itemValue="0" itemLabel="Сөрөг" />
							</p:selectOneRadio>
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-3">Шээсний гарц:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.urineOutput}"
								rows="2" style="width:100%;" />
						</div>
						<div class="col-md-3">Нойрны байдал:</div>
						<div class="col-md-3">
							<p:inputTextarea
								value="#{inspectionController.customerLung.sleep}" rows="2"
								style="width:100%;" />
						</div>
					</div>
					<div class="row margin-bottom">
						<div class="col-md-12">
							<div class="col-md-12">
								<p:panelGrid columns="2" styleClass="form-table">
									<p:outputLabel value="Зураг:" style="width: 60px;" />
									<p:commandLink styleClass="btn" onclick="uploadImage();"
										actionListener="#{inspectionController.setImageType('lung')}">
										<i class="fa fa-fw fa-upload" /> Зураг сонгох
											</p:commandLink>
								</p:panelGrid>
							</div>
							<div class="col-md-12 margin-top">
								<ui:repeat var="attachment"
									value="#{inspectionController.listLungAttachment}">
									<p:graphicImage
										value="#{inspectionController.getDynamicNoseImage(inspectionController.getListLungAttachment().indexOf(attachment), inspectionController.getListLungAttachment())}"
										cache="false" height="50" onclick="showModalImage(this);"
										style="margin-right: 5px;" styleClass="zoom">
										<f:param name="image_id"
											value="#{inspectionController.getListLungAttachment().indexOf(attachment)}" />
									</p:graphicImage>
								</ui:repeat>
							</div>
						</div>
					</div>
				</p:tab>
				<p:tab title="Онош">
					<p:panel id="dubu" styleClass="no-style-panel">
						<div class="row margin-bottom">
							<div class="col-md-3">Үндсэн онош:</div>
							<div class="col-md-9">
								<div class="display-table" style="width: 100%;">
									<div class="display-table-row">
										<p:inputText style="width: 70px;"
											value="#{inspectionController.lungAppDiagnose.id}"
											styleClass="display-table-cell"
											onfocus="showDiagnosePick(this,'lung',1,'false');"
											onkeyup="callRefreshList(this,'lung',1,'false')" />
										<p:inputText
											value="#{inspectionController.lungAppDiagnose.nameMn}"
											style="width: calc(100% - 72px);"
											styleClass="display-table-cell"
											onfocus="showDiagnosePick(this,'lung',1,'true');"
											onkeyup="callRefreshList(this,'lung',1,'true');" />
										<p:commandLink styleClass="btn display-table-cell"
											onclick="callRefreshList(this,'lung',1,'true');PF('all-diagnose-dialog').show()"
											value="Онош" />
									</div>
								</div>
							</div>
						</div>
						<div class="row margin-bottom">
							<div class="col-md-3">Урьдчилсан онош:</div>
							<div class="col-md-9">
								<div class="display-table" style="width: 100%;">
									<div class="display-table-row">
										<p:inputText style="width: 70px;"
											value="#{inspectionController.preDiagnose.id}"
											styleClass="display-table-cell"
											onfocus="showDiagnosePick(this,'lung',0,'false');"
											onkeyup="callRefreshList(this,'lung',0,'false')" />
										<p:inputText
											value="#{inspectionController.preDiagnose.nameMn}"
											style="width: calc(100% - 72px);"
											styleClass="display-table-cell"
											onfocus="showDiagnosePick(this,'lung',0,'true');"
											onkeyup="callRefreshList(this,'lung',0,'true');" />
										<p:commandLink styleClass="btn display-table-cell"
											onclick="callRefreshList(this,'lung',0,'true');PF('all-diagnose-dialog').show()"
											value="Онош" />
									</div>
								</div>
							</div>
						</div>
						<div class="row margin-bottom">
							<div class="col-md-12">
								<div class="col-md-12 margin-top">
									<p:dataTable value="#{inspectionController.lungPreDiagnose}"
										var="diagnose" style="width: 100%;" styleClass="myTable"
										emptyMessage="#{i18n['empty']}">
										<p:column headerText="№" styleClass="id" width="50">
										#{diagnose.id}
									</p:column>
										<p:column headerText="Онош" styleClass="text">
										#{diagnose.nameMn}
									</p:column>
										<p:column headerText="Төрөл" styleClass="short-text">
											<h:outputText rendered="#{diagnose.type eq 1}" value="PRI"></h:outputText>
											<h:outputText rendered="#{diagnose.type eq 0}" value="IMP"></h:outputText>
										</p:column>
										<p:column styleClass="button-icon">
											<p:commandLink
												actionListener="#{inspectionController.lungPreDiagnose.remove(diagnose)}"
												oncomplete="updateLungDubu();">
												<p:confirm header="Баталгаажуулах"
													message="Та устгахдаа итгэлтэй байна уу ?"
													icon="ui-icon-alert" />
												<i class="fa fa-remove" />
											</p:commandLink>
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>
					</p:panel>
					<p:remoteCommand name="updateLungDubu" update="dubu" />
					<div class="row margin-bottom">
						<div class="col-md-3">Үнэлгээ:</div>
						<div class="col-md-9">
							<p:inputTextarea rows="3" autoResize="false" style="width: 100%;"
								value="#{inspectionController.customerLung.lungRateText}">
							</p:inputTextarea>
						</div>
					</div>
				</p:tab>
				<p:tab title="Тѳлѳвлѳгѳѳ">
					<div class="row margin-bottom">
						<div class="col-md-3">Төлөвлөгөө:</div>
						<div class="col-md-9">
							<p:inputTextarea rows="3" autoResize="false" style="width: 100%;"
								value="#{inspectionController.customerLung.advice}">
							</p:inputTextarea>
						</div>
					</div>
				</p:tab>
			</p:accordionPanel>
		</p:tab>
	</ui:define>
	<ui:define name="additional-script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				prepareLoad();
			});
			function prepareLoad() {
				showHidePhlegm();
				showHidePhlegmDetail();
				showHideFeverDetail();
				showHideDyspneaDetail();
				showHideFeelUneasyDetail();
			}
			function showHidePhlegm() {
				if (document.getElementById("form:inspection:ww:doCough_input").checked)

				{
					showHidePhlegmDetail();
					$("#phlegmSection").show();

				} else {
					showHidePhlegmDetail();
					$("#phlegmSection").hide();
				}

			}
			function showHidePhlegmDetail() {
				if (document.getElementById("form:inspection:ww:phlegm_input").checked
						&& document
								.getElementById("form:inspection:ww:doCough_input").checked) {
					$("#phlegmColorSection").show();
					$("#phlegmSizeSection").show();
					$("#phlegmWhenSection").show();
					$("#phlegmGetOffSection").show();
					$("#phlegmDescriptionSection").show();
					$("#phlegmPositionSection").show();
				} else {
					$("#phlegmColorSection").hide();
					$("#phlegmSizeSection").hide();
					$("#phlegmWhenSection").hide();
					$("#phlegmGetOffSection").hide();
					$("#phlegmDescriptionSection").hide();
					$("#phlegmPositionSection").hide();
				}
			}
			function showHideFeverDetail() {
				if (document.getElementById('form:inspection:ww:doFever_input').checked) {
					document.getElementById('ffever').className = "col-md-6"
					$("#feverSection").show();
				} else {
					document.getElementById('ffever').className = "col-md-12"
					$("#feverSection").hide();
				}
			}
			function showHideDyspneaDetail() {
				if (document
						.getElementById('form:inspection:ww:doDyspnea_input').checked) {
					$("#dyspneaLevelByMmrsSection").show();
					$("#phaseLossSection").show();
				} else {
					$("#dyspneaLevelByMmrsSection").hide();
					$("#phaseLossSection").hide();
				}
			}
			function showHideFeelUneasyDetail() {
				if (document
						.getElementById('form:inspection:ww:feelUneasy_input').checked) {
					document.getElementById('feelUneasySection').className = "col-md-6"
					$("#uneasyOccurationSection").show();
					$("#nightUneasySection").show();
					$("#dayVarianceSection").show();
				} else {
					document.getElementById('feelUneasySection').className = "col-md-12"
					$("#uneasyOccurationSection").hide();
					$("#nightUneasySection").hide();
					$("#dayVarianceSection").hide();
				}
			}

			//]]>
		</script>
	</ui:define>
</ui:composition>