<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Үйлчлүүлэгчдийн мэдээлэл</h1>
		<ol class="breadcrumb">
			<li class="active">Байгууллага</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<p:remoteCommand name="getCrmPatientList" process="@this" action="#{crmController.getCrmPatientList()}" />
			<div class="row">
				<div class="col-md-6">
				    <p:fileUpload fileUploadListener="#{crmController.fileUploadListener}" mode="advanced" dragDropSupport="true" fileLimit="1" allowTypes="/(\.|\/)(xls)$/" >
					</p:fileUpload>
				</div>
				<div class="col-md-6">
				<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
				</p:dialog>
				<p:commandLink value="Download Template" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s" styleClass="btn" >
			        <p:fileDownload value="#{crmController.file}" />
			    </p:commandLink>
				<p:commandLink action="#{crmController.newCustomer()}" styleClass="btn" >
					<i class="fa fa-plus" />
					Харилцагч бүртгэх
			    </p:commandLink>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p:dataTable id="patList" emptyMessage="Хоосон байна" value="#{crmController.listPatient}" styleClass="myTable patList" var="tmp" rowIndexVar="index" 
					rows="30" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="30,45,60">
						<p:columnGroup type="header">
							<p:row>
								<p:column rowspan="1" headerText="№" style="width:2%;" />
								<p:column rowspan="1" headerText="ID" style="width:8%;" />
								<p:column rowspan="1" headerText="Овог" style="width:10%;" />
								<p:column rowspan="1" headerText="Нэр" style="width:10%;" />
								<p:column rowspan="1" headerText="Регистр" style="width:10%;" />
								<p:column rowspan="1" headerText="Нас" style="width:3%;" />
								<p:column rowspan="1" headerText="Хүйс" style="width:3%;" />
								<p:column rowspan="1" headerText="Гар утас" style="width:10%;" />
								<p:column rowspan="1" headerText="Цусны бүлэг" style="width:5%;" />
								<p:column rowspan="1" headerText="Гэрлэлтийн байдал" style="width:10%;" />
								<p:column rowspan="1" headerText="Зэрэглэл" style="width:10%;" />
								<p:column rowspan="1" headerText="Даатгал" style="width:9%;" />
								<p:column rowspan="1" headerText=" " style="width:5%;" />
								<p:column rowspan="1" headerText=" " style="width:5%;" />
							</p:row>
						</p:columnGroup>
						<p:column >
							<p:outputLabel value="#{index + 1}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column filterBy="#{tmp.customer.cardNumber}" filterStyleClass="form-control">
							<p:outputLabel value="#{tmp.customer.cardNumber}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.lastName}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.firstName}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.regNumber}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.age}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.genderStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.customer.phoneNumber}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.bloodTypeStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.weddingStatusStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.lifeCategoryStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.insuranceInfoStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:commandLink process="@this" styleClass="fa fa-fw fa-edit color-green" action="#{crmController.modifyCustomerList(tmp)}"></p:commandLink>
						</p:column>
						<p:column>
							<p:commandLink process="@this" update="@(.patList)" styleClass="fa fa-times color-red" action="#{crmController.deletePatient(tmp)}"></p:commandLink>
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
			$(document).ready(
					function() {
						getCrmPatientList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>