<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Үйлчлүүлэгчдийн мэдээлэл хайх</h1>
		<ol class="breadcrumb">
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
			<div class="col-md-12">
				<div class="row flex-container">
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Картын № : </label>
						<p:inputText value="#{crmController.cardNumber}" />
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Нэр : </label>
						<p:inputText value="#{crmController.customerName}" />
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Утас : </label>
						<p:inputText value="#{crmController.phoneNumber}" />
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Нас : </label>
						<pe:inputNumber value="#{crmController.minAge}" style="width:20%" decimalPlaces="0" /> - <pe:inputNumber value="#{crmController.maxAge}" style="width:20%" decimalPlaces="0" />	
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">				
						<label>Оршин суугаа хаяг : </label>
						<p:inputText value="#{crmController.customerAddress}" />
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">				
						<label>Зэрэглэл</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">				
						<p:selectOneMenu id="lifeCategory" value="#{crmController.lifeCategory}" style="width: 100%;" >
							<p:ajax event="change" />
							<f:selectItem itemLabel="Бүгд" itemValue=""></f:selectItem>
							<f:selectItem itemLabel="VIP" itemValue="Vip"></f:selectItem>
							<f:selectItem itemLabel="Энгийн" itemValue="General"></f:selectItem>
							<f:selectItem itemLabel="Эмзэг бүлэг" itemValue="Vulnerable"></f:selectItem>
						</p:selectOneMenu>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectBooleanCheckbox id="notInfo" value="#{crmController.notInfo}" itemLabel="Мэдээлэл авахаас татгалзсан" />	
						<p:selectBooleanCheckbox id="infoSms" value="#{crmController.infoSms}" itemLabel="SMS" />
						<p:selectBooleanCheckbox id="infoMail" value="#{crmController.infoMail}" itemLabel="E-mail" />
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<p:commandLink styleClass="btn" update=":form:customerList :form:totalCount" action="#{crmController.searchCrmCustomer()}" ><i class="fa fa-search" />Хайх</p:commandLink>			
					</div>
				</div>
				<div class="row flex-container" style="margin-top:20px;">
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">				
						<p:inputText style ="width:100%" id="reason-rejection"></p:inputText>
						<p:watermark for="reason-rejection" value="Мэдээлэл авахаас татгалзсан шалтгаан"></p:watermark>
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">				
						<p:selectOneMenu style="width: 100%;" filter="true">
							<f:selectItem itemLabel="SMS" />
						</p:selectOneMenu>
					</div>
					<div class="col-md-5 col-xs-12 col-sm-12 flex-center-self">				
						<p:inputText style ="width:50%" id="reason-rejection2"></p:inputText>
						<p:watermark for="reason-rejection2" value="Татгалзсаныг тэмдэглэх"></p:watermark>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">				
						<p:commandLink styleClass="btn" action="#{crmController.sendMailSms('Sms')}" ><i class="fa fa-commenting-o" /> SMS илгээх</p:commandLink>
						<p:commandLink styleClass="btn" action="#{crmController.sendMailSms('Mail')}" ><i class="fa fa-envelope-o" /> E-mail илгээх</p:commandLink>
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<p:outputLabel id="totalCount" value="#{crmController.totalCount}" />
					</div>
				</div>
			</div>
			<div class="col-md-12 " style="margin-top:20px;">
				<div class="row flex-container">
					<p:dataTable id="customerList" styleClass="myTable" value="#{crmController.listCrmCustomer}" var="tmp" rowIndexVar="index" emptyMessage="Хоосон байна" >
						<p:column styleClass="text" headerText=" ">
							<p:selectBooleanCheckbox value="#{tmp.selected}" />
						</p:column>
						<p:column styleClass="text" headerText="№">#{index + 1}</p:column>
						<p:column styleClass="text" headerText="Овог нэр">
							<div style="width: 100%; height: 100v; background: #{tmp.bgColor}">
								#{tmp.customer.lastFirstName}
							</div>
						</p:column>
						<p:column styleClass="text" headerText="Зэрэглэл">#{tmp.lifeCategoryStr}</p:column>
						<p:column styleClass="text" headerText="Мэдээлэл авах">#{tmp.feedBackType}</p:column>
						<p:column styleClass="id" headerText="Картын №">#{tmp.customer.cardNumber}</p:column>
						<p:column styleClass="short-text" headerText="#{i18n['gender']}">#{tmp.customer.genderString}</p:column>
						<p:column styleClass="short-number" headerText="#{i18n['age']}">#{tmp.customer.age}</p:column>
						<p:column styleClass="text" headerText="Гар утас">#{tmp.customer.phoneNumber}</p:column>
						<p:column styleClass="text" headerText="Гэрийн утас">#{tmp.customer.telePhone}</p:column>
						<p:column styleClass="text" headerText="И-мэйл хаяг">#{tmp.customer.email}</p:column>
						<p:column styleClass="text" headerText="Хаяг">#{tmp.customer.address}</p:column>
					</p:dataTable>
				</div>
			</div>
			<div class="col-md-12 " style="margin-top:10px;">
				<div class="row flex-container">
					<div class="col-md-10 col-xs-12 col-sm-12 flex-center-self">
						<label style="margin-right:25px;">Мэдээлэл авахаас татгалзсан үйлчлүүлэгчийн мэдээлэл шараар тэмдэглэдсэн</label>	
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<h:commandLink styleClass="btn"  >
							<i class="fa fa-file-excel-o" />
							Эксел рүү гаргах
							<p:dataExporter type="xls" target="customerList" fileName="Customer List" />
						</h:commandLink>	
					</div>
				</div>
			</div>
		</section>
		</ui:define>
		<ui:define name="script">
		<script>
		//<![CDATA[
			
		//]]>
		</script>
	</ui:define>
</ui:composition>
		