<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Үйлчлүүлэгчдийн мэдээлэл</h1>
		<ol class="breadcrumb">
			<li class="active">Байгууллага</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<p:remoteCommand name="setSubOrgaList" process="@this" action="#{crmController.setSubOrgaList()}" />
			<div class="row">
				<div class="col-md-12">
					<p:panel id="patInfo" header="Үйлчлүүлэгчийн мэдээлэл" style="border: 0px; margin: -0.5em -1em; !important; padding: 0px 0px 0px 0px !important;">
						<div class="col-md-12">
							<div class="col-md-6">
								<p:fieldset legend="Ерөнхий мэдээлэл" toggleSpeed="100" styleClass="margin-bottom">
									<div class="row flex-container">
										<div class="col-md-5">
											<p:outputLabel>Хайх:</p:outputLabel>
										</div>
										<div class="col-md-5">
											<p:inputText styleClass="form-control lastname" style="min-width: 100%;" id="reg" value="#{crmController.crmPatientInfo.customer.cardNumber}" />
											<p:overlayPanel id="moviePanel" for="reg" hideEffect="fade" dynamic="true" style="width:600px">
												<p:dataTable id="fillTable" emptyMessage="Үйлчлүүлэгч бүртгээгүй байна." value="#{applicationController.lazyCrmCustomerList}" lazy="true" var="cus" selectionMode="single" selection="#{crmController.crmPatientInfo}" rowKey="#{cus.customer.pkId}" widgetVar="fillTable" rows="6" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
													<p:ajax event="rowSelect" update=":form:reg :form:cardNumber :form:lastName :form:firstName :form:regNumber :form:phone :form:telePhone :form:email :form:address :form:age :form:birthDate :form:weddingStatus :form:bloodType :form:lifeCategory :form:smsCheck :form:mailCheck :form:infoCheck :form:snsCheck :form:dmCheck :form:controlType :form:familyInfo :form:customerInfo :form:feedBackHistory :form:outTab" />
													<p:column filterBy="#{cus.customer.cardNumber}" filterStyleClass="form-control" headerText="Карт">#{cus.customer.cardNumber}</p:column>
													<p:column filterBy="#{cus.customer.firstName}" filterStyleClass="form-control" headerText="Нэр">#{cus.customer.firstName}</p:column>
													<p:column filterBy="#{cus.customer.regNumber}" filterStyleClass="form-control" headerText="Регистрын дугаар">#{cus.customer.regNumber}</p:column>
													<p:column filterBy="#{cus.customer.phoneNumber}" filterStyleClass="form-control" headerText="Утас">#{cus.customer.phoneNumber}</p:column>
												</p:dataTable>
											</p:overlayPanel>
										</div>
										<div class="col-md-2">
											<p:commandLink process="@this" styleClass="btn" 
											action="#{crmController.newCustomer()}" ><i class="fa fa-plus"/></p:commandLink>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel>ID</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="cardNumber">#{crmController.crmPatientInfo.customer.cardNumber}</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Регистр</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:outputLabel id="regNumber">#{crmController.crmPatientInfo.customer.regNumber}</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:commandLink process="@this" styleClass="btn" action="#{crmController.modifyCustomer()}" > <i class="fa fa-pencil-square-o"/></p:commandLink>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel>Овог</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="lastName">#{crmController.crmPatientInfo.customer.lastName}</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Нэр</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="firstName">#{crmController.crmPatientInfo.customer.firstName}</p:outputLabel>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel>Нас, хүйс</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="age">#{crmController.crmPatientInfo.customer.age} нас #{crmController.crmPatientInfo.customer.month} сар / #{crmController.crmPatientInfo.customer.genderString}</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Төрсөн огноо</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="birthDate">#{crmController.crmPatientInfo.customer.birthDateString}</p:outputLabel>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel>Гар утас</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="phone">#{crmController.crmPatientInfo.customer.phoneNumber}</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Гэр утас</p:outputLabel>
										</div>
										<div class="col-md-4">
											<p:outputLabel id="telePhone">#{crmController.crmPatientInfo.customer.telePhone}</p:outputLabel>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-4">
											<p:outputLabel>И-мэйл хаяг</p:outputLabel>
										</div>
										<div class="col-md-8">
											<p:outputLabel id="email">#{crmController.crmPatientInfo.customer.email}</p:outputLabel>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel>Гэрлэлтийн байдал</p:outputLabel>
										</div>
										<div class="col-md-2">
										<p:selectOneMenu id="weddingStatus" value="#{crmController.currentCustomer.weddingStatus}" style="width: 100%;" disabled="true" >
											<f:selectItem itemLabel="Гэрлэсэн" itemValue="Wedding"></f:selectItem>
											<f:selectItem itemLabel="Гэрлээгүй" itemValue="NotWedding"></f:selectItem>
										</p:selectOneMenu>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Цусны бүлэг</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:selectOneMenu id="bloodType" value="#{crmController.currentCustomer.bloodType}" style="width: 100%;" disabled="true" >
												<f:selectItem itemLabel="А" itemValue="2"></f:selectItem>
												<f:selectItem itemLabel="В" itemValue="3"></f:selectItem>
												<f:selectItem itemLabel="АВ" itemValue="4"></f:selectItem>
												<f:selectItem itemLabel="0" itemValue="1"></f:selectItem>
											</p:selectOneMenu>
										</div>
										<div class="col-md-2">
											<p:outputLabel>Даатгал :</p:outputLabel>
										</div>
										<div class="col-md-2">
											<p:selectOneMenu id="insuranceInfo" value="#{crmController.currentCustomer.insuranceInfo}" style="width: 100%;" >
												<p:ajax event="change" />
												<f:selectItem itemLabel="Даатгалтай" itemValue="insurance"></f:selectItem>
												<f:selectItem itemLabel="Даатгалгүй" itemValue="notInsurance"></f:selectItem>
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-3">
											<p:selectBooleanCheckbox id="infoCheck" value="#{crmController.crmPatientInfo.infoCheck}" itemLabel="Мэдээлэл авах" disabled="true" />
										</div>
										<div class="col-md-3">
											<p:selectBooleanCheckbox id="mailCheck" value="#{crmController.crmPatientInfo.mailCheck}" itemLabel="И-мэйл" disabled="true" />
										</div>
										<div class="col-md-2">
											<p:selectBooleanCheckbox id="smsCheck" value="#{crmController.crmPatientInfo.smsCheck}" itemLabel="SMS" disabled="true" />
										</div>
										<div class="col-md-2">
											<p:selectBooleanCheckbox id="snsCheck" value="#{crmController.crmPatientInfo.snsCheck}" itemLabel="SNS" disabled="true" />
										</div>
										<div class="col-md-2">
											<p:selectBooleanCheckbox id="dmCheck" value="#{crmController.crmPatientInfo.dmCheck}" itemLabel="DM" disabled="true" />
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-3">
											<p:outputLabel>Зэрэглэл</p:outputLabel>
										</div>
										<div class="col-md-3">
											<p:selectOneMenu id="lifeCategory" value="#{crmController.crmPatientInfo.lifeCategory}" style="width: 100%;" disabled="true" >
												<f:selectItem itemLabel="VIP" itemValue="Vip"></f:selectItem>
												<f:selectItem itemLabel="Энгийн" itemValue="General"></f:selectItem>
												<f:selectItem itemLabel="Эмзэг бүлэг" itemValue="Vulnerable"></f:selectItem>
											</p:selectOneMenu>
										</div>
										<div class="col-md-3">
											<p:outputLabel>Хяналттай эсэх</p:outputLabel>
										</div>
										<div class="col-md-3">
											<p:selectOneMenu id="controlType" value="#{crmController.crmPatientInfo.controlType}" style="width: 100%;" disabled="true" >
												<f:selectItem itemLabel="Хяналттай" itemValue="Control"></f:selectItem>
												<f:selectItem itemLabel="Хяналтгүй" itemValue="NotControl"></f:selectItem>
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-4">
											<p:outputLabel>Гэрийн хаяг</p:outputLabel>
										</div>
										<div class="col-md-8">
											<p:outputLabel id="address">#{crmController.crmPatientInfo.customer.address}</p:outputLabel>
										</div>
									</div>
								</p:fieldset>
							</div>
							<div class="col-md-6">
								<p:fieldset legend="Гэр бүлийн гишүүд" toggleSpeed="100" styleClass="margin-bottom">
									<p:dataTable id="familyInfo" emptyMessage="Хоосон байна" value="#{crmController.listFamily}" styleClass="myTable familyTable" var="tmp" rowIndexVar="index" >
										<p:columnGroup type="header">
											<p:row>
												<p:column rowspan="1" headerText="Холбоо" style="width:10%;" />
												<p:column rowspan="1" headerText="Нэр" style="width:30%;" />
												<p:column rowspan="1" headerText="Төрсөн огноо" style="width:15%;" />
												<p:column rowspan="1" headerText="Хүйс" style="width:5%;" />
												<p:column rowspan="1" headerText="Гар утас" style="width:15%;" />
												<p:column rowspan="1" headerText="Гэр утас" style="width:15%;" />
												<p:column rowspan="1" headerText=" " style="width:5%;" />
												<p:column rowspan="1" headerText=" " style="width:5%;" />
											</p:row>
										</p:columnGroup>
										<p:column>
											<p:inputText value="#{tmp.familyName}" styleClass="col-widthFamily" onchange="modifyRow#{index}();" >
												<p:remoteCommand process="@this :form:familyInfo" name="modifyRow#{index}" actionListener="#{crmController.modifyRowFamily(tmp)}" update="@(.familyTable)" />
												<p:ajax event="change" />
											</p:inputText>
										</p:column>
										<p:column>
											<p:inputText value="#{tmp.name}" styleClass="col-widthFamily" onchange="modifyRow#{index}();" >
												<p:ajax event="change" />
											</p:inputText>
										</p:column>
										<p:column>
											<p:inputText value="#{tmp.birthDate}" styleClass="col-widthFamily" onchange="modifyRow#{index}();" ><p:ajax event="change" /></p:inputText>
										</p:column>
										<p:column>
											<p:selectOneMenu id="genderType" value="#{tmp.gender}" styleClass="col-widthGender" onchange="modifyRow#{index}();" >
												<p:ajax event="change" />
												<f:selectItem itemLabel="Эр" itemValue="M"></f:selectItem>
												<f:selectItem itemLabel="Эм" itemValue="F"></f:selectItem>
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<p:inputText value="#{tmp.phoneNumber}" styleClass="col-widthFamily" onchange="modifyRow#{index}();" >
												<p:ajax event="change" />
											</p:inputText>
										</p:column>
										<p:column>
											<p:inputText value="#{tmp.telePhone}" styleClass="col-widthFamily" onchange="modifyRow#{index}();" >
												<p:ajax event="change" />
											</p:inputText>
										</p:column>
										<p:column>
											<p:commandLink process="@this" update="@(.familyTable)" rendered="#{tmp.status eq 'Last'}" styleClass="fa fa-fw fa-plus color-green" action="#{crmController.addNewRowFamily(tmp)}"></p:commandLink>
										</p:column>
										<p:column>
											<p:commandLink process="@this" update="@(.familyTable)" rendered="#{tmp.status ne 'Last'}" styleClass="fa fa-times color-red" action="#{crmController.deleteRowFamily(tmp)}"></p:commandLink>
										</p:column>
									</p:dataTable>
								</p:fieldset>
								<p:fieldset legend="Үйлчлүүлэгчийн тухай мэдээлэл" toggleSpeed="100" styleClass="margin-bottom">
										<p:dataTable id="customerInfo" emptyMessage="Хоосон байна" styleClass="myTable infoTable" value="#{crmController.listInfo}" var="tmp" rowIndexVar="index">
											<p:columnGroup type="header">
												<p:row>
													<p:column styleClass="text" style="width : 50%;" headerText="Мэдээлэл" />
													<p:column styleClass="text" style="width : 20%;" headerText="Бичсэн хүн" />
													<p:column styleClass="text" style="width : 20%;" headerText="Бичсэн огноо" />
													<p:column styleClass="text" style="width : 5%;" headerText=" " />
													<p:column styleClass="text" style="width : 5%;" headerText=" " />
												</p:row>
											</p:columnGroup>
											<p:column>
												<p:inputText value="#{tmp.info}" onchange="modifyInfoRow#{index}();" styleClass="col-widthFamily" >
													<p:remoteCommand process="@this :form:customerInfo" name="modifyInfoRow#{index}" actionListener="#{crmController.modifyRowInfo(tmp)}" update="@(.infoTable)" />
													<p:ajax event="change" />
												</p:inputText>
											</p:column>
											<p:column>
												<p:inputText value="#{tmp.createdByName}" disabled="true" styleClass="col-widthFamily" />
											</p:column>
											<p:column>
												<p:calendar value="#{tmp.createdDate}" disabled="true" pattern="yyyy/MM/dd hh:mm" styleClass="col-widthCalendar" ></p:calendar>
											</p:column>
											<p:column>
												<p:commandLink process="@this" update="@(.infoTable)" rendered="#{tmp.status eq 'Last'}" styleClass="fa fa-fw fa-plus color-green" action="#{crmController.addNewRowInfo(tmp)}"></p:commandLink>
											</p:column>
											<p:column>
												<p:commandLink process="@this" update="@(.infoTable)" rendered="#{tmp.status ne 'Last'}" styleClass="fa fa-times color-red" action="#{crmController.deleteRowInfo(tmp)}"></p:commandLink>
											</p:column>
										</p:dataTable>
								</p:fieldset>
							</div>
						</div>
						<div class="col-md-12">
							<p:fieldset legend="Холбоо барьсан түүх" toggleSpeed="100" styleClass="margin-bottom">
								<p:dataTable id="feedBackHistory" value="#{crmController.listContact}" emptyMessage="Хоосон байна" styleClass="myTable contactTable" rowIndexVar="index" var="tmp" >
									<p:columnGroup type="header">
										<p:row>
											<p:column styleClass="text" style="width : 10%;" headerText="Мэдээллийн суваг"></p:column>
											<p:column styleClass="text" style="width : 10%;" headerText="Огноо"></p:column>
											<p:column styleClass="text" style="width : 10%;" headerText="Холбоо барьсан төрөл"></p:column>
											<p:column styleClass="text" style="width : 10%;" headerText="Холбогдсон шалтгаан"></p:column>
											<p:column styleClass="text" style="width : 10%;" headerText="Утасны №/И-мэйл"></p:column>
											<p:column styleClass="text" style="width : 30%;" headerText="Мэйл, мессежний утга"></p:column>
											<p:column styleClass="text" style="width : 10%;" headerText="Тасаг"></p:column>
											<p:column styleClass="text" style="width : 5%;" headerText=" "></p:column>
											<p:column styleClass="text" style="width : 5%;" headerText=" "></p:column>
										</p:row>
									</p:columnGroup>
									<p:column>
										<p:inputText value="#{tmp.infoChannel}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" process="@this :form:feedBackHistory" />
											<p:remoteCommand process="@this :form:feedBackHistory" name="modifyContactRow#{index}" actionListener="#{crmController.modifyRowContact(tmp)}" update="@(.contactTable)" />
										</p:inputText>
									</p:column>
									<p:column>
										<p:calendar value="#{tmp.contactDate}" styleClass="calendar-width" onchange="modifyContactRow#{index}();" pattern="yyyy/MM/dd" >
											<p:ajax event="change" />
										</p:calendar>
									</p:column>
									<p:column>
										<p:inputText value="#{tmp.contactType}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" />
										</p:inputText>
									</p:column>
									<p:column>
										<p:inputText value="#{tmp.contactReason}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" />
										</p:inputText>
									</p:column>
									<p:column>
										<p:inputText value="#{tmp.contactBy}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" />
										</p:inputText>
									</p:column>
									<p:column>
										<p:inputText value="#{tmp.contactNote}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" />
										</p:inputText>
									</p:column>
									<p:column>
										<p:selectOneMenu id="subOrg" value="#{tmp.subOrganizationPkId}" styleClass="col-widthFamily" onchange="modifyContactRow#{index}();" >
											<p:ajax event="change" />
											<f:selectItem itemLabel="Сонгох" itemValue="0"></f:selectItem>
											<f:selectItems value="#{crmController.listSubOrganization}" var="sub" itemLabel="#{sub.name}" itemValue="#{sub.pkId}"></f:selectItems>
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:commandLink process="@this" update="@(.contactTable)" rendered="#{tmp.status eq 'Last'}" styleClass="fa fa-fw fa-plus color-green" action="#{crmController.addNewRowContact(tmp)}"></p:commandLink>
									</p:column>
									<p:column>
										<p:commandLink process="@this" update="@(.contactTable)" rendered="#{tmp.status ne 'Last'}" styleClass="fa fa-times color-red" action="#{crmController.deleteRowContact(tmp)}"></p:commandLink>
									</p:column>
								</p:dataTable>
							</p:fieldset>
						</div>
						<div class="col-md-12">
							<p:fieldset legend="Гадуур эмчилгээ" toggleSpeed="100" styleClass="margin-bottom">
								<p:tabView id="outTab">
									<p:tab title="Шинжилгээ">
										<p:dataTable id="examination" value="#{crmController.listExam}" emptyMessage="Хоосон байна" styleClass="myTable examTable" rowIndexVar="index" var="tmp">
											<p:columnGroup type="header">
												<p:row>
													<p:column styleClass="text" style="width : 5%;" headerText="№"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Огноо"></p:column>
													<p:column styleClass="text" style="width : 40%;" headerText="Шинжилгээний нэр"></p:column>
													<p:column styleClass="text" style="width : 30%;" headerText="Төлөв"></p:column>
													<p:column styleClass="text" style="width : 5%;" headerText="Хариу"></p:column>
												</p:row>
											</p:columnGroup>
											<p:column>
												#{index + 1}
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.examDate}" styleClass="calendar-width" ><f:convertDateTime pattern="yyyy/MM/dd hh:mm" /></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.examinationName}" styleClass="col-widthFamily" />
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.statusMn}" styleClass="col-widthFamily" />
											</p:column>
											<p:column>
												<p:commandLink process="@this" styleClass="fa fa-fw fa-list color-blue" rendered="#{tmp.status eq 'Completed'}" onclick="PF('examinationResult').show();" action="#{crmController.showExamresult(tmp)}"></p:commandLink>
											</p:column>
										</p:dataTable>
									</p:tab>
									<p:tab title="Хэвтэн эмчилгээ">
										<p:dataTable id="inpatient" value="#{crmController.listInpatient}" emptyMessage="Хоосон байна" styleClass="myTable outTable" rowIndexVar="index" var="tmp" >
											<p:columnGroup type="header">
												<p:row>
													<p:column styleClass="text" style="width : 10%;" headerText="Хэтсэн огноо"></p:column>
													<p:column styleClass="text" style="width : 10%;" headerText="Гарсан огноо"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Хэвтсэн тасаг"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Эмчлэгч эмч"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Онош"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Эмчилгээний дүн"></p:column>
												</p:row>
											</p:columnGroup>
											<p:column>
												<p:outputLabel value="#{tmp.beginDate}" styleClass="calendar-width" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.endDate}" styleClass="calendar-width" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.subOrgName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.doctorName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.diagnoseName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.result}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
										</p:dataTable>
									</p:tab>
									<p:tab title="Мэс засал">
										<p:dataTable id="surgeryTbl" value="#{crmController.listSurgery}" emptyMessage="Хоосон байна" styleClass="myTable surgeryTbl" rowIndexVar="index" var="tmp">
											<p:columnGroup type="header">
												<p:row>
													<p:column styleClass="text" style="width : 10%;" headerText="Огноо"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Эмчилгээний тасаг"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Хариуцсан эмч"></p:column>
													<p:column styleClass="text" style="width : 30%;" headerText="Хагалгааны нэр"></p:column>
													<p:column styleClass="text" style="width : 20%;" headerText="Онош"></p:column>
												</p:row>
											</p:columnGroup>
											<p:column>
												<p:outputLabel value="#{tmp.surgeryDate}" styleClass="col-widthFamily" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.subOrgName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.doctorName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.surgeryName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
											<p:column>
												<p:outputLabel value="#{tmp.diagnoseName}" styleClass="col-widthFamily" ></p:outputLabel>
											</p:column>
										</p:dataTable>
									</p:tab>
									<p:tab title="Гадуур эмчилгээ">
										<p:dataTable id="outTreat" emptyMessage="Хоосон байна" styleClass="myTable outTable" rowIndexVar="index">
											<p:columnGroup type="header">
												<p:row>
													<p:column styleClass="text" style="width : 50%;" headerText="Огноо"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Эмчилгээний тасаг"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Хариуцсан эмч"></p:column>
													<p:column styleClass="text" style="width : 50%;" headerText="Сонгосон эмчилгээ"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Анхан/Давтан"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Даатгал төрөл"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Онош"></p:column>
													<p:column styleClass="text" style="width : 25%;" headerText="Эмчилгээний дүн"></p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</p:tab>
								</p:tabView>
							</p:fieldset>
						</div>
					</p:panel>
				</div>
			</div>
		</section>
		<p:dialog widgetVar="examinationResult" id = "examinationResult" height="600" width="500" closeOnEscape="true" resizable="false" styleClass = "dialog-scroll" header="Шинжилгээний хариу"  >
			<div class = "row">
				<div class = "col-md-12" style = "height: 12px;"></div>
				<p:dataTable id = "exaRequests" rowIndexVar="index" styleClass = "myTable col-md-12" value = "#{crmController.listExamResult}" var = "tmp" emptyMessage="Хоосон байна"  >
					<p:column styleClass = "text" headerText="Шинжилгээний нэр" >#{tmp.questionName} </p:column>
					<p:column styleClass = "text" headerText = "Лавлах хэмжээ" > #{tmp.minValue - tmp.maxValue}</p:column>
					<p:column styleClass = "text" headerText = "Нэгж" > #{tmp.unit}</p:column>
					<p:column styleClass = "date" headerText="Хариу" >#{tmp.result} </p:column>
				</p:dataTable>
			</div> 
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(
					function() {
						setSubOrgaList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>