<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="Pharmacy.Web">
		<wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/report"/>
        <dependent-module archiveName="jsf-api-2.1.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/D:/MedIT/BIN/Java/JSF/jsf-api-2.1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-impl-2.1.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/D:/MedIT/BIN/Java/JSF/jsf-impl-2.1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="primefaces-4.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/D:/MedIT/BIN/Java/primefaces-4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mail.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/D:/MedIT/BIN/Java/mail.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
		<property name="java-output-path" value="/Pharmacy.Web/build/classes"/>
        <property name="context-root" value="Pharmacy.Web"/>
	</wb-module>
</project-modules>
