<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Хэрэглэгч</h1>
		<ol class="breadcrumb">
			<li class="active">Хэрэглэгч</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>

		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
				
					<div class="col-md-2">
						<div class="row">
							<div class="box-header">
								<h3 class="box-title">#{i18n['list']}</h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-10">
						<div style="padding-top:5px;padding-bottom:5px;margin-right:-5px;">
							<div class="text-right">
								<p:commandLink action="#{userController.url('user_register')}"
								styleClass="btn"
								actionListener="#{infoController.newUser}" >
								<i class="fa fa-fw fa-plus-square" /> #{i18n['register_user']}
								</p:commandLink>
							</div>
						</div>
					</div>
					
					<div class="box-body">
						<p:dataTable id="organizationList" styleClass="myTable"
							value="#{infoController.users}" var="info"
							rowIndexVar="index">
							<p:column styleClass="index" headerText="№">#{index + 1}</p:column>
							<p:column styleClass="text" headerText="#{i18n['name']}">#{info.name}</p:column>
							<p:column styleClass="text" headerText="#{i18n['username']}">#{info.id}</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['edit']}">
								<p:commandLink styleClass="fa fa-fw fa-edit color-green"
									action="#{infoController.modifiedUser(info)}"
									 ></p:commandLink>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['delete']}">
								<p:commandLink styleClass="fa fa-fw fa-remove color-red"
									action="#{infoController.deleteUser(info)}"
									oncomplete="PF('confirmDialogDelete').show();" ></p:commandLink>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</div>
		</div>
		</section>
		<p:dialog styleClass="confirmDialog" widgetVar="confirmDialogDelete"
			modal="true" resizable="true" width="300" >
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon">
						<i class="fa fa-fw fa-warning color-orange"/>
					</td>
					<td class="panel-confirm-dialog-text">
						#{i18n['sure_to_delete_relative']}
					</td>
				</tr>
			</table>
			<div class="col-xs-12" >
				<div class="row">
					<div class="col-md-1"/>
					<div class="col-md-5">
						<p:commandLink styleClass="btn"
									action="#{infoController.deleteUser}" 
									oncomplete="PF('confirmDialogDelete').hide();"
									style="font-size: 12px;color: white;">
									<i class="fa fa-fw fa-check"/> #{i18n['delete']}</p:commandLink>
					</div>
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
									oncomplete="PF('confirmDialogDelete').hide();"
									style="font-size: 12px;color: white;">
									<i class="fa fa-fw fa-times"/> #{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1"/>
				</div>
			</div>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[

			//]]>
		</script>
	</ui:define>
</ui:composition>