<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>CRM хариуцсан хэлтэс</h1>
		
		</section>
		
		<section class="content">
			<div class="col-md-12">
				<p:fieldset legend="Ажилтны жагсаалт" style="margin-bottom:20px">
				<div class="row flex-container">
					<div class="col-md-12">
					<p:dataTable id="myTable" styleClass="myTable" value="#{crmAllController.listOfEmployeeControl}" var="info"
							emptyMessage="#{i18n['empty']}">
						<p:column headerText="Ажилтны №">#{info.id}</p:column>
						<p:column headerText="Нэр">#{info.lastName} #{info.firstName}</p:column>
						<p:column headerText="Харъяа тасаг">#{info.subOrganizationName}</p:column>
						<p:column headerText="И-мэйл">#{info.email}</p:column>
						<p:column headerText="Утасны №">#{info.phone}</p:column>
						<p:column>
							<p:commandLink process="@this" styleClass="fa fa-fw fa-edit color-green" action="#{crmAllController.updateCurrentEmployee(info)}"></p:commandLink>
						</p:column>
						<p:column>
							<p:commandLink styleClass="fa fa-times color-red" action="#{crmAllController.deleteEmployee(info)}" oncomplete="PF('confirmDialogDelete').show();"></p:commandLink>
						</p:column>
					</p:dataTable>
					</div>
				</div>
				</p:fieldset>
				<p:fieldset legend="Ажилтны бүртгэл" style="margin-bottom:20px" id="myView">
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Овог</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="lastname" value="#{crmAllController.currentEmployee.lastName}" placeholder="Овог"/>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Нэр</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="firstname" value="#{crmAllController.currentEmployee.firstName}" placeholder="Нэр"/>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Регистрийн дугаар</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputMask id="regNumber1" value="#{crmAllController.currentEmployee.regNumber}" placeholder="Регистрийн дугаар"
							maxlength="10" style="width : 100%;" mask="aa99999999">
							</p:inputMask>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Ажилтны №</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="employeeid" value="#{crmAllController.currentEmployee.id}" placeholder="Ажилтны №"/>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Нууц үг</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:password id="password" name = "password" value="#{crmAllController.currentUsers.password}"
						styleClass="input-icon" placeholder="Нууц үг"/>					
						</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Тасаг</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu id="familyMemberType"
						value="#{crmAllController.currentEmployee.subOrganizationPkId}"
						style="width: 100%;" filter="true">
						<f:selectItem itemLabel="Сонгох"></f:selectItem>
						<f:selectItems value="#{crmAllController.crmSubOrganizationList}" var="fr"
							itemValue="#{fr.pkId}" itemLabel="#{fr.name}"></f:selectItems>
						</p:selectOneMenu>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Имэйл</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="email" value="#{crmAllController.currentEmployee.email}" placeholder="Имэйл"/>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Дотоод утас</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="innerphone" value="#{crmAllController.currentEmployee.innerPhone}" placeholder="Дотоод утас"/>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Гар утас</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="phonenumber" value="#{crmAllController.currentEmployee.phone}" placeholder="Гар утас"/>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2">
						<p:commandLink styleClass="btn" action="#{crmAllController.saveEmployee()}" update="myView" oncomplete="getEmployeeList()"><i class="fa fa-check" /> Хадгалах</p:commandLink>
					</div>
				</div>
				
				</p:fieldset>
			</div>
			
			<p:dialog id="updateEmployee" widgetVar="updateEmployee" closeOnEscape="true" header="Ажилтны мэдээлэл засах" height="300" width="80%" >
				<div class="col-md-12">
					<div class="row flex-container" style="margin-bottom:1%;">
						<div class="col-md-3">
							<p:outputLabel value="Овог : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.lastName}" style="width : 100%;"  />
						</div>
						<div class="col-md-3">
							<p:outputLabel value="Нэр : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.firstName}" style="width : 100%;" />
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row flex-container" style="margin-bottom:1%;">
						<div class="col-md-3">
							<p:outputLabel value="Регистрийн № : " />
						</div>
						<div class="col-md-3">
							<p:inputMask id="regNumber2" name="regNumber2" value="#{crmAllController.currentUpdatedEmployee.regNumber}" placeholder="Регистрийн дугаар"
							maxlength="10" style="width : 100%;" mask="aa99999999">
							</p:inputMask>
						</div>
						<div class="col-md-3">
							<p:outputLabel value="Ажилтны № : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.id}" style="width : 100%;" />
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row flex-container" style="margin-bottom:1%;">
						<div class="col-md-3">
							<p:outputLabel value="Тасаг : " />
						</div>
						<div class="col-md-3">
							<p:selectOneMenu id="familyMemberTypeUpdate"
							value="#{crmAllController.currentUpdatedEmployee.subOrganizationPkId}"
							style="width: 100%;" filter="true">
							<f:selectItem itemLabel="Сонгох"></f:selectItem>
							<f:selectItems value="#{crmAllController.crmSubOrganizationList}" var="fr"
							itemValue="#{fr.pkId}" itemLabel="#{fr.name}"></f:selectItems>
							</p:selectOneMenu>						
						</div>
						<div class="col-md-3">
							<p:outputLabel value="Имэйл : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.email}" style="width : 100%;" />
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row flex-container" style="margin-bottom:1%;">
						<div class="col-md-3">
							<p:outputLabel value="Утас : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.phone}" style="width : 100%;"  />
						</div>
						<div class="col-md-3">
							<p:outputLabel value="Дотоод утас : " />
						</div>
						<div class="col-md-3">
							<p:inputText value="#{crmAllController.currentUpdatedEmployee.innerPhone}" style="width : 100%;" />
						</div>
					</div>
					<div class="row flex-container" style="margin-bottom:1%;">
						<div class="col-md-10">
							
						</div>
						<div class="col-md-2">
							<p:commandLink styleClass="btn" action="#{crmAllController.saveUpdatedEmployee()}" update=":form:myTable" ><i class="fa fa-check" /> Хадгалах</p:commandLink>
						</div>
					</div>
				</div>
			</p:dialog>
			
		</section>
		
		<p:dialog styleClass="confirmDialog" widgetVar="confirmDialogDelete"
			modal="true" resizable="true" width="300" >
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon">
						<i class="fa fa-fw fa-warning color-orange"/>
					</td>
					<td class="panel-confirm-dialog-text">
						Бүртгэл устгахдаа итгэлтэй байна уу?
					</td>
				</tr>
			</table>
			<div class="col-xs-12" >
				<div class="row">
					<div class="col-md-1"/>
					<div class="col-md-5">
						<p:commandLink styleClass="btn"
									action="#{crmAllController.deleteEmployee}" 
									oncomplete="PF('confirmDialogDelete').hide();"
									style="font-size: 12px;color: white;" 
									update=":form:myTable">
									<i class="fa fa-fw fa-check"/> #{i18n['delete']}</p:commandLink>
					</div>
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
									oncomplete="PF('confirmDialogDelete').hide();"
									style="font-size: 12px;color: white;">
									<i class="fa fa-fw fa-times"/> #{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1"/>
				</div>
			</div>
		</p:dialog>
		
		
			<p:remoteCommand name="getEmployeeList" action="#{crmAllController.getEmployeeInfoList()}" update=":form:myTable" />
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(
					function() {
						getEmployeeList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>