<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Байгууллагын удирдлага</h1>
		</section>
		
		<section class="content">
			<div class="col-md-12">
				<div class="row flex-container">
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Байгууллагын нэр</label>
						<p:inputText value="" />
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
						<label>Байгууллагын РД</label>
						<p:inputText value="" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label>Шинжилгээний ангилал</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu>
							<f:selectItem itemLabel="Combo Box" itemValue=""></f:selectItem>
						</p:selectOneMenu>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<p:selectBooleanCheckbox itemLabel="Улсын бүртгэлтэй эсэх" />	
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<label>Огноо</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:calendar pattern="yyyy-MM-dd" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control" id = "beginDate" 
						navigator="true"> 
						</p:calendar>
						<label class="flex-center-self" style="margin-right: 10px !important;">-</label>
						<p:calendar pattern="yyyy-MM-dd" style="display:inline-block" id = "endDate" styleClass="flex-center-self date-control"> 
						</p:calendar>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<label>Хариуцсан мэргэжилтэн</label>
						<p:inputText value="" />
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<p:commandLink styleClass="btn" >Хайх</p:commandLink>			
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-12">
					<p:panel header="Байгууллагын жагсаалт">
						<f:facet name="header">
						<div class="col-md-12">
							<div class="col-md-3">
								<label>Байгууллагын жагсаалт</label>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<label>Огноо</label>
								<p:calendar pattern="yyyy-MM-dd" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control"
								navigator="true"> 
								</p:calendar>
								<label class="flex-center-self" style="margin-right: 10px !important;">-</label>
								<p:calendar pattern="yyyy-MM-dd" style="display:inline-block" styleClass="flex-center-self date-control"> 
								</p:calendar>
							</div>
							<div class="col-md-3">
								<p:commandLink styleClass="btn" >SMS илгээх</p:commandLink>			
								<p:commandLink styleClass="btn" >E-mail илгээх</p:commandLink>			
								<p:commandLink styleClass="btn" >Эксэл хадгалах</p:commandLink>			
							</div>
						</div>
						</f:facet>
						<p:dataTable styleClass="myTable" value=""  rowIndexVar="index">
							<p:column styleClass="text" headerText=" ">
								<p:selectBooleanCheckbox />
							</p:column>
							<p:column headerText="Байгууллагын нэр"></p:column>
							<p:column headerText="Байгууллагын РД"></p:column>
							<p:column headerText="Захирлын нэр"></p:column>
							<p:column headerText="Салбар"></p:column>
							<p:column headerText="Эхний 6 сар"></p:column>
							<p:column headerText="Сүүлийн 6 сар"></p:column>
						</p:dataTable>
							<div style="float:right;">
							<p:commandLink styleClass="btn" >Шинэ байгууллага нэмэх</p:commandLink>			
							<p:commandLink styleClass="btn" >Хадгалах</p:commandLink>				
							</div>					
					</p:panel>
				</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-12">
						<p:panel header="Байгууллагын мэдээлэл">
							<div class="col-md-8">
								<div class="row flex-container">
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Байгууллагын код</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>*Байгууллагын нэр</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>*Байгууллагын РД</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Захирлын нэр</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Эрэгтэй ажилтны тоо</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Эмэгтэй ажилтны тоо</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Эхний үзлэг хийх огноо</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<label>Сүүлийн үзлэг хийх тоо</label>
									</div>
									<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText value="" />
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-12 col-xs-12 col-sm-12 flex-center-self">
										<label>Үйл ажиллагааны чиглэл</label>
										<p:inputText value="" style="width:80%;"/>
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-12 col-xs-12 col-sm-12 flex-center-self">
										<p:selectBooleanCheckbox itemLabel="Улсын бүртгэлтэй эсэх" />
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<p:dataTable styleClass="myTable" value=""  rowIndexVar="index">
									<p:column styleClass="text" headerText="Гэрээ эхлэх огноо">
									</p:column>
									<p:column headerText="Гэрээ дуусах огноо"></p:column>
									<p:column headerText="Шинжилгээний ангилал"></p:column>
									<p:column headerText="Хариуцсан баг"></p:column>
									<p:column headerText="Ажилтан"></p:column>
								</p:dataTable>
							</div>
						</p:panel>
					</div>
				</div>
			</div>
		</section>
		
		<p:dialog styleClass="confirmDialog" modal="true"
			resizable="true" width="50%">
			<div class="col-md-12">
				<div class="row flex-container">
					<div class="col-md-4">
						<label>Байгууллагын кол</label>
					</div>
					<div class="col-md-8">
						<p:inputText value="" style="width:100%;"/>
					</div>
					
				</div>
				<div class="row flex-container">
					<div class="col-md-6">
						<label>Гэрээ эхлэх огноо</label>
						<p:calendar pattern="yyyy-MM-dd" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control"
						navigator="true"> 
						</p:calendar>
					</div>
					<div class="col-md-6">
						<label>Гэрээ дуусах огноо</label>
						<p:calendar pattern="yyyy-MM-dd" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control"
						navigator="true"> 
						</p:calendar>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-6">
						<label>Шинжилгээний ангилал</label>
					</div>
					<div class="col-md-6">
						<p:inputText value="" style="width:100%;"/>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-6">
						<label>Хариуцсан ажилтны нэр</label>
					</div>
					<div class="col-md-6">
						<p:inputText value="" style="width:100%;"/>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-8">
						<label>Утас,имэйл</label>
						<p:inputText value=""/>
					</div>
					<div class="col-md-4">
						<p:commandLink styleClass="btn" >Хадгалах</p:commandLink>			
					</div>
				</div>
			</div>
		</p:dialog>
		
	</ui:define>
</ui:composition>