<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Автоматаар илгээх тохируулгын удирдлага</h1>
		</section>
		
		<section class="content">
			<div class="col-md-12" style="margin-top: 5%;">
				<div class="row flex-container">
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText value="Мэдээллийг сонгох нөхцлийн нэр" style="width:100%;" />
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<label>Идэвхитэй эсэх</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu>
							<f:selectItem itemLabel="Идэвхитэй"></f:selectItem>
						</p:selectOneMenu>	
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:commandLink styleClass="btn" >Хайх</p:commandLink>	
					</div>
				</div>
				<div class="row flex-container" style="margin-top: 2%;">
					<div class="col-md-12">
						<p:tabView id="tab">
							<p:tab title="Автоматаар илгээх">
								<p:dataTable id="configTable" styleClass="myTable configTable" value="#{crmAllController.crmAutoSendConfig}" var="info"
							rowIndexVar="index" emptyMessage="#{i18n['empty']}" >
									<p:column headerText="Сериал №">#{info.id}</p:column>
									<p:column headerText="Сонгох нөхцлийн нэр">#{info.name}</p:column>
									<p:column headerText="Мэдээллийн сувгийн төрөл">#{info.channelType}</p:column>
									<p:column headerText="Илгээх огноо">
										<p:outputLabel value="#{info.configDate}" styleClass="col-widthFamily" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
									</p:column>
									<p:column headerText="Идэвхитэй эсэх">#{info.activeStr}</p:column>
								</p:dataTable>
							</p:tab>
						</p:tabView>
					</div>
				</div>
				
				<div class="row flex-container">
					<div class="col-md-12">
						<p:tabView id="tabs1">
							<p:tab title="Автоматаар илгээх тохируулга">
								<div class="row flex-container">
									<div class="col-md-12">
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<label>Сонгох нөхцөл</label>
										</div>
										<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
											<p:selectOneMenu value="#{crmAllController.currentSendConfig.crmTreatmentConditionPkId}"
												style="width:100%;" filter="true">
												<f:selectItem itemLabel="Сонгох"></f:selectItem>
												<f:selectItems value="#{crmAllController.listCrmTreatmentCondition}" var="fr"
												itemValue="#{fr.pkId}" itemLabel="#{fr.name}"></f:selectItems>
											</p:selectOneMenu>
										</div>
										<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
											<p:selectBooleanCheckbox value="#{crmAllController.currentSendConfig.activeBool}" itemLabel="Идэвхитэй эсэх" />
										</div>
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-12">
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<label>Илгээх Base date</label>
										</div>
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<h:outputText value="#{crmAllController.currentDate}">
    											<f:convertDateTime pattern="dd/mm/yyyy" type="date" />
											</h:outputText>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
											<p:selectOneMenu value="#{crmAllController.currentSendConfig.dayCount}">
												<c:forEach var="i" begin="1" end="24">
        											<f:selectItem itemLabel="#{i}" itemValue="#{i}" />       
    											</c:forEach>
											</p:selectOneMenu>
										</div>
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<p:selectOneMenu value="#{crmAllController.currentSendConfig.dayType}">
												<f:selectItem itemLabel="Цагын өмнө" itemValue="Hour"></f:selectItem>
												<f:selectItem itemLabel="Өдрийн өмнө" itemValue="Day"></f:selectItem>
												<f:selectItem itemLabel="Сарын өмнө" itemValue="Month"></f:selectItem>
											</p:selectOneMenu>
										</div>
										
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-12">
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<p:selectOneRadio value="#{crmAllController.currentSendConfig.channelType}">
												<f:selectItem itemLabel="Mail" itemValue="Mail"/>
												<f:selectItem itemLabel="SMS" itemValue="SMS"/>
											</p:selectOneRadio>
										</div>
									</div>
								</div>
								<div class="row flex-container">
									<div class="col-md-12">
										<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
											<p:commandLink styleClass="btn" action="#{crmAllController.saveSendingConfig()}" update="tabs1" oncomplete="getSendingConfigList()"><i class="fa fa-check" /> Хадгалах</p:commandLink>
										</div>
									</div>
								</div>
							</p:tab>
						</p:tabView>
					</div>
				</div>
				
			</div>
		</section>
			<p:remoteCommand name="getSendingConfigList" action="#{crmAllController.getSendingConfigList()}" update=":form:tab:configTable" />
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
		$(document).ready(
					function() {
						getSendingConfigList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>