<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Эмчилгээний захиалга өгсөн үйлчлүүлэгчийн удирдлага</h1>
		</section>
		<section class="content">
			<div class="col-md-12" style="margin-top:10px;">
				<div class="col-md-4">
					<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">				
						<p:selectOneMenu id="conditionType" style="width: 100%;" filter="true" value="#{crmController.selectedConditionType}">
							<p:ajax event="change" />
							<f:selectItem itemLabel="Эмчилгээ хийсэн өдөр" itemValue="TreatmentDay" />
							<f:selectItem itemLabel="Эмнэлэгт хэвтэх өдөр" itemValue="InpatientDay" />
							<f:selectItem itemLabel="Эмнэлгээс гарсан өдөр" itemValue="DischargeDay" />
							<f:selectItem itemLabel="Эмнэлэгт хэвтэх захилгасан өгсөн өдөр" itemValue="InpatientOrderDay" />
							<f:selectItem itemLabel="Шинжилгээ хийсэн өдөр" itemValue="ExamDay" />
							<f:selectItem itemLabel="Онош тавьсан өдөр" itemValue="DiagnoseDay" />
							<f:selectItem itemLabel="Мэс заслын өдөр" itemValue="SurgeryDay" />
						</p:selectOneMenu>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">				
						<p:calendar id="searchDate" pattern="yyyy-MM-dd" value="#{crmController.searchDate}" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control" navigator="true" >
							<p:ajax event="dateSelect" />
						</p:calendar>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self"  >
						<p:commandLink styleClass="btn" action="#{crmController.searchResult()}" update="form:tblResult" process="@this form:searchDate form:conditionType" ><i class="fa fa-search" />Хайх</p:commandLink>
					</div>
					<div class="col-md-12 col-xs-12 col-sm-12" style="margin-top:5%;">
					<p:remoteCommand name="selectDbRowResult" action="#{crmController.getResultDtl()}" update="form:tblDtl" process="@this" />
						 <p:fieldset legend="Мэдээлэл илгээсэн жагсаалт" toggleSpeed="100" styleClass="margin-bottom">
							<p:dataTable id="tblResult" styleClass="myTable tblResult" value="#{crmController.listResult}" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" 
							selection="#{crmController.currentResult}" selectionMode="single" rowKey="#{info.pkId}" >
								<p:ajax event="rowDblselect" onstart="selectDbRowResult();" />
									<p:column styleClass="id" headerText="№">
										<p:outputLabel value="#{index + 1}" />
									</p:column>
									<p:column styleClass="id" headerText="Багцын №">
										<p:outputLabel value="#{info.batchId}" />
									</p:column>
									<p:column styleClass="text" headerText="Илгээсэн төрөл">
										<p:outputLabel value="#{info.sendType}" />
									</p:column>
									<p:column styleClass="short-text" headerText="Суваг">
										<p:outputLabel value="#{info.channelType}" />
									</p:column>
									<p:column styleClass="text" headerText="Ажлын ангилал">
										<p:outputLabel value="#{info.conditionType}" />
									</p:column>
									<p:column styleClass="short-number" headerText="Тоо">
										<p:outputLabel value="#{info.sendCount}" />
									</p:column>						
							</p:dataTable>
						 </p:fieldset>
					</div>
				</div>
				<div class="col-md-8">
					<div class="col-md-12">
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true" value="#{crmController.subOrgPkId}" >
								<f:selectItem itemLabel="Тасаг сонгох" itemValue="0" />
								<f:selectItems value="#{crmController.listSubOrg}" var="item" itemLabel="#{item.name}" itemValue="#{item.pkId}" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true" value="#{crmController.searchEmployeePkId}" >
								<f:selectItem itemLabel="Хариуцсан эмч" itemValue="0" />
								<f:selectItems value="#{crmController.listEmployee}" var="item" itemLabel="#{item.firstName}" itemValue="#{item.pkId}" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true">
								<f:selectItem itemLabel="Анхны үзлэг эсэх" itemValue="All" />
								<f:selectItem itemLabel="Анхны үзлэг" itemValue="FirstInspection" />
								<f:selectItem itemLabel="Давтан үзлэг" itemValue="SecondInspection" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true">
								<f:selectItem itemLabel="Илгээсэн эсэх" itemValue="All" />
								<f:selectItem itemLabel="Илгээсэн эсэх" itemValue="Send" />
								<f:selectItem itemLabel="Илгээсэн эсэх" itemValue="NotSend" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:inputText id="patName" placeholder="Эмчлүүлэгчийн нэр" value="#{crmController.searchEmployeeName}" />
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true">
								<f:selectItem itemLabel="Илгээсэн байдал" itemValue="All" />
								<f:selectItem itemLabel="Илгээсэн" itemValue="Send" />
								<f:selectItem itemLabel="Илгээгээгүй" itemValue="NotSend" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true">
								<f:selectItem itemLabel="Татгалзсан эсэх" itemValue="ALl" />
								<f:selectItem itemLabel="Татгалзсан" itemValue="Reject" />
								<f:selectItem itemLabel="Татгалзаагүй" itemValue="NotReject" />
							</p:selectOneMenu>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu style="width: 100%;" filter="true">
								<f:selectItem itemLabel="Илгээсэн төрөл" itemValue="All" />
								<f:selectItem itemLabel="Тэр дариуд" itemValue="Directly" />
								<f:selectItem itemLabel="Дараа нь" itemValue="After" />
							</p:selectOneMenu>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<p:commandLink styleClass="btn" action="#{crmController.getResultDtl()}" update=":form:tblDtl" ><i class="fa fa-search" />Хайх</p:commandLink>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12" style="margin-top:2%;">
					 <p:fieldset legend="Захиалгын мэдээлэл илгээсэн дэлгэрэнгүй жагсаалт" toggleSpeed="100" styleClass="margin-bottom">
						 		<div class="col-md-12">
						 			<div class="col-md-5">
						 				<p:outputLabel value="SMS :" />
										<p:inputText style ="width:20%" />
										<p:outputLabel value="E-mail : " />
										<p:inputText style ="width:20%" />
									</div>
									<div class="col-md-5"></div>
									<div class="col-md-2">
						 				<p:outputLabel value="Илгээсэн тоо 0" />
									</div>
								</div>
								<p:dataTable id="tblDtl" value="#{crmController.listResultDtl}" styleClass="myTable tblDtl" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" >
									<p:column styleClass="text" headerText="Эмчилгээний огноо">
										<p:outputLabel value="#{info.orderDate}" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
									</p:column>
									<p:column styleClass="text" headerText="Үйлчлүүлэгчийн дугаар">
										<p:outputLabel value="#{info.cardNumber}" />
									</p:column>
									<p:column styleClass="text" headerText="Нэр">
										<p:outputLabel value="#{info.customerName}" />
									</p:column>
									<p:column styleClass="text" headerText="Тасаг">
										<p:outputLabel value="#{info.subOrganizationName}" />
									</p:column>
									<p:column styleClass="text" headerText="Хариуцсан эмч">
										<p:outputLabel value="#{info.employeeName}" />
									</p:column>
									<p:column styleClass="text" headerText="Анх удаа эсэх">
										<p:outputLabel value="#{info.isFirst}" />
									</p:column>
									<p:column styleClass="text" headerText="Илгээсэн огноо">
										<p:outputLabel value="#{info.sendDate}" ><f:convertDateTime pattern="yyyy/MM/dd HH:MM" /></p:outputLabel>
									</p:column>
									<p:column styleClass="text" headerText="Захиалгын №">
										<p:outputLabel value="#{info.orderId}" />
									</p:column>
								</p:dataTable>
					 </p:fieldset>
					</div>
				</div>
			</div>
		</section>
		<p:remoteCommand name="getData" action="#{crmController.getSearchData()}" process="@this" />
	</ui:define>
	<ui:define name="script">
		<script>
			$(document).ready(
				function() {
					getData();
							});
		</script>
	</ui:define>
</ui:composition>