<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Эмчилгээний үйлчлүүлэгчийн мэдээллийг мэдээллийн сангаас сонгох нөхцлийн бүртгэл</h1>
		<ol class="breadcrumb">
			<li class="active">Бүртгэл</li>
		</ol>
		</section>
		<section class="content">
			<div class="col-md-12">
				<p:tabView>
					<p:tab title="Нөхцөл">
						<div class="row flex-container">
							<div class="col-md-2">
								<p:outputLabel value="Нэр : " />
							</div>
							<div class="col-md-3">
								<p:inputText value="#{crmController.currentTreat.name}" style="width : 100%;" />
							</div>
							<div class="col-md-2">
								<p:outputLabel value="Сонгох нөхцлын нэр : " />
							</div>
							<div class="col-md-3">
								<p:selectOneMenu value="#{crmController.currentTreat.conditionType}" style="width: 100%;" >
									<p:ajax event="change" />
									<f:selectItem itemLabel="Эмчилгээ хийсэн өдөр" itemValue="TreatmentDay"></f:selectItem>
									<f:selectItem itemLabel="Эмнэлэгт хэвтэх өдөр" itemValue="InpatientDay"></f:selectItem>
									<f:selectItem itemLabel="Эмнэлгээс гарсан өдөр" itemValue="DischargeDay"></f:selectItem>
									<f:selectItem itemLabel="Эмнэлэгт хэвтэх захилгасан өгсөн өдөр" itemValue="InpatientOrderDay"></f:selectItem>
									<f:selectItem itemLabel="Шинжилгээ хийсэн өдөр" itemValue="ExamDay"></f:selectItem>
									<f:selectItem itemLabel="Онош тавьсан өдөр" itemValue="DiagnoseDay"></f:selectItem>
									<f:selectItem itemLabel="Мэс заслын өдөр" itemValue="SurgeryDay"></f:selectItem>						
								</p:selectOneMenu>
							</div>
							<div class="col-md-2">
								<p:commandLink styleClass="btn" action="#{crmController.saveConditionTreatment()}" > <i class="fa fa-check" />Хадгалах </p:commandLink>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2">
								<p:outputLabel value="Хураагуй мэдээлэл : " />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{crmController.currentTreat.description}" style="width : 100%;" />
							</div>
							<div class="col-md-2">
								<p:outputLabel value="Бүртгэсэн хүн : " />
							</div>
							<div class="col-md-2">
								<p:inputText value="#{crmController.currentTreat.createdUser}" disabled="true" />
							</div>
							<div class="col-md-2">
								<p:selectBooleanCheckbox value="#{crmController.currentTreat.activeBool}" itemLabel="Идэвхитэй эсэх" />
							</div>
						</div>
						<div class="col-md-12" style="margin-top:10px;">
							<div class="col-md-3">
								<label>Гар аргаар ажилуулах нөхцөл</label>
							</div>
							<div class="col-md-3">
								<p:selectBooleanCheckbox itemLabel="Цаг авсан эсэх" />
							</div>
							<div class="col-md-4">
								<p:calendar pattern="yyyy-MM-dd" value="#{crmController.beginDate}" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control" id = "beginDate" navigator="true">
									<p:ajax event="dateSelect" />
								</p:calendar>
								<label class="flex-center-self" style="margin-right: 10px !important;">-</label>
								<p:calendar pattern="yyyy-MM-dd" value="#{crmController.endDate}" style="display:inline-block" id = "endDate" styleClass="flex-center-self date-control" navigator="true" >
							 		<p:ajax event="dateSelect" />
							 	</p:calendar>
				 			</div>
				 			<div class="col-md-2">
								<p:commandLink styleClass="btn" >Ажиллуулах</p:commandLink>
							</div>
			 			</div>
			 			
			 			<p:fieldset legend="Эмчлэх нөхцөл" toggleSpeed="100" styleClass="margin-bottom">
							<div class="row">
								<div class="col-md-6">
									<p:panel header="Эмчилгээний тасаг/эмчийн баг">
										<div class="col-md-12">
											<p:dataTable id="tblTreat" styleClass="myTable tblTreat" value="#{crmController.listTreatDtl}" var="item" rowIndexVar="index">
												<p:column headerText="Тасаг">
													#{item.depName}
												</p:column>
												<p:column headerText="Хариуцсан эмч">
													#{item.typeName}
												</p:column>
												<p:column headerText="">
													<p:commandLink process="@this" update="@(.tblTreat)" styleClass="fa fa-times color-red" action="#{crmController.deleteConditionDtl(item, 'Employee')}"></p:commandLink>
												</p:column>
											</p:dataTable>
										</div>
										<div class="col-md-12">
											<div class="col-md-10">
											</div>
											<div class="col-md-2" style="text-align: right; padding-right:0;">
												<p:commandLink styleClass="btn" action="#{crmController.showDialog('Employee')}" update=":form:addEmployee" process="@this" ><i class="fa fa-plus" /> </p:commandLink>
											</div>
										</div>
									</p:panel>
								</div>
								<div class="col-md-6">
									<p:panel header="Шинжилгээний мэдээлэл">
										<div class="col-md-12">
											<p:dataTable id="tblExam" styleClass="myTable tblExam" value="#{crmController.listExamDtl}" var="item" rowIndexVar="index">
												<p:column headerText="Код">
													#{item.examId}
												</p:column>
												<p:column headerText="Шинжилгээний нэр">
													#{item.typeName}
												</p:column>
												<p:column headerText="">
													<p:commandLink process="@this" update="@(.tblExam)" styleClass="fa fa-times color-red" action="#{crmController.deleteConditionDtl(item, 'Exam')}"></p:commandLink>
												</p:column>
											</p:dataTable>
										</div>
										<div class="col-md-12">
											<div class="col-md-10">
											</div>
											<div class="col-md-2" style="text-align: right; padding-right:0;">
												<p:commandLink styleClass="btn" action="#{crmController.showDialog('Exam')}" update=":form:addExam" process="@this" ><i class="fa fa-plus" /> </p:commandLink>
											</div>
										</div>
									</p:panel>	
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p:panel header="Оношийн мэдээлэл">
										<p:dataTable id="tblDiagnose" styleClass="myTable tblDiagnose" value="#{crmController.listDiagnoseDtl}" var="item"  rowIndexVar="index">
											<p:column headerText="Оношийн код">
												#{item.diagnoseId}
											</p:column>
											<p:column headerText="Оношийн нэр">
												#{item.typeName}
											</p:column>
											<p:column headerText="">
												<p:commandLink process="@this" update="@(.tblDiagnose)" styleClass="fa fa-times color-red" action="#{crmController.deleteConditionDtl(item, 'Diagnose')}"></p:commandLink>
											</p:column>
										</p:dataTable>
										<div class="col-md-12">
											<div class="col-md-10">
											</div>
											<div class="col-md-2" style="text-align: right; padding-right:0;">
												<p:commandLink styleClass="btn" action="#{crmController.showDialog('Diagnose')}" update=":form:addDiagnose" process="@this" ><i class="fa fa-plus" /> </p:commandLink>
											</div>
										</div>
									</p:panel>
								</div>
								<div class="col-md-6" >
									<p:panel header="Мессежийн сан" >
										<p:dataTable id="tblSms" styleClass="myTable tblSms" value="#{crmController.listSelectInfo}" var="item" rowIndexVar="index" resizableColumns="true"
										        style="overflow:scrol-y; height: 130px;">
									        <p:columnGroup type="header">
												<p:row>
													<p:column rowspan="1" headerText=" " style="width:5%;" />
													<p:column rowspan="1" headerText="Төрөл" style="width:10%;" />
													<p:column rowspan="1" headerText="Код" style="width:10%;" />
													<p:column rowspan="1" headerText="Гарчиг" style="width:35%;" />
													<p:column rowspan="1" headerText="Утга" style="width:40%;" />
												</p:row>
											</p:columnGroup>
											<p:column>
												<p:selectBooleanCheckbox value="#{item.selected}" />
											</p:column>
											<p:column>
												<p:outputLabel value="#{item.channelType}" />
											</p:column>
											<p:column>
												<p:outputLabel value="#{item.id}" />
											</p:column>
											<p:column>
												<p:outputLabel value="#{item.title}" />
											</p:column>
											<p:column>
												<p:outputLabel value="#{item.note}" />
											</p:column>
										</p:dataTable>
									</p:panel>
								</div>
							</div>
							<div class="row" style="margin-top:10px;">
								<div class="col-md-12">
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel value="Хүйс : " />
										</div>
										<div class="col-md-4">
											<p:selectOneMenu value="#{crmController.currentTreat.gender}" style="width: 100%;" >
												<p:ajax event="change" />
												<f:selectItem itemLabel="Бүгд" itemValue="All"></f:selectItem>
												<f:selectItem itemLabel="Эр" itemValue="M"></f:selectItem>
												<f:selectItem itemLabel="Эм" itemValue="F"></f:selectItem>						
											</p:selectOneMenu>
										</div>
										<div class="col-md-2">
											<p:outputLabel value="Үйлчлүүлэгчийн зэрэглэл : " />
										</div>
										<div class="col-md-4">
											<p:selectOneMenu value="#{crmController.currentTreat.lifeCategory}" style="width: 100%;" >
												<p:ajax event="change" />
												<f:selectItem itemLabel="Бүгд" itemValue="All"></f:selectItem>
												<f:selectItem itemLabel="VIP" itemValue="Vip"></f:selectItem>
												<f:selectItem itemLabel="Энгийн" itemValue="General"></f:selectItem>
												<f:selectItem itemLabel="Эмзэг бүлэг" itemValue="Vulnerable"></f:selectItem>						
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row flex-container">
										<div class="col-md-2">
											<p:outputLabel value="Цусны бүлэг : " />
										</div>
										<div class="col-md-2">
											<p:selectOneMenu value="#{crmController.currentTreat.bloodType}" style="width: 100%;" >
													<p:ajax event="change" />
													<f:selectItem itemLabel="Бүгд" itemValue="All"></f:selectItem>
													<f:selectItem itemLabel="А" itemValue="2"></f:selectItem>
													<f:selectItem itemLabel="В" itemValue="3"></f:selectItem>
													<f:selectItem itemLabel="АВ" itemValue="4"></f:selectItem>
													<f:selectItem itemLabel="0" itemValue="1"></f:selectItem>						
												</p:selectOneMenu>
										</div>
										<div class="col-md-2">
											<p:outputLabel value="Даатгалын ангилал : " />
										</div>
										<div class="col-md-4">
											<p:selectOneMenu style="width: 100%;" value="#{crmController.currentTreat.insuranceInfo}" >
												<p:ajax event="change" />
												<f:selectItem itemLabel="Бүгд" itemValue="All"></f:selectItem>
												<f:selectItem itemLabel="Даатгалтай" itemValue="insurance"></f:selectItem>
												<f:selectItem itemLabel="Даатгалгүй" itemValue="notInsurance"></f:selectItem>
											</p:selectOneMenu>
										</div>
										<div class="col-md-2">
											<p:selectBooleanCheckbox value="#{crmController.currentTreat.firstTreat}" itemLabel="Анхны эмчилгээ эсэх" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p:panel header="Нас">
										<div class="col-md-12">
											<p:dataTable id="tblAge" styleClass="myTable tblAge" value="#{crmController.listAgeDtl}" var="item" rowIndexVar="index">
												<p:column headerText="Насны эхлэл">
													#{item.beginAge}
												</p:column>
												<p:column headerText="Төгсгөл">
													#{item.endAge}
												</p:column>
												<p:column headerText="">
													<p:commandLink process="@this" update="@(.tblAge)" styleClass="fa fa-times color-red" action="#{crmController.deleteConditionDtl(item, 'Age')}"></p:commandLink>
												</p:column>
											</p:dataTable>
										</div>
										<div class="col-md-12">
											<div class="col-md-10">
											</div>
											<div class="col-md-2" style="text-align: right; padding-right:0;">
												<p:commandLink styleClass="btn" action="#{crmController.showDialog('Age')}" update=":form:addAge" process="@this" ><i class="fa fa-plus" /> </p:commandLink>
											</div>
										</div>
									</p:panel>
								</div>
								<div class="col-md-6">
									<p:panel header="Хаягийн мэдээлэл">
										<div class="col-md-12">
											<p:dataTable id="tblAddress" styleClass="myTable tblAddress" value="#{crmController.listAddressDtl}" var="item" rowIndexVar="index">
												<p:column headerText="Хот">
													#{item.aimagName}
												</p:column>
												<p:column headerText="Дүүрэг">
													#{item.soumName}
												</p:column>
												<p:column headerText="">
													<p:commandLink process="@this" update="@(.tblAddress)" styleClass="fa fa-times color-red" action="#{crmController.deleteConditionDtl(item, 'Address')}"></p:commandLink>
												</p:column>
											</p:dataTable>
										</div>
										<div class="col-md-12">
											<div class="col-md-10">
											</div>
											<div class="col-md-2" style="text-align: right; padding-right:0;">
												<p:commandLink styleClass="btn" action="#{crmController.showDialog('Address')}" update=":form:addAimag" process="@this" ><i class="fa fa-plus" /> </p:commandLink>
											</div>
										</div>
									</p:panel>
								</div>
							</div>
						</p:fieldset>
					</p:tab>
				</p:tabView>
			</div>
		</section>
		<p:dialog id="addAge" widgetVar="addAge" closeOnEscape="true" header="Нас нэмэх" height="100" width="600" modal="true" >
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2">
						<p:outputLabel value="Нас : " />
					</div>
					<div class="col-md-4">
						<pe:inputNumber value="#{crmController.beginAge}" style="width : 100%; text-align : right;" decimalPlaces="0" minValue="0" maxValue="150" >
							<p:ajax event="change" />
						</pe:inputNumber>
					</div>
					<div class="col-md-4">
						<pe:inputNumber value="#{crmController.endAge}" style="width : 100%; text-align : right;" decimalPlaces="0" minValue="0" maxValue="150" >
							<p:ajax event="change" />
						</pe:inputNumber>
					</div>
					<div class="col-md-2">
						<p:commandLink styleClass="btn" process="@this" action="#{crmController.saveDialog('Age')}" update="@(.tblAge)" ><i class="fa fa-check" /> Хадгалах</p:commandLink>
					</div>
				</div>
			</div>
		</p:dialog>
		<p:dialog id="addAimag" widgetVar="addAimag" closeOnEscape="true" header="Хаяг нэмэх" height="100" width="700" modal="true" >
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2">
						<p:outputLabel value="Аймаг/Хот : " />
					</div>
					<div class="col-md-4">
						<p:selectOneMenu id="cmbAimag" style="width: 100%;" value="#{crmController.aimagPkId}" >
							<p:ajax event="change" />
							<f:selectItems value="#{crmController.listAimag}" var="item" itemLabel="#{item.name}" itemValue="#{item.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
					<div class="col-md-2">
						<p:outputLabel value="Сум/Дүүрэг : " />
					</div>
					<div class="col-md-4">
						<p:selectOneMenu id="cmbSoum" style="width: 100%;" value="#{crmController.soumPkId}" >
							<p:ajax event="change" />
							<f:selectItems value="#{crmController.listSoum}" var="item" itemLabel="#{item.name}" itemValue="#{item.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
					<div class="col-md-2">
						<p:commandLink styleClass="btn" process="@this cmbSoum cmbAimag" action="#{crmController.saveDialog('Address')}" update="@(.tblAddress)" ><i class="fa fa-check" /> Хадгалах</p:commandLink>
					</div>
				</div>
			</div>
		</p:dialog>
		<p:dialog id="addDiagnose" widgetVar="addDiagnose" closeOnEscape="true" header="Онош нэмэх" height="600" width="700" modal="true" >
			<div class="col-md-12">
				<div class="row">
					<p:dataTable id="diagnoseTbl" styleClass="myTable diagnoseTbl" value="#{crmController.listDiagnose}" var="item" rowIndexVar="index"
					selectionMode="multiple" selection="#{crmController.selectedDiagnoses}" rowKey="#{item.pkId}" 
					rows="15" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="20,25,30">
						<p:column headerText="Оношийн код">
							#{item.id}
						</p:column>
						<p:column headerText="Оношийн нэр">
							#{item.nameMn}
						</p:column>
					</p:dataTable>
					<p:commandLink styleClass="btn" process="addDiagnose" action="#{crmController.saveDialog('Dignose')}" update="@(.tblDiagnose)" ><i class="fa fa-check" /> Сонгох</p:commandLink>
				</div>
			</div>
		</p:dialog>
		<p:dialog id="addExam" widgetVar="addExam" closeOnEscape="true" header="Шинжилгээ нэмэх" height="600" width="700" modal="true" >
			<div class="col-md-12">
				<div class="row">
					<p:dataTable id="examTbl" styleClass="myTable examTbl" value="#{crmController.listExamination}" var="item" rowIndexVar="index"
					selectionMode="multiple" selection="#{crmController.selectedExaminations}" rowKey="#{item.pkId}" 
					rows="15" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="20,25,30">
						<p:column headerText="Шинжилгээний код">
							#{item.id}
						</p:column>
						<p:column headerText="Шинжилгээний нэр">
							#{item.name}
						</p:column>
					</p:dataTable>
					<p:commandLink styleClass="btn" process="addExam" action="#{crmController.saveDialog('Exam')}" update="@(.tblExam)" ><i class="fa fa-check" /> Сонгох</p:commandLink>
				</div>
			</div>
		</p:dialog>
		<p:dialog id="addEmployee" widgetVar="addEmployee" closeOnEscape="true" header="Эмч нэмэх" height="600" width="700" modal="true" >
			<div class="col-md-12">
				<div class="row">
					<p:dataTable id="empTbl" styleClass="myTable empTbl" value="#{crmController.listEmployee}" var="item" rowIndexVar="index"
					selectionMode="multiple" selection="#{crmController.selectedEmployees}" rowKey="#{item.pkId}"
					rows="15" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="20,25,30">
						<p:column headerText="Тасаг">
							#{item.subOrganizationName}
						</p:column>
						<p:column headerText="Эмчийн нэр">
							#{item.firstName}
						</p:column>
					</p:dataTable>
					<p:commandLink styleClass="btn" process="addEmployee" action="#{crmController.saveDialog('Employee')}" update="@(.tblTreat)" ><i class="fa fa-check" /> Сонгох</p:commandLink>
				</div>
			</div>
		</p:dialog>
		<p:remoteCommand name="getData" action="#{crmController.getSearchData()}" process="@this" />
	</ui:define>
	<ui:define name="script">
		<script>
			$(document).ready(
				function() {
					getData();
							});
		</script>
	</ui:define>
</ui:composition>