<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Үйлчлүүлэгчдийн мэдээлэл</h1>
		<ol class="breadcrumb">
			<li class="active">Байгууллага</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<p:remoteCommand name="getCrmTreatmentList" process="@this" action="#{crmController.getCrmTreatmentList()}" update="form:treatList" />
			<div class="row">
				<p:commandLink action="#{crmController.getCrmTreatmentList()}" styleClass="btn" update="form:treatList" >
					<i class="fa fa-refresh" />
					Сэргээх
			    </p:commandLink>
			    <p:commandLink action="#{crmController.newTreatmentCondition()}" styleClass="btn" >
					<i class="fa fa-plus" />
					Нэмэх
			    </p:commandLink>
			    <p:commandLink action="#{crmController.autoSendMailOrSms()}" styleClass="btn" >
					<i class="fa fa-envelope-o" />
					Автоматаар илгээх тохиргоог ажиллуулах
			    </p:commandLink>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p:dataTable id="treatList" emptyMessage="Хоосон байна" value="#{crmController.listTreatment}" styleClass="myTable treatList" var="tmp" rowIndexVar="index" resizableColumns="true"
					rows="30" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="30,45,60">
						<p:columnGroup type="header">
							<p:row>
								<p:column rowspan="1" headerText="№" style="width:1%;" />
								<p:column rowspan="1" headerText="Нэр" style="width:20%;" />
								<p:column rowspan="1" headerText="Төрөл" style="width:20%;" />
								<p:column rowspan="1" headerText="Огноо" style="width:10%;" />
								<p:column rowspan="1" headerText="Бүртгэсэн хүн" style="width:10%;" />
								<p:column rowspan="1" headerText="Товч тэмдэглэл" style="width:30%;" />
								<p:column rowspan="1" headerText="Идэвхитэй эсэх" style="width:5%;" />
								<p:column rowspan="1" headerText=" " style="width:2%;" />
								<p:column rowspan="1" headerText=" " style="width:2%;" />
							</p:row>
						</p:columnGroup>
						<p:column >
							<p:outputLabel value="#{index + 1}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column filterBy="#{tmp.name}" filterStyleClass="form-control">
							<p:outputLabel value="#{tmp.name}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.conditionTypeStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.createdDate}" styleClass="col-widthFamily" ><f:convertDateTime pattern="yyyy/MM/dd" /></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.createdUser}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.description}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{tmp.activeStr}" styleClass="col-widthFamily" ></p:outputLabel>
						</p:column>
						<p:column>
							<p:commandLink process="@this" styleClass="fa fa-fw fa-edit color-green" action="#{crmController.modifyTreatmentCondition(tmp)}"></p:commandLink>
						</p:column>
						<p:column>
							<p:commandLink process="@this" update="@(.treatList)" styleClass="fa fa-times color-red" action="#{crmController.deleteTreatRow(tmp)}"></p:commandLink>
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(
					function() {
						getCrmTreatmentList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>