<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Цэс</h1>
		<p:commandLink action="#{userController.url('menu_register')}"
			value="Цэс бүртгэх"
			actionListener="#{infoController.newOrganization}" />
		<ol class="breadcrumb">
			<li class="active">Цэс</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>

		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Жагсаалт</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="example2" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Нэр</th>
									<th>Үйл ажиллагааны чиглэл</th>
									<th>И-Мэйл</th>
									<th>Утас</th>
									<th colspan="2"></th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="info" value="#{infoController.organizations}">
									<tr>
										<td>#{info.name}</td>
										<td>#{info.name}</td>
										<td>#{info.email}</td>
										<td>#{info.phoneNumber}</td>
										<td><p:commandLink
												styleClass="btn btn-block btn-success btn-sm"
												action="#{infoController.modifiedOrganization(info)}"
												value="Засах"></p:commandLink></td>
										<td><p:commandLink
												styleClass="btn btn-block btn-danger btn-sm"
												action="#{infoController.deleteOrganization(info)}"
												oncomplete="PF('confirmDialogDelete').show();"
												value="Устгах"></p:commandLink></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		</section>
		<p:dialog widgetVar="confirmDialogDelete" modal="true"
			resizable="false" width="300" height="100">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon">
						<i class="fa fa-fw fa-warning color-orange"/>
					</td>
					<td class="panel-confirm-dialog-text">
						Та устгахдаа итгэлтэй байна уу?
					</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-xs-12" style="float: right;">
					<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-5">
							<p:commandLink styleClass="btn btn-block btn-primary btn-flat"
								action="#{infoController.deleteOrganization}" value="Устгах"
								style="font-size: 12px;color: white;"></p:commandLink>
						</div>
						<div class="col-md-5">
							<p:commandLink styleClass="btn btn-block btn-danger btn-flat"
								oncomplete="PF('confirmDialogDelete').hide();" value="Болих"
								style="font-size: 12px;color: white;"></p:commandLink>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			
		//]]>
		</script>
	</ui:define>
</ui:composition>