<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Хандах эрх</h1>
		
		<ol class="breadcrumb">
			<li class="active">Хандах эрх</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						
						<div class="col-md-10">
							<div class="box-header">
								<h3 class="box-title">#{i18n['list']}</h3>
							</div>
						</div>
	
						<div class="col-md-2">
							<div class="text-right" style="padding-top:3px;">
								<p:commandLink action="#{userController.url('role_register')}"
								styleClass="btn"
								actionListener="#{infoController.newOrganization}">
								<i class="fa fa-fw fa-plus-square" />#{i18n['register_permission']}</p:commandLink>
							</div>
						</div>
						
						<div class="box-body">
							<p:treeTable value="#{infoController.treeRoles}" var="role" styleClass="uk-table uk-table-striped treeTabe">
								<p:column headerText="#{i18n['name']}">
						            <h:outputText value="#{role.name}" />
						        </p:column>
						        <p:column headerText="#{i18n['set_permission']}">
						        	<p:outputLabel value="#{role.menuNames}"></p:outputLabel>
						        </p:column>
						        <p:column>
						        	<p:commandLink styleClass="fa fa-fw fa-edit color-green" action="#{infoController.modifiedRole(role)}" ></p:commandLink>
						        </p:column>
						        <p:column width="20%">
						        	<p:commandLink styleClass="fa fa-fw fa-remove color-red" onclick="PF('confirmDialogDelete').show();" actionListener="#{infoController.deleteRole(role)}"></p:commandLink>
						        </p:column>
							</p:treeTable>
						</div>
					</div>
				</div>
			</div>
		</section>
		<p:dialog styleClass="confirmDialog" widgetVar="confirmDialogDelete" modal="true"
			resizable="true" width="300" height="100">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon">
						<i class="fa fa-fw fa-warning color-orange"/>
					</td>
					<td class="panel-confirm-dialog-text">
						#{i18n['sure_to_delete_relative']}
					</td>
				</tr>
			</table>
				<div class="col-xs-12" >
					<div class="row">
						<div class="col-md-1"/>
						<div class="col-md-5">
							<p:commandLink styleClass="btn"
								action="#{infoController.saveRole}" >
								<i class="fa fa-fw fa-check"/>#{i18n['delete']}</p:commandLink>
						</div>
						<div class="col-md-5">
							<p:commandLink styleClass="btn redBtn"
								oncomplete="PF('confirmDialogDelete').hide();">
								<i class="fa fa-fw fa-times"/>#{i18n['cancel']}</p:commandLink>
						</div>
						<div class="col-md-1"/>
					</div>
				</div>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			
		//]]>
		</script>
	</ui:define>
</ui:composition>