<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Ажилтны бүртгэл</h1>
		<ol class="breadcrumb">
			<li><p:commandLink
					action="#{userController.url('employee_list')}" value="Байгууллага">
					<i class="fa fa-circle-o"></i>
				</p:commandLink></li>
			<li><i class="fa fa-dashboard"></i> Ажилтан</li>
			<li class="active">Бүртгэл</li>
		</ol>
		</section>
		<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:suborganization">#{i18n['suborganization']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu id="subOrganization" value="#{infoController.currentEmployee.subOrganizationPkId}"
							style="width: 100%;" filter="true" >
							<f:selectItems value="#{infoController.subOrganizations}"
								var="subOrganization" itemLabel="#{subOrganization.name}"
								itemValue="#{subOrganization.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="form:id">#{i18n['employee_id']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText disabled="true" styleClass="number-control" id="id" name="id" value="#{infoController.currentEmployee.id}" style="min-width: 100%;" />
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" class="label-asterisk" for="form:lastName">#{i18n['last_name']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText
							id="lastname" name="lastname"
							value="#{infoController.currentEmployee.lastName}"
							style="min-width: 100%;" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" class="label-asterisk" for="form:firstName">#{i18n['first_name']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="firstname" name="firstname"
							value="#{infoController.currentEmployee.firstName}"
							style="min-width: 100%;" />
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" class="label-asterisk" for="form:regNumber">#{i18n['register_number']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="regNumber" name="regNumber"
							value="#{infoController.currentEmployee.regNumber}"
							style="min-width: 100%;"
							maxlength="10" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:roomNumber">#{i18n['room_number']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<label style="min-width: 100%;"> <p:inputText
								styleClass="form-control number-control" id="roomNumber" name="roomNumber"
								value="#{infoController.currentEmployee.roomNumber}"
								style="min-width: 100%;" />
						</label>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:inspect">#{i18n['is_inspection_doctor']}</label>
					</div>
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<h:selectBooleanCheckbox id="inspect"
							value="#{infoController.currentEmployee.inspect}"
							styleClass="minimal" onclick = "hideIsDentist();" style="float: left;" />
					</div>
					
					<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
						<label style="display:none;" id = "labelforDentist" for="form:isDentist">#{i18n['suborganization_type']}</label>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<h:selectOneMenu id="isDentist"							
							value="#{infoController.currentEmployee.isDentist}"
							style="min-width: 50%; display:none;">
							<f:selectItems value = "#{infoController.subOrganizationTypee}" var = "sot" itemLabel="#{sot.name}" itemValue="#{sot.pkId}" > </f:selectItems>							
						</h:selectOneMenu>
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="degree">#{i18n['degree']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu id="degrees"
							value="#{infoController.currentEmployee.degreePkId}"
							style="width: 100%;"
							filter="true">
							<f:selectItems value="#{infoController.degrees}" var="degree"
								itemLabel="#{degree.name}" itemValue="#{degree.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="form:phone">#{i18n['phone']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText
							styleClass="number-control" id="phone" name="phone"
							value="#{infoController.currentEmployee.phone}"
							style="min-width: 100%;" />
					</div>
	
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="email">#{i18n['mail']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="email" name="email"
							value="#{infoController.currentEmployee.email}"
							style="min-width: 100%;" />
					</div>
				</div>
	
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:user">#{i18n['user']}</label>
					</div>
	
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu value="#{infoController.currentEmployee.userPkId}" filter="true">
							<f:selectItems value="#{infoController.users}" var="user" itemLabel="#{user.name}" itemValue="#{user.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
	
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="inspectionTime">#{i18n['inspection_time']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu id="inspectionTime"
							value="#{infoController.currentEmployee.inspectionTime}"
							style="width: 20%;">
							<f:selectItems value = "#{infoController.inspectionTimeInterval}" var = "iti" itemLabel="#{iti}" itemValue="#{iti}" > </f:selectItems>							
						</p:selectOneMenu>
					</div>
				</div>
				
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:user">Гарын үсэг</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:fileUpload id="stamp" fileUploadListener="#{infoController.uploadSignature}" sizeLimit="100000000" auto="true" styleClass="form-control" valueChangeListener="#{infoController.uploadStamp}" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="inspectionTime">Тамга</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:fileUpload id="signature" fileUploadListener="#{infoController.uploadStamp}" sizeLimit="100000000" auto="true" styleClass="form-control" valueChangeListener="#{infoController.uploadSignature}" />
					</div>
				</div>
				
				<div class="row flex-container" id="inspectionPass1" style="display: none;">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:inspectionPassword1">License-ийн нууц үг оруулах</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:password id="inspectionPassword1" value="#{infoController.currentEmployee.inspectionPassword}" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						
					</div>
				</div>
				<div class="row flex-container" id="inspectionPass2" style="display: none;">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label style="" for="form:inspectionPassword2">License-ийн нууц үг оруулах дахин оруулах</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:password id="inspectionPassword2" value="#{infoController.currentEmployee.inspectionPassword1}" />
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						
					</div>
				</div>
	
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self"></div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self text-right" ></div>
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self"></div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self text-right">
						<p:commandLink action="#{infoController.saveEmployee}" styleClass="btn" update="form:message" >
							<i class="glyphicon glyphicon-ok"/> #{i18n['save']}
						</p:commandLink>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[		
			document.getElementById('form:regNumber').setAttribute("data-inputmask", "\"mask\": \"aa99999999\"");
			document.getElementById('form:regNumber').setAttribute("data-mask", "");
			
			$("[data-mask]").inputmask();           
			           
			           
			           
			           
				$(document).ready(function () {
					$('input').on('blur', function() {
	        if ($("#form").valid()) {
	            $(".submit").prop('disabled', false);  
	        } else {
	            $(".submit").prop('disabled', 'disabled');
	        }
	    });
			jQuery.validator.setDefaults({
				  debug: true,
				  success: "valid"
				});

		    $('#form').validate({ // initialize the plugin
		    	rules: {
		    		'form:id': {
						required: true,
						minlength: 2				
					 },
					 'form:lastname': {
							required: true,
							minlength: 2				
						 },
					'form:firstname': {
							required: true,
							minlength: 2				
							},	 
					'form:regNumber': {
							required: true,
							minlength: 10				
							},					
					'form:phone': {
							required: true,
							minlength: 4,
							number: true
								  },				 
					'form:email': {
							email: true				
					}					
					
		        },
		    	messages: {
		    		'form:id': {
						required: "#{i18n['enter_employee_id']}",
						minlength: "#{i18n['more_characters_2']}"				
					 },
					 'form:lastname': {
							required: "#{i18n['enter_employee_last_name']}",
							minlength: "#{i18n['more_characters_2']}"				
						 },
					'form:firstname': {
						required: "#{i18n['enter_employee_first_name']}",
						minlength: "2-оос их тэмдэгт оруулна уу!"				
							},	 
					'form:regNumber': {
								required: "#{i18n['enter_register_number']}",
								minlength: "#{i18n['enter_register_number_correct']}"				
									},	 						
					
					'form:phone': {
							required: "#{i18n['enter_phone_number']}",
							minlength: "#{i18n['enter_phone_number_4_more']}",
							number: "#{i18n['enter_only_digit']}"
								  },				 
					'form:email': {						
							email: "#{i18n['enter_correct_mail']}"				
						}
					}
		    });
		});
				function hideIsDentist()
				{
					if (document.getElementById("form:inspect").checked)
					{
						document.getElementById("labelforDentist").style.display = "block";
						document.getElementById("form:isDentist").style.display = "block";
						document.getElementById("inspectionPass1").style.display = "block";
						document.getElementById("inspectionPass2").style.display = "block";
					}
					else
					{
						document.getElementById("labelforDentist").style.display = "none";
						document.getElementById("form:isDentist").style.display = "none";
						document.getElementById("inspectionPass1").style.display = "none";
						document.getElementById("inspectionPass2").style.display = "none";
					}
						
				}
				
				$('body').on('keydown', 'input, select, textarea', function(e) {
				    var self = $(this)
				      , form = self.parents('form:eq(0)')
				      , focusable
				      , next
				      ;
				    if (e.keyCode == 13) {
				        focusable = form.find('input,a,select,button,textarea').filter(':visible');
				        next = focusable.eq(focusable.index(this)+1);
				        if (next.length) {
				            next.focus();
				        } else {
				            form.submit();
				        }
				        return false;
				    }
				});
			//]]>
		</script>
	</ui:define>
</ui:composition>