	<div class = "row">
				<label>Awareness to sound:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child nonverbally or verbally indicates the presence or absence of sound. Example: Child's eyes widen when he/she hears mother's voice; child vocalizes in response to initiation or cessation of a sound. </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never observed </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed once </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed 3 or more times</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Attention to sound:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child attends to what he/she hears for an extended period of time (a few seconds or longer). Example: Child pauses and listens to father's voice.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never observed </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed once </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed 3 or more times</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Indication of onset vs. offset of sound:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Indication of onset vs. offset of sound: Child is able to indicate when sounds stop and start. Example: Child moves a toy while the adult is vocalizing, stopping when the adult's voice stops, or plays musical chairs appropriately.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				
				</div>
			</div>
			
				<div class = "row">
				<label>Conditioned response to sound:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child conditions to respond predictably to the presence of sound when in a "listening" posture. Example: Child drops a block when he/she hears a sound. </label>
				</div>
				<div class = "col-md-4">
					<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Searching for the source of a sound:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child looks around, but may not necessarily find the sound source. Example: Child glances or moves in search of the sound from a hidden toy.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Identifying a sound source:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label> Child turns to the source of a sound. The child may turn the wrong way initially but continues to search until the correct source is found through listening. </label>
				</div>
				<div class = "col-md-4">
						<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Distance hearing:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child responds to sounds at increasing distances. Example: Child responds when called from another room.</label>
				</div>
				<div class = "col-md-4">
					<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Association of familiar sounds:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child associates a sound with its meaning or anticipated event. Example: Child hears an airplane and points to the sky, or hears a car and goes to the door to look out.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Duration:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child imitates, through babbling or jargon, syllables varying in length, or imitates a rhythmical pattern with a toy. Example: Child produces 3 discrete syllables for "hop hop hop" vs. a long, sustained sound for "mooooo."</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Pitch:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child imitates vocal inflection for common utterances, such as falling pitch in "uh oh", or imitates rising inflection for a question such as "more?"</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Intensity:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child imitates loud vs. quiet sounds. Example: Child uses a loud voice to wake up a doll vs. a quiet voice when the doll is sleeping.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Self-monitoring of speech using auditory model:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child modifies his/her speech to more closely match an adult model. Examples: Child lowers pitch of voice after listening to adult produce a lower-pitched sound, approximates articulation (such as producing "mmm" in response to hearing "moo"), or modifies speech from "pour" to "more" to match a spoken cue. Acquisition of this skill indicates that the child is able to use audition to improve speech production. </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Identification of sounds, words, simple phrases or directions:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child attaches meaning to basic sounds, words and phrases. Examples: Child looks at a toy duck when mom says "quack quack," or picks up a doll for "baby," or carries out the instruction "open the door." </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%) </label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75%+) </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				</div>
			</div>
			
				<div class = "row">
				<label>Auditory memory of words:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child remembers groups of words that contain varying numbers of critical (differing) elements. Example: Child finds "little green ball" versus "big red ball" (two critical or differing elements). </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> None </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 1 critical element</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 2 critical element</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 3 critical element</label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 4 critical element</label></div>
					<div class = "col-md-2"> <label> 4 </label></div>
				</div>
				
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> > 4 critical element</label></div>
					<div class = "col-md-2"> <label> 6 </label></div>
				</div>
			
				</div>
			</div>
			
			<div class = "row">
				<label>Auditory memory of nursery rhymes or songs:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child recites salient parts of a nursery rhyme or song.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> None </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Intonation </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Action</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Keywords </label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Most of all words </label></div>
					<div class = "col-md-2"> <label> 4 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Auditory memory of directions:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child carries out multi-part directions, such as "Put the kitty under the chair, and mommy in the car".</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> None </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 1 step</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 2 step</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 3 step</label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 4 step</label></div>
					<div class = "col-md-2"> <label> 4 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> >4 step</label></div>
					<div class = "col-md-2"> <label> 5 </label></div>
				</div>
				</div>
			</div>
			
			<div class = "row">
				<label>Auditory memory of digits:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child repeats numbers or letters in sequential order, such as "3-6-2-7" or "b-d-t-r".</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> None </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 1 digit</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 2 digit</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 3 digit</label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
				
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> 4 digits or more</label></div>
					<div class = "col-md-2"> <label> 4 </label></div>
				</div>
				
				</div>
			</div>
					
			<div class = "row">
				<label>Auditory processing of descriptions:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>This includes expansion of vocabulary. Example: Child participates in "description games" such as "It's an animal. It says 'moo'". Or, on a higher level, "I'm thinking of something that is red. It's a fragrant flower that grows on a bush. Its stem has thorns. People give them as gifts on Valentine's Day". </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with simple words</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with advenced words</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>	
			
			<div class = "row">
				<label>Auditory processing  of questions:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child answers questions consisting of known vocabulary such as "The baby is hungry! What should we do?" The appropriate response might be picking up the bottle to feed the baby. An example for a more advanced child is "What do you do when you're hungry7" Appropriate answers may be "eat", "get a snack", etc. This does not include over-learned or rote questions, such as "what's that?" but instead indicates processing/synthesis of the information in the question. </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with simple questions</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with advenced questions</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>		
			
			<div class = "row">
				<label>Closure:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child understands and supplies the whole word or message when a part is missing. Example: Child completes the statement "Snow is white, grass is 	", or "Cow, horse and pig are all 	".</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with basic vocabulary</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with advenced vocabulary</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>	
			
			<div class = "row">
				<label>Learning through overhearing:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child has demonstrated acquisition of new vocabulary or language structure that was not specifically taught. Example: Child looks in mirror and exclaims, "I'm such a fright!" in imitation of mother, or repeats a slang phrase that has not been a therapy target.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never observed </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed once</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Observed 3 or more times</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>		
					
			<div class = "row">
				<label>Auditory conversations:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child carries on a conversation using auditory-only cues. Example: Child carries on a conversation in bed in the dark.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with repetition </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes without repetition</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>	
			
			<div class = "row">
				<label>Listens and comprehends while engaged in another activity:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Example: Child listens to and understands a story or conversation while brushing his/her teeth or coloring a picture.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with repetition </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes without repetition</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
								
				</div>
			</div>	
			
			<div class = "row">
				<label>Responds appropriately  to incorrect communication:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child indicates adult's error when presented with a "sabotage" situation, such as asking, "What do you want for breakfast?" at dinnertime or "Let's get ready for bed" in the morning. Response behavior might include a surprised or questioning facial expression, gestures such as shaking head "no", or a verbal response.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes (25%) </label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often (50%)</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always (75%+)</label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
								
				</div>
			</div>		
			
						
       		<div class = "row">
				<label>Conversations on the telephone:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child is able to carry on a conversation over the telephone.</label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with repetition</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes without repetition</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
					
				</div>
			</div>	
			
			
			<div class = "row">
				<label>Use of electronic sound sources:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child is able to understand a message from an electronic sound source, such as a recording, loudspeaker, or radio. This does not include systems coupled to the audio processor, such as FM systems. Example: Child understands the message from a school loudspeaker, or repeats a phrase from the soundtrack of a video. </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> No </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes with repetition</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Yes without repetition</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
					
				</div>
			</div>						
       		
       		<div class = "row">
				<label>Understands in background noise:</label>
			</div>
			<div class = "row">		
				<div class = "col-md-8">
					<label>Child comprehends primary speaker in the presence of background of noise or competing messages, such as in a crowded waiting room, a noisy restaurant, or while music is playing in the therapy room. </label>
				</div>
				<div class = "col-md-4">
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Never </label></div>
					<div class = "col-md-2"> <label> 0 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Sometimes(25%)</label></div>
					<div class = "col-md-2"> <label> 1 </label></div>
				</div>
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Often(50%)</label></div>
					<div class = "col-md-2"> <label> 2 </label></div>
				</div>
				
				<div class = "row">				
					<div class = "col-md-2"><h:selectBooleanCheckbox></h:selectBooleanCheckbox></div>
					<div class = "col-md-8"> <label> Always(75% +)</label></div>
					<div class = "col-md-2"> <label> 3 </label></div>
				</div>
					
				</div>
			</div>	
			
			<div class = "row">
				<div class = "col-md-4"> </div>
				<div class = "col-md-8 text-right"> <label>Total Score: </label></div>
				
			</div>